[2021-12-30 20:48] EnRiX84 opened #295 "[Feat] - Get Photo From Camera with CropImage.activity()"
Hi Canato,
please can you help me?

I have developed a cropimage that takes a photo from camera but the follow code
[code]

don't works with android 11 using latest release.
It works with image from gallery, and from SD card o Storage but does not works with photo.

I have used this version
implementation 'com.theartofdev.edmodo:android-image-cropper:2.8.+'
with java and it worked fine.

I have fo

[2022-01-02 08:28] SaltyBoi31 commented on #24
I have the same issue, but on Android 11. What change did Version 2.0.0 bring to fix the issue? (android noobie here)

[2022-01-02 08:47] SaltyBoi31 commented on #7
@akkie2106 can you please send your java file? I'm having trouble implementing what you have said.

[2022-01-02 08:49] akkie2106 commented on #7
Hi team,
I'll send tomorrow because currently I'm on vacation.

On Sun, 2 Jan, 2022, 14:17 SaltyBoi31, ***@***.***> wrote:

[2022-01-02 08:50] SaltyBoi31 commented on #24
I have the same issue, but on Android 11. What change did Version 2.0.0 bring to fix the issue? (android noobie here)

[2022-01-02 14:15] samiuelson opened #296 "[BUG] - Image disappears in `CropImageActivity` after configuration change"
- Lib Version 4.0.0
 - Reproducible in the sample app

**Describe the bug**
The cropped image disappears in `CropImageActivity` on any configuration change (e.g. screen rotation, device theme switch).

**To Reproduce**
Steps to reproduce the behavior in the sample app:
1. Go to 'Sample of custom activity'
2. Pick an image from storage or from the camera
3. Image is displayed correctly
4. Rotate th

[2022-01-03 08:06] SaltyBoi31 commented on #7
@akkie2106 Good day! Is it now possible for you to send the java file?

[2022-01-04 13:12] hassan-alzubair opened #297 "Different locale file name "temp_file_٢٠٢٢٠١٠٤_١٦٢٨٠٥.png""
I am using localization in my app and picked image name taken by `getUriFilePath()` contains Arabic numbers, which cause issues in some places.

thanks

[2022-01-04 16:29] #297 closed

[2022-01-05 11:21] Canato commented on #294
Hey, sorry for the lack of answers here.

I'm on vacation and traveling until 18/01. Just after this I will have the attention of this repository.

Do not need to wait for me, just letting people know as I'm the main maintenance

[2022-01-05 11:22] Canato commented on #295
Hey, sorry for the lack of answers here.

I'm on vacation and traveling until 18/01. Just after this I will have the attention of this repository.

Do not need to wait for me, just letting people know as I'm the main maintenance

[2022-01-05 11:22] Canato commented on #296
Hey, sorry for the lack of answers here.

I'm on vacation and traveling until 18/01. Just after this I will have the attention of this repository.

Do not need to wait for me, just letting people know as I'm the main maintenance

[2022-01-05 14:41] Marchuck commented on #220
Hello folks 👋
I faced similar issue with  `centerCrop` when I was migrating from legacy to this new library.
When I compared old Java code to the new Kotlin one, I spotted there's tiny change in `applyImageMatrix` [source](https://github.com/CanHub/Android-Image-Cropper/blob/main/cropper/src/main/java/com/canhub/cropper/CropImageView.kt#L1312)

there's no preceding if for scaleType like it was bef

[2022-01-05 15:34] kingspride commented on #261
I just ran some debugging on this matter and I think the error lies somewhere here:
![grafik](https://user-images.githubusercontent.com/45198837/148244317-6e05c9ad-bc02-4d6f-88c1-c6677c8832fc.png)
this is the state after I resized the cropping rectangle, and released it.

as you can see, the newZoom Value remains the same, but shouldnt it be different from mZoom ?

maybe this should be reopened.

[2022-01-11 02:48] donhill opened #299 "[Feat] - conversions"
I saw the migration page but it is very limited. I have the following and wondering how to convert. It seems the API have changed a bit.

for example

`CropImage.activity(imageUri)
                .setAutoZoomEnabled(true)
                .setGuidelines(CropImageView.Guidelines.ON)`

[2022-01-11 17:27] amit7127 opened #300 "Crop option is not showing"
[code]
![Screenshot_1641921988](https://user-images.githubusercontent.com/20200573/148991762-720dfbad-c24d-4876-95bb-18f7402311c8.png)

After selecting a image from gallery/camera -> Screen is opening to select the image area but not showing any crop option. Please check the screenshot attached.

[2022-01-11 19:44] r4jjin opened #301 "[BUG] - "4.0.0"->App crash when clicking on "SAMPLE CALLING CROP IMAGE JAVA->TAKE CAMERA PICTURE BEFORE CALLING LIBRARY WITH URI""
- Lib Version 4.0.0

**Describe the bug & Steps to reproduce**
1. Cloned the project and ran the app.
2. [BUG] - App crash when clicking on "SAMPLE CALLING CROP IMAGE JAVA->TAKE CAMERA PICTURE BEFORE CALLING LIBRARY WITH URI"

[code]

**Expected behavior**
Image should be captured and should be subjected to cropping.

**Media**
![image](https://user-images.githubusercontent.com/6790174/149010318-0

[2022-01-12 07:48] vickyNeji commented on #300
Try using below code inside manifest file

<activity android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

[2022-01-12 07:52] vickyNeji commented on #300
Try using below code inside manifest file
`<activity android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>`

[2022-01-14 08:12] rafibr commented on #7
@akkie2106 Hi, can you send the java file? i have a problem implement this, Thank you

[2022-01-16 10:59] nandezgarcia opened #302 "[BUG] - Error to sinc"
When I snc Gradle file and I try to run app, say me:
Could not find com.github.CanHub:Android-Image-Cropper:${version}.
Required by:
    project :app
Search in build.gradle files

some idea?

[2022-01-16 15:42] LuneblazeApis opened #303 "How we can change the CROP text on the top right to DONE?"
🚨🚨 Important to remember that this library is maintained for free.
You can check the maintainers plans for the library in the Project tab.
If you really want to have some maintainer working in your feature please check the sponsorship options.
But feel free to suggest features and do yourself, this is a community driven open source library

**Is your feature request related to a problem? Please de

[2022-01-18 12:41] Canato commented on #302
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template,

_Is important to remember that my work here is volunteer and to save time and have better answer help me that people use the templates._

Than

[2022-01-18 12:41] #302 closed

[2022-01-18 12:45] Canato commented on #303
We have this method you can setup on the options, let me know if do not solve

[code]

[2022-01-18 12:45] #303 closed

[2022-01-18 12:46] Canato commented on #24
Hey @SaltyBoi31 try to use the latest library version and open a new issue (following the template) so I can help better ^^

[2022-01-18 12:49] Canato commented on #261
On the line `1248` we set `mZoom` equal `newZoom` so is expected to have the same value.

Why you believe they should be different?

[2022-01-18 12:50] Canato commented on #299
Look like is working 🤔

[2022-01-18 12:57] Canato commented on #220
@Marchuck could you please open a PR with the fix? Thanks!

[2022-01-18 12:58] Canato commented on #294
Hey @techker how is this? still and issue?

[2022-01-18 13:01] Canato commented on #295
Hey @EnRiX84 could you please use the latest version, 4, and use the Activity Contracts?

[2022-01-18 13:02] Canato commented on #296
Indeed, an issue. Happy to someone drop a PR fixing it ^^

[2022-01-18 13:03] kingspride commented on #261
Yeah I think its a misunderstanding. sorry.
I'll come back when I did more debugging.

[2022-01-18 13:10] Canato commented on #301
This is fixed in the latest code, will not have a release for it

Thanks for raising!

[2022-01-18 13:10] #301 closed

[2022-01-18 13:50] bhagyae5308 opened #305 "[Feat] - Adding circular cropper corner design with custom color support"
We are using the library to show crop image.  We are having a requirement to show circular crop corner design with custom color. This library doesn't have support for the same. In order to meet the requirement, I have added some changes in the `CropOverlayView` class. Have tried to expose builder methods to set the cropper corner design.

Checking if can I create a pull request to this branch for

[2022-01-18 14:33] Canato commented on #305
Nice work! @bhagyae5308 feel free to drop the PR =D

[2022-01-19 14:06] yoijoe4 commented on #296
Hi, guys :) . This issue is indeed unfitting of this great image-cropper library.
I have tested some different versions and it seems this issue started in release '3.3.4'.
Release '3.2.2.' works fine when the screen rotates.

People looking for a current FIX:
To prevent the issue from happening, I currently set the screenOrientation for the Activity in my Manifest file. It seems to work fine for n

[2022-01-19 14:47] Canato commented on #296
@yoijoe4 thanks for searching this!

@samiuelson this work for you?

Please any of you feel free to drop a PR fixing it ^^

[2022-01-19 14:55] samiuelson commented on #296
This is not a solution. Configuration change happens not only during screen rotation but also on theme switch, locale change, etc. Events like those also break the behavior.

My preferred solution would be to implement ViewModel for CropImageActivity which would survive configuration changes. The ViewModel would intercept user/UI events from CropActivity and compute and expose the current UI state

[2022-01-19 21:46] yoijoe4 commented on #296
@samiuelson You are totally right. I forgot to mention that and I have changed my comment accordingly.

[2022-01-20 09:52] akkie2106 commented on #7
Sure, no problem.
Please find the whole project
https://drive.google.com/file/d/1-VBQjU85pHizYtAzb-Oyh8xpqnEDGOK-/view?usp=drivesdk

On Fri, 14 Jan, 2022, 13:42 Muhammad Rafi B.R., ***@***.***>
wrote:

[2022-01-21 22:19] EnRiX84 commented on #295
@Canato THANK YOU VERY MUCTH! i have resolver my problem followed your suggestion. Post Here my code, maybe I'll can someone else...
I have used this in a FRAGMENT:

[code]
I hope is usefull for some java developer...

Thank you @Canato !

[2022-01-21 22:19] #295 closed

[2022-01-22 12:26] krishanunandan opened #306 "[BUG] - FrameLayout cannot be cast to CropImageView"
I m getting this error

Unable to start activity ComponentInfo{com.test/com.canhub.cropper.CropImageActivity}: java.lang.ClassCastException: android.widget.FrameLayout cannot be cast to com.canhub.cropper.CropImageView

when using
  CropImageContractOptions options = new CropImageContractOptions(outputUri, new CropImageOptions())
                .setGuidelines(CropImageView.Guidelines.ON_TOUCH);

[2022-01-22 16:35] Canato commented on #306
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template,

_Is important to remember that my work here is volunteer and to save time and have better answer help me that people use the templates._

Than

[2022-01-22 16:35] #306 closed

[2022-01-27 09:31] SaltyBoi31 commented on #7
Thank you! I had to do a whole lot of other things to fix my issue, but your code helped a lot.

[2022-01-27 09:33] akkie2106 commented on #7
You're welcome!
Thank you

On Thu, 27 Jan, 2022, 15:01 SaltyBoi31, ***@***.***> wrote:

[2022-01-28 21:09] asnagni opened #308 "[BUG] -"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version 4.0.0

**Describe the bug**
Hi guys,
	I was able to use the library (version 3.1.3 to be more specific ) for cropping for cropping. It was simple to initiate the cropping from my Actictivity.
	I tried to migrate to version 4.0.0 and it’s not working/building. Basically the interface changed. Woul

[2022-02-02 08:41] Canato commented on #308
Hey @asnagni welcome. This is not a bug to open an issue. This is how the library work with the latest updates

Please check this two discussions:
https://github.com/CanHub/Android-Image-Cropper/discussions/286
https://github.com/CanHub/Android-Image-Cropper/discussions/236#discussioncomment-1996311

Would be nice if someone create a Java sample for the java users of the library. We already have f

[2022-02-02 08:41] #308 closed

[2022-02-02 13:04] #305 closed

[2022-02-05 09:36] swagatgithub commented on #26
Have You Implemented in the same way? i did ,but my  ActivityResultCallback is not called..

[2022-02-05 13:00] Canato commented on #26
Hey @swagatgithub not you don't need to implement yourself like Dimiitpk needed on the time he wrote.

You can use the library activity contracts, like is showed on the README and the sample folder

[2022-02-09 07:48] pradeep-orbi opened #314 "[BUG] - Not working on Vivo phones"
- Lib Version 3.3.5

**Describe the bug**
On some of the devices, image is shown as blank

**Media**
(https://drive.google.com/file/d/1UNHS8QdOxx5TlrtibBIr9FzQzeIvryJc/view?usp=sharing)

**Smartphone (please complete the following information):**
 - Device: Vivo
 - OS: Android 11

[2022-02-09 08:40] Canato commented on #314
Please use the latest library cause many bugs have been fixed

e.g.

[2022-02-09 23:03] #300 closed

[2022-02-09 23:03] #294 closed

[2022-02-11 11:08] paoloburzacca opened #315 "[BUG] - CropImage.toOvalBitmap crash"
After resizing image I call CropImage.toOvalBitmap crash but it crashes with this error

**Software rendering doesn't support hardware bitmaps**

it seems an issue for Android over O api.
I tested it on physical device with Android 11 and Android 9 and there is no way to make it work.
I tried to change android:hardwareAccelerated to false or true, but nothing.

I need to crop my image to round

[2022-02-11 11:55] #315 closed

[2022-02-15 15:35] shweta30sharma opened #316 "[BUG] - Cannot find getActivityResult() while migrating from ArthurHub to CanHub"
CropImage.ActivityResult result = CropImage.getActivityResult(data);

Calling above code which is working fine with arthur image cropper lib.  So, what I mean is getActivityResult() not available in CropImage class.

[2022-02-15 15:46] #316 closed

[2022-02-15 15:47] Canato commented on #316
Plus on our [guide](https://github.com/CanHub/Android-Image-Cropper/wiki/%F0%9F%9A%A8-How-to-migrate-Android-Image-Cropper--%F0%9F%9A%A8) you can read

Everything on the guide ^^

[2022-02-16 13:27] shweta30sharma opened #317 "[BUG] - No method find when migrating to Can Hub"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code
No, I cannot reproduce the  bug in the sample code.

 - Lib Version [e.g. 1.1.0]
 com.github.CanHub:Android-Image-Cropper:4.1.0

**Describe the bug**
A clear and concise description of what the bug is.
I am migrating from 'com.theartofdev.edmodo:android-image-cropper:2.8.+' to 'com.github.CanHub:Android-Image-Cr

[2022-02-16 13:43] Canato commented on #317
Next time, please add a title to your issue please =D

## About your issue:
- You need to use Activity Contracts, like we explain in the [migration guide](https://github.com/CanHub/Android-Image-Cropper/wiki/%F0%9F%9A%A8-How-to-migrate-Android-Image-Cropper--%F0%9F%9A%A8)

=============== IMAGE ===============
![image](https://user-images.githubusercontent.com/15942449/154275683-02ab9727-e70d-481c

[2022-02-17 07:55] shweta30sharma commented on #317
@Canato I've changed my version to 3.3.6

My code is building fine and app is getting installed too, but my cropped image is not uploading.

result.getUriContent() is

content://com.google.android.apps.photos.contentprovider/0/1/content%3A%2F%2Fmedia%2Fexternal%2Fimages%2Fmedia%2F278973/ORIGINAL/NONE/image%2Fjpeg/39327663

Also,

result.getUriContent().getPath() is

/my_images/Pictures/cropped2207

[2022-02-17 08:08] shweta30sharma commented on #317
Getting this error in LogCat.

Unable to decode stream: java.io.FileNotFoundException: /my_images/Pictures/cropped981662640046948234.jpg: open failed: ENOENT (No such file or directory)

[2022-02-17 09:08] Canato commented on #317
`result.getUriContent().getPath();` should not be use, please use one of the methods we have in the README and on the sample codes, like:

`result.uriContent` for `content://...` schema or `result.getUriFilePath(context, true)` for `file://` schema

[2022-02-17 09:45] shweta30sharma commented on #317
Thanks a lot man! @Canato .  Using result.getUriFilePath(context, true) solved problem.

[2022-02-17 09:46] Canato commented on #317
Happy that we got there \o/!!!

[2022-02-17 09:46] #317 closed

[2022-02-17 12:51] kingspride commented on #261
I think I found the cause of the shadow bug:
as long as you dont have `getCroppedImage()` or `.croppedImage` in the `setOnSetCropOverlayReleasedListener`, the bug stays away.
but if you call it, the image zoom animation gets canceled in `getCroppedImage` on line 553 in `CropImageView.kt`

also, if I would use `croppedImageAsync()` in combination with `setOnCropImageCompleteListener`, the shadow bu

[2022-02-17 12:55] RageshAntony opened #318 "Unable to resolve com.canhub ?"
After adding the library and resync gradle , The classes not resolve

The package com.canhub showing 'unable to resolve ' error

When trying to run build , I am getting this error :

[code]

My current gradle version is 5.6.1 . Is this a reason ? (can't update due to some breaking changes)

I tried clean project , invalidate and restart etc , no solution

Also checked my gradle deps , they are cor

[2022-02-17 13:28] Canato commented on #318
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

(e.g. you didn't share the library version, if you could reproduce on the sample app, which language you are on... just saying "Also checked my gradle deps , they are correct" doesn't help me to understand, would be

[2022-02-17 13:28] #318 closed

[2022-02-17 13:53] Canato commented on #261
Will take a better look ASAP, but if you found consistency, let's open a PR and merge it =D

[2022-02-18 12:23] kingspride commented on #261
ready to merge :)

[2022-02-18 15:49] Canato commented on #261
@kingspride I'm having a little of problem finding time to test the ticket, but will soon XD. Thanks for the amazing work

[2022-02-20 16:22] #261 closed

[2022-02-22 09:20] Morons opened #320 "[BUG] - Could not find com.github.canhub:android-image-cropper:4.1.0."
[code]
**I have several project with the same issue!**

`ext {android_image_cropper_version = "4.1.0"}`
[code]
Gradle Sync works as expected and library seem to download perfectly no errors BUT:
Upon Build->Rebuild Project the Error occurs

Further Investigation reveals in External Libraries "Gradle:com.github" does not exist - I can see al my other implemented Libraries there
there fore Gradle is

[2022-02-23 01:48] thekingrenz23 commented on #320
![Screen shot](https://user-images.githubusercontent.com/24559541/155249251-5dae0e5f-54d7-40db-9ee2-8a7012e043a8.png)

The same issue tried your solution

[2022-02-23 09:46] dovydaskaupas commented on #320
I am still facing the same issue while using **com.github.CanHub:Android-Image-Cropper** (copied it direclty from the comment above)

![dependency issue 23 02 22](https://user-images.githubusercontent.com/24279159/155294816-845f3dcf-0cfc-4f53-aa9e-57d8e9f298ca.PNG)

[2022-02-28 12:58] jaikumar0702 commented on #320
Hi @Canato  I am facing the same issue , could you please help me?
Actually it showing error when i am adding Maven url{  }

![Screenshot (191)](https://user-images.githubusercontent.com/70019204/155987102-7d5b0f9a-6096-4bd5-8d32-b1c2254942b2.png)
![Screenshot (190)](https://user-images.githubusercontent.com/70019204/155987106-cb9c820c-e166-4af2-b449-68d2b052a9c8.png)
![Screenshot (192)](https://u

[2022-02-28 13:04] Canato commented on #320
Thanks for the images @jaikumar0702.

try to add `mavenCentral()` to your code, like:

[code]

And run `File > Invalidate Caches > Invalidate and Restart` option to see if works

[2022-02-28 13:20] jaikumar0702 commented on #320
I have tried same but still getting this error
![Screenshot (193)](https://user-images.githubusercontent.com/70019204/155990079-2d043c77-780d-469a-a19d-efb1657887d3.png)
r

[2022-03-01 10:05] Canato commented on #320
@jaikumar0702 still with the issue? not sure what I can help with =// look like maven is not working for you, is working for other libs ?

[2022-03-02 23:08] #314 closed

[2022-03-03 15:20] scana commented on #220
@Canato @Marchuck this is actually not the only part of code that is missing.

The thing is that together with @Marchuck we were using forked version of the old library and difference mentioned by him is actually a fix that we have implemented on our own (and never shared 🤦)

I'll open a PR for it.

[2022-03-06 01:35] Devenom1 opened #323 "[Feat] - Add Skip Editing option to CropImageContractOptions"
I've been using the original library and recently discovered this one. Since I required a feature in the original library I've added it to my project and modified the source code.

This is the feature I had added to the original library. I had an option to skip editing the image entirely because I don't require users to edit the images everywhere in my app. I basically want to skip the editing ste

[2022-03-06 14:49] Devenom1 opened #325 "[Feat] - Add an Intent Chooser as an alternate to current Alert Dialog to choose image source"
I've like the way you've maintained this library. I have added an alternate to choose the image source. You currently have and AlertDialog to choose from Camera or Gallery apps. I would like to add an intent chooser as an alternate. It seems to be working well on all android versions I've tested it on so far.

I'll add a PR for it

[2022-03-07 08:48] Canato commented on #323
Looks nice @Devenom1

But in the case the user do not need to crop the image, why we don't just retrieve it directly without the library usage?

[2022-03-07 08:58] Canato commented on #325
Thanks =D!

We make this change because of the bugs we have related to MIUI (Xiaomi)
1. [PR](https://github.com/CanHub/Android-Image-Cropper/pull/275)
1. [BUG - MIUI (Xiaomi) cant pick image from gallery](https://github.com/CanHub/Android-Image-Cropper/issues/253)
1. [BUG - FileUriExposedException when trying to lunch only camera intent](https://github.com/CanHub/Android-Image-Cropper/issues/274)

[2022-03-07 12:10] Devenom1 commented on #323
Hi @Canato, I had thought the same before but this is why adding this option became very useful.

1. In our app we need users to pick images in multiple places. It's only in some places that we in the app we don't need the images edited. Adding this option lets us keep the UI consistent.
2. The library provides the automatic editing feature that proves to be very useful. Like we can set the qualit

[2022-03-07 12:15] gaganO7 commented on #66
Hey @Canato  i was using your library and stumble upon one problem which is the below method

setImagePickerContractOptions(
                        PickImageContractOptions(includeGallery = true, includeCamera = false)
                    )
this above method, i cannot find in your CropImageContractOptions file, so where i can find this method.

[2022-03-07 12:20] gaganO7 opened #327 "[BUG] -Cannot find the setImagePickerContractOptions method in the CropImageContractOptions Class"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [e.g. 1.1.0]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

[2022-03-07 12:29] Devenom1 commented on #325
I have been checking the issues you mentioned above. I'm not sure I've managed to fix all these issues.

Our apps have between 5k-20k users as of now. In one of our apps the ArthurHub version of the library that I modified is used a lot. This app is mostly being used by users with Mi, Vivo, and Oppo phones. We have a close interaction with these users and we've faced a lot of issues you've mention

[2022-03-07 12:29] Canato commented on #327
@gaganO7 please complete the template information. Otherwise I need to ask the same information to help you

[2022-03-07 12:32] Canato commented on #325
Yes, I think this is the best option. So who prefer Intent Chooser can select ir

[2022-03-07 18:49] Devenom1 commented on #325
Alright. Awesome @Canato I will try and make that an option. I will also update the required documentation you mentioned in the PR. If you have any tech input about how we can keep this intent chooser optional without changing much of the code it would be great. I'll still try to find a good way to do it

[2022-03-07 20:40] #220 closed

[2022-03-07 20:44] Canato opened #328 "[BUG] - Wrong image behaviour when changing scale type"
Happen on Sample code - check video

 - Lib Version `4.1.0`

**Describe the bug**
Check video

**To Reproduce**
1. Open sample app
2. First button `Sample using cropimageview`
3. Settings option (FAB right side)
4. Select another Scale Type as `Center Crop`
5. Observe image behaviour

**Media**

https://user-images.githubusercontent.com/15942449/157114811-aabcf7a8-a8bf-476d-852b-e2d6eb67ae79.mp4

[2022-03-07 20:44] Canato commented on #327
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template,

_Is important to remember that my work here is volunteer and to save time and have better answer help me that people use the templates._

Than

[2022-03-07 20:44] #327 closed

[2022-03-07 20:48] Canato commented on #323
Nice, let's merge when the PR is ready

[2022-03-07 20:49] Canato commented on #325
I believe the easy solutions is a simple Boolean option for AlertDialog or Default intent into the library options, like we have for skip PR you did

If you want, you can make both in the same PR, just need 2 changelog entries. Or we can keep split

[2022-03-08 15:32] pmrzygweb opened #329 "What would be the easiest way to add one more button in built-in activity?"

[2022-03-08 17:05] Canato commented on #329
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

If this is a question only you can use [discussions](https://github.com/CanHub/Android-Image-Cropper/discussions)

I will **close** 🔴  this issue so you can reopen following the template,

_Is important to remember t

[2022-03-08 17:05] #329 closed

[2022-03-09 09:10] #323 closed

[2022-03-10 10:04] pradeep-orbi opened #330 "Bad class file error : class file has wrong version 55.0, should be 52.0"
- Lib Version 3.3.5

**Describe the bug**'
I'm getting this error
/files/databinding/ActivityImageCropBinding.java:15: error: cannot access CropImageView
import com.canhub.cropper.CropImageView;
                         ^
  bad class file: /Users/pradeepreddy/.gradle/caches/transforms-3/a44d3bdf15df3609f438fbe5aa746754/transformed/jetified-Android-Image-Cropper-3.3.5-api.jar(com/canhub/cropper/Cro

[2022-03-10 10:19] Canato commented on #330
Hey @pradeep-orbi what are you Java Version, SDK version, Gradle version, JVM, Java SE

The information from your project and from your machine too. Important to check if you have multiple Java version installation (less liked to happen, but worth to take a look)

[2022-03-10 10:26] pradeep-orbi commented on #330
❯ java -version
openjdk version "17" 2021-09-14
OpenJDK Runtime Environment Homebrew (build 17+0)
OpenJDK 64-Bit Server VM Homebrew (build 17+0, mixed mode)

compileSdkVersion 30
gradle-6.8.1-bin.zip

<img width="1000" alt="Screenshot 2022-03-10 at 3 54 25 PM" src="https://user-images.githubusercontent.com/78588549/157642479-8fb2f167-f55b-4c27-a0d7-73818bb37666.png">

[2022-03-10 10:29] Canato commented on #330
Can you try to update to Java 11 ?

[2022-03-10 11:58] pradeep-orbi commented on #330
Any idea on what is the root cause for this error ?
class file has wrong version 55.0, should be 52.0

[2022-03-10 13:01] Canato commented on #330
Did you try Java 11?

[2022-03-10 13:04] pradeep-orbi commented on #330
yes, did not work.

[2022-03-10 14:20] Canato commented on #330
It means your Java runtime version is 1.8, but your compiler version (javac) is 11.
To simply solve it, just advance your JVM version to 11

1. Select "File" -> "Project Structure".
2. Under "Project Settings" select "Project"
3. From there you can select the "Project SDK".

But if you don't want to change the Java runtime version, then do the following steps:
- `JAVA_HOME= "your jdk v11 folder pa

[2022-03-11 04:32] StampixSMO opened #331 "[Feat] - Keep EXIF data"
**Is your feature request related to a problem? Please describe.**
After cropping an image, all original exif data is removed.

**Describe the solution you'd like**
The `Orientation` value being reset is fine, but the other metadata also seems to be missing. Can we keep the other data?

**Describe alternatives you've considered**
Reading out the EXIF before cropping and then placing it back, but t

[2022-03-11 09:18] Canato commented on #331
Hey @StampixSMO sorry not sure what you mean by `EXIF data`

And btw, can you please clear the text issue with the templates parts you are not using? Just to make the read easier ^^

[2022-03-11 09:20] pradeep-orbi commented on #330
After changing to Java 11, i was getting another error, which was specific to MacBook M1 chip. Found the solution from this link.
[](https://stackoverflow.com/questions/62131564/a-failure-occurred-while-executing-org-jetbrains-kotlin-gradle-internal-kaptexec)
It got resolved after adding the following to project build.gradle file
[code]

[2022-03-11 09:20] #330 closed

[2022-03-11 09:26] StampixSMO commented on #331
@Canato Thanks for the quick response, by exif data I mean the exif headers that are present in JPG files.

They contain data such as e.g. the maker of the smartphone, etc .. The latitude and longitude of the picture taken ...

All this data gets cleared when cropping.

[2022-03-11 12:47] Canato commented on #331
Interesting. Indeed would be nice to create new one, with the information of the device it was cropped, when was cropped etc!

Would be great to be done. Feel free to drop the PR. And will add some labels to see if anyone else feel like doing it ^^

If no one take ownership of this feature the robot will close automatically in some days =p

[2022-03-14 17:23] rempawl opened #332 "[Feat] - Adding different type of Exception for crop cancel."
Is it possible to add some CropCancellationException instead Exception(msg) here?
[code]
 then it would be more convenient to differentiate it from other exceptions using is operator instead ==

[2022-03-15 09:09] Canato commented on #332
Good suggestion. Yeah free to people to create a `CropException` class so we can use in our Exceptions.

Feel free to drop a PR or let's see if someone will get this

[2022-03-16 16:25] xvlaze opened #334 "[BUG] - AlertDialog can always be cancelled, which leads to a black CropActivity"
- Lib Version 4.1.0

**Describe the bug**
When extending `CropImageActivity`, the `AlertDialog` is cancellable if touched outside. If the user accidentally touches outside the dialog, it is left into a black `CropImageActivity` and the dialog never comes back. If trying to override the method after my `CropImageActivity` extension's `onCreate`:

[code]
...no custom title is assigned, plus the dial

[2022-03-18 11:32] Canato commented on #334
Indeed, good spot. Will work on listen to dismiss action when I have time,

Free to any one jump in and fix this

[2022-03-21 15:14] #296 closed

[2022-03-22 10:38] HafijurRahmanEjaro opened #337 "[Feat] - Set Fix width for cropper"
Can we fix the width only height can crop?

[2022-03-23 15:25] Dayvin30 opened #338 "[Feat] - does a java version exist ?"
does a java version exist ?

[2022-03-23 15:55] Canato commented on #338
Hey @Dayvin30 welcome to the library.

The best place to ask questions would be in [discussions](https://github.com/CanHub/Android-Image-Cropper/discussions)

You can spot on the README:

[Java Sample](https://github.com/CanHub/Android-Image-Cropper/tree/main/sample/src/main/java/com/canhub/cropper/sample/crop_image_java)

This library works with Java and Kotlin code

[2022-03-23 15:55] #338 closed

[2022-03-23 16:28] Devenom1 commented on #325
Alright. I'm reworking the intent chooser code as per your suggestion. Will try to get it live asap

[2022-03-24 12:20] hussi-azam opened #339 "Cannot resolve symbol 'CropImage'"
I have added  implementation 'com.github.CanHub:Android-Image-Cropper:4.2.0' in gradle, but i am unable to import CropImage and CropImageActivity

[2022-03-24 12:48] Canato commented on #339
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template,

_Is important to remember that my work here is volunteer and to save time and have better answer help me that people use the templates._

Than

[2022-03-24 12:48] #339 closed

[2022-03-24 15:17] hussi-azam opened #340 "[BUG] - Error while Launching CropImage"
class file has wrong version 55.0, should be 52.0
    Please remove or make sure it appears in the correct subdirectory of the classpath

[2022-03-24 15:19] Canato commented on #340
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template,

_Is important to remember that my work here is volunteer and to save time and have better answer help me that people use the templates._

Than

[2022-03-24 15:19] #340 closed

[2022-03-28 07:07] StampixSMO commented on #331
I tried to do this but I'm not sure about the performance. You can use Apache Commons Imaging: https://commons.apache.org/proper/commons-imaging/

I didn't succeed yet, might have a look again later!

[2022-03-28 12:24] sixdaystudio commented on #199
Anyone still facing this bug? its is happening to me too on Android 8, 9, 10, 11+

[2022-03-28 14:18] Cizzl opened #341 "[Feat] - Nuget Package"
Hi, I want to ask if there will be a nuget package for this project? Like https://www.nuget.org/packages/com.theartofdev.edmodo.cropper/

[2022-03-28 17:18] Canato commented on #334
Yes @RemiMabsout please =D

[2022-03-29 14:11] CHetan7-web opened #342 "Cropped Image uri not working"
After cropping the image , uri of image is showing location like this  /my_images/Pictures/cropped6141929761209295842.png: open failed: ENOENT (No such file or directory)
I know it is related to scoped storage and i can't do anything because startCrop is only returning URI which doesn't exist

[2022-03-29 14:14] Canato commented on #342
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template,

_Is important to remember that my work here is volunteer and to save time and have better answer help me that people use the templates._

Than

[2022-03-29 14:14] #342 closed

[2022-03-29 15:43] RemiMabsout commented on #334
@Canato i may have a fix but before i try, is the fact that it's an AlertDialog important ? Because it seems like for unknown reasons that i can't use setCanceledOnTouchOutside() with an AlertDialog (which is weird 'cause AlertDialog extends Dialog and Dialog has the method setCanceledOnTouchOutside() ) and btw setCancelable() is for the back key so keeping it will fix a bug that has not happened

[2022-03-29 17:14] #334 closed

[2022-03-30 12:22] ahdidou-mohamed commented on #199
I'm not facing the problem after upgrade to the latest version : from 4.1.0 -> 4.2.0
It's working like a charm in Android 11

[2022-03-30 13:42] meshileya commented on #199
i am facing the issue while on android 11+ using Samsung

[2022-03-31 06:27] #341 closed

[2022-04-01 11:05] #332 closed

[2022-04-03 09:46] #325 closed

[2022-04-06 11:19] sanvean commented on #269
Hi @hiteshsarsava @Canato was a PR ever raised and merged for this issue? As seeing the same crash with library version 4.1.0 (same device type - Nexus 5X running Android 8.1.0).

[2022-04-06 11:22] Canato commented on #269
@sanvean no PR was open for it (nothing linked on this issue) and the stale bot close it cause no one was working on it =/

[2022-04-06 11:26] sanvean commented on #269
Ah I see. @hiteshsarsava any chance you could submit the PR for this one? Sounds like you've identified the exact change required to solve this issue?

[2022-04-06 14:38] Blader-1 opened #349 "[BUG] - Android-image-cropper ersion 4.2.0"
I present the following problem with the android-image-cropper library since I am implementing it in my android studio project and well I need the library to crop the images, I have version 4.2.0 but in my code it generates an error syntax, the truth is I don't know much about android studio because I'm new and I would like to receive help from someone more experienced than me to solve this error,

[2022-04-06 14:55] Canato commented on #349
Hey @Blader-1 check the [Java Saample](https://github.com/CanHub/Android-Image-Cropper/blob/main/sample/src/main/java/com/canhub/cropper/sample/crop_image_java/app/SCropImageFragmentJava.java)

We don't call `CropImage.activity` we should call by contract
`private final ActivityResultLauncher<CropImageContractOptions> cropImage = registerForActivityResult(new CropImageContract(), presenter::onCrop

[2022-04-06 14:55] #349 closed

[2022-04-10 08:26] alpeshrathod25 opened #350 "[Feat] - Perspective Feature"
Can you please explain how to manage image perspective feature using this library? I have gone through the code and looking for this feature if you can help.

[2022-04-10 13:43] Canato commented on #350
Not sure what you mean by image perspective. Could you provide a example of the result expected? 😬

[2022-04-10 14:12] alpeshrathod25 commented on #350
Uploading XRecorder_10042022_193852.mp4…

Please look at this.

[2022-04-10 14:15] Canato commented on #350
You need to let the uploading finish ^^ @alpeshrathod25  hahahaha

[2022-04-10 14:21] alpeshrathod25 commented on #350
Hahaha, sorry please check on this given link.

https://www.dropbox.com/s/hn0ncir1fez9btz/xrecorder_10042022_193852.mp4?dl=0

[2022-04-10 16:43] Canato commented on #350
The library does not have this feature, will let this issue open in case someone wanna develop it.

In case no one take ownership the issue will close it self

[2022-04-11 13:08] kmrn777 opened #351 "Cannot resolve method 'getUri' in 'ActivityResult'"
I have 2 fragments Add and Profile and I have public void onActivityResult in both of them. I get same errors in both of them: Uri image = result.getUri();   and   Uri uri = result.getUri();   can you help me fix it?
![Screenshot (340)](https://user-images.githubusercontent.com/94496584/162746118-08e9bed5-33ed-4798-939f-02184a36fd5f.png)
![Screenshot (341)](https://user-images.githubusercontent.co

[2022-04-11 13:17] Canato commented on #351
Hey @kmrn777 welcome to the library

please check the [README](https://github.com/CanHub/Android-Image-Cropper/blob/main/README.md) or the [How to migrate Android Image Cropper from arthur hub repo](https://github.com/CanHub/Android-Image-Cropper/wiki/%F0%9F%9A%A8-How-to-migrate-Android-Image-Cropper--%F0%9F%9A%A8) guide or the [java samples](https://github.com/CanHub/Android-Image-Cropper/tree/ma

[2022-04-11 13:17] #351 closed

[2022-04-11 13:22] kmrn777 commented on #351
on my build.gradle (module) i have     implementation 'com.github.CanHub:Android-Image-Cropper:3.3.6'
so why i still have this error? i did migrate everything correctly.

[2022-04-11 13:51] kmrn777 commented on #351
@Canato i don't know how to change my code now in order to make it work.

[2022-04-11 15:26] kmrn777 commented on #351
@Canato i posted it on first issue

[2022-04-11 15:27] kmrn777 commented on #351
![Screenshot (341)](https://user-images.githubusercontent.com/94496584/162774035-40d0b024-da7e-440e-a029-c89219b849f7.png)

[2022-04-11 15:27] kmrn777 commented on #351
@Canato do you see it now?

[2022-04-11 15:29] Canato commented on #351
I this screenshot I can see `Uri uri = result.getUri();` please use `Uri uri = result.getBitmap(context)`

[2022-04-11 15:37] Canato commented on #351
1 - You need to provide the correct context. Just writing `context` without defining a variable will not magically solve the problem. Time to google a little and learn a little more =). This shows a little laziness from your side, which makes me lazy to help. I'm trying to help you here, but I need to know you are really trying. Not just copy and paste my code without trying to understand it.

2 -

[2022-04-11 15:41] kmrn777 commented on #351
![Screenshot (344)](https://user-images.githubusercontent.com/94496584/162778342-daae9492-c486-4919-b8ad-5cd05d17d78f.png)
@Canato i am trying, i did google much but im seriously stuck on this uri

[2022-04-11 16:01] Canato commented on #351
Don't worry you will get there. =)

Can you try `Uri uri = result.uriContent`

[2022-04-11 16:05] Canato commented on #351
Sorry, this is Java, you probably need
`Uri uri = CropImage.getActivityResult(data).getUriContent();`

But try to change and learn kotlin and activity contracts.

Working with old tools will make your life harder =/

[2022-04-11 16:54] Vladimir999666119 commented on #320
Добрый день. У меня проблема с добавлением библиотеки.. и прошлую версию от Артура тоже не ставиться. А точнее не находит её андройд студия. Посмотрел кучу всего в интернете ничего не помогает. Вроде все сделал по инструкции. Хотя пробовал другую библиотеку похожую на эту тоже не получается. Хотя другую библиотеку добавил без проблем это пикасо
![IMG_20220411_195216_774](https://user-images.github

[2022-04-11 17:55] Vladimir999666111 commented on #320
Good afternoon. I have a problem with adding a library.. and the last version from Arthur is also not put. Or rather, the android studio does not find it. I looked at a bunch of things on the Internet, nothing helps. It seems to have done everything according to the instructions. Although I tried another library similar to this one, it also does not work. Although I added another library without a

[2022-04-11 18:10] Vladimir999666111 commented on #320
and where to find it in Java. why only kotlin? Arthur had Java, and you had Kotlin.

[2022-04-11 21:40] kmrn777 commented on #351
@Canato i will learn kotlin, i agree with you. but i already started this project in java so till the end you know. btw, i did change into Uri uri = CropImage.getActivityResult(data).getUriContent(); i still have error.
![Screenshot (345)](https://user-images.githubusercontent.com/94496584/162838076-53f03d45-4dba-4039-8fb0-37e8170d4cb7.png)

[2022-04-12 08:13] Canato commented on #351
what are the options after the `...Result(data).` ??

Sorry for not been helpful as much as I would like, but this is old code and Java so I need to remember the context, any of my projects uses Javas of this old version of the library =/

[2022-04-12 10:25] kmrn777 commented on #351
yeah i understand you, don't worry. here:
![Screenshot (346)](https://user-images.githubusercontent.com/94496584/162940250-2b1d15d6-22bf-43fa-b9e4-4a8b5e81b7c7.png)

[2022-04-13 03:14] sureshseenis opened #352 "[BUG] - Permission Denial: starting Intent act=android.media.action.IMAGE_CAPTURE"
It not asking the permission straightaway it crashed

[2022-04-13 05:58] TranHuy2709 commented on #320
It solved my problem. Thank you so much

[2022-04-13 08:14] Canato commented on #352
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template that will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template

_Is important to remember that my work here is a volunteer and to save time and have better answers help me that people use the templates._

T

[2022-04-13 08:14] #352 closed

[2022-04-13 11:18] piyush921 opened #353 "[BUG] - can't see the crop button"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version - 3.3.5

**Describe the bug**
Can't see the crop button. So, can't crop the image.

**To Reproduce**
Steps to reproduce the behavior:
1) pick image from gallery
2) open crop image screen
3) But crop button not showing

**Expected behavior**
There should be a crop button on cropping screen

**Medi

[2022-04-13 11:32] Canato commented on #353
Hey @piyush921 thanks for the issue. Does your app theme as no action bar?

If yes, you should add this
[code]

[2022-04-14 04:06] piyush921 commented on #353
Hi Canato,
Thanks for the reply.
My default theme for app is Theme.MaterialComponents.Light which is set in application tag in manifest file.

And adding android:theme="@style/Base.Theme.AppCompat" to my activity does not resolved my issue.

[2022-04-14 07:24] Canato commented on #353
@piyush921 not sure, this is some versions behind. Suggest you use the latest version so we can check better what can be the issue.

You can check the sample code too.. maybe get some insight there 🤔

You don't add to your activity, you add to `CropImageActivity` exactly like the code I paste is written.

[2022-04-14 09:30] Canato commented on #351
Sorry @kmrn777 no more ideas here, would need to spend some time looking into the code for a better help =((

Hopefully you can return to the code base in this release tag and check the sample code to see what works

[2022-04-15 14:58] vishalkale commented on #351
@kmrn777 Workaround is to create a Kotlin extension function like

**_GetUri.kt_**
`fun CropImage.ActivityResult?.getUri(): Uri? {
    return this?.uriContent
}`

and in `onActivityResult` -> `Uri uri = GetUriKt.getUri(CropImage.getActivityResult(data));`

Hope this helps you! 👍

[2022-04-15 15:23] kmrn777 commented on #351
@vishalkale thank you but i'm writing on java :(

[2022-04-15 17:47] vishalkale commented on #351
You don't have to convert any existing files to Kotlin only 1 extension file and it should work.

[2022-04-15 18:01] kmrn777 commented on #351
@vishalkale wait what do you mean? again.

[2022-04-15 18:05] vishalkale commented on #351
Just create 1 Kotlin file `GetUri.kt` which contains
`fun CropImage.ActivityResult?.getUri(): Uri? { return this?.uriContent } `

[2022-04-15 18:09] kmrn777 commented on #351
@vishalkale on fragments where this Profile and Add java classes containes?

[2022-04-15 18:18] kmrn777 commented on #351
![Screenshot (354)](https://user-images.githubusercontent.com/94496584/163606503-41f30f58-bcc9-4a0e-9710-867dca53d268.png)
@vishalkale like this?

[2022-04-15 23:53] gabrielgcma opened #354 "Change Step 1 from the README file"
I'm very new to Android Studio and mobile development as a whole, so I'm just trying to help here, if I'm saying anything wrong don't mind me.

**Is your feature request related to a problem? Please describe.**
The 1st step of the README instructions tells us that we have to add the JitPack repo to our root build.gradle, but as far as I'm concerned, we now have to go to the settings.gradle and to

[2022-04-16 00:03] lazyDevPro commented on #351
@kmrn777 Here is the solution:
 @Override
    public void onActivityResult(int requestCode, int resultCode, Intent data) {
        super.onActivityResult(requestCode, resultCode, data);
        if (requestCode == CropImage.CROP_IMAGE_ACTIVITY_REQUEST_CODE) {
            if (resultCode == RESULT_OK) {
                Uri resultUri = CropImage.getPickImageResultUriContent(MainActivity.this, data);

[2022-04-16 12:10] BitTim commented on #353
I had the same problem and fixed it by adding what @Canato originally mentioned [here](https://github.com/CanHub/Android-Image-Cropper/issues/353#issuecomment-1097942114) in the `AndroidManifest.xml` within the application tags:

[code]

[2022-04-16 18:03] kmrn777 commented on #351
@lazyDevPro do you know what i should do now? because yeah i checked your code it doesn't work.

[2022-04-16 21:43] vishalkale commented on #351
Just get rid of `class GetUri` and only keep function
` fun CropImage.ActivityResult?.getUri(): Uri? { return this?.uriContent } `

[2022-04-17 11:09] kmrn777 commented on #351
@vishalkale my Profile fragment is fine now, but Add fragment there's this new error:
![Screenshot (356)](https://user-images.githubusercontent.com/94496584/163711841-7e8b738c-572f-40f8-a5a7-74edd3e3ecd2.png)

[2022-04-17 20:33] lazyDevPro commented on #351
@kmrn777 Here is the solution working 100% worked for me:
Step 1:
![2022-04-18_01-53-44](https://user-images.githubusercontent.com/49026890/163731038-63a524c4-8123-4d35-8318-c1c44b8ccb9f.jpg)

Step 2: You may get an error while syncing cause of the new way of android Gradle settings, just remove highlighted code from `build.gradle` and sync
![2022-04-18_01-54-38](https://user-images.githubusercont

[2022-04-18 10:52] kmrn777 commented on #351
@lazyDevPro hello. i did all your steps but i still have this same error:
![Screenshot (357)](https://user-images.githubusercontent.com/94496584/163798447-521d92d4-12e7-4c8e-bb3e-4862cea149e4.png)

[2022-04-18 11:49] piyush921 commented on #353
It worked, thanks

[2022-04-18 11:49] #353 closed

[2022-04-19 05:28] Canato commented on #354
Don't worry this is an open-source community all inputs are welcome and we need this to keep this going =D.
We maybe request more information and updates, but is everything part of the process of growing together!

Could we get some documentation on why this changed and why is needed now? 🤔
Just trying to understand how it work before and/or work for some people and now it changed.
Because [jitpac

[2022-04-19 05:32] Canato commented on #351
@kmrn777 you probably need to add `@JvmStatic` to your method inside you new class

Indeed @lazyDevPro we need to update the guide, someone who does this migration could provide new steps. The library changed so much so far.

[2022-04-19 19:54] lazyDevPro commented on #351
@kmrn777 remove `class GetUri{` and only keep `fun CropImage.ActivityResult?.getUri(): Uri? { return this?.uriContent }` Like shown in the image

![2022-04-20_01-21-42](https://user-images.githubusercontent.com/49026890/164084483-bd66744c-4b92-4d2d-9c04-8f288e53de19.jpg)

then in main `onActivityResult()`

![2022-04-20_01-22-59](https://user-images.githubusercontent.com/49026890/164084758-b0d49e72

[2022-04-19 19:59] lazyDevPro commented on #351
I'll surely do that, the current solution needs a kotlin class and kotlin compiler in java code and that is not very efficient I am looking for a solution by using java only and after that, I'll share the details to update the migration guide.

[2022-04-19 20:43] lazyDevPro commented on #351
@vishalkale can you explain how this function `fun CropImage.ActivityResult?.getUri(): Uri? { return this?.uriContent }` accesses the `ActivityResult` constructor to get `uriContent`? and can it be replicated in java?

[2022-04-19 21:33] kmrn777 commented on #351
@lazyDevPro hey man. so i exactly did what you've said. GetUri.kt is fine, Profile fragment is also fine, but Add fragment there's an error. you will see from screenshots:
![Screenshot (388)](https://user-images.githubusercontent.com/94496584/164105444-d9f9d550-aa09-4622-9555-706db1cd2199.png)
![Screenshot (389)](https://user-images.githubusercontent.com/94496584/164105446-b79e61a2-ee08-4b18-985e-

[2022-04-19 23:22] lazyDevPro commented on #351
@kmrn777 follow this one now https://github.com/CanHub/Android-Image-Cropper/issues/351#issuecomment-1100945480

[2022-04-20 10:29] kmrn777 commented on #351
@lazyDevPro i did that one too, but no success

[2022-04-20 17:19] marekoid opened #355 "[BUG] - Null bitmap provided to OnCropImageCompleteListener"
- Lib Version [e.g.  3.3.4-4.2.1]

**Describe the bug**
I've upgraded the library and now I'm getting `null` bitmap in `CropResult` provided to the listener set using `setOnCropImageCompleteListener`. Interestingly `isSuccessful` is `true` and `error` is `null`.

The project is using `CropImageView` integration. The only change I needed to do when updating was to change `getCroppedImageAsync()` to

[2022-04-20 19:20] Canato commented on #355
Hey @marekoid thanks for the issue, will need your help to understand some details...

Which version of the library are you?  `[e.g. 3.3.4-4.2.1]` means `for example from version 3.3.4 to version 4.2.1` I need more objective information like `Lib Version 4.2.1` so I know which version of the code to look

From which version to which version?

Could you please share this code you are using? I know

[2022-04-21 00:54] #331 closed

[2022-04-21 11:55] lazyDevPro commented on #351
@kmrn777 Please share a screenshot of your `build.gradle`

[2022-04-21 12:24] kmrn777 commented on #351
![Screenshot (393)](https://user-images.githubusercontent.com/94496584/164457298-c1f04610-391d-42a9-8878-077687ec3cb6.png)
![Screenshot (394)](https://user-images.githubusercontent.com/94496584/164457309-792ac81c-5e93-46bf-97ac-68a4fb3a8681.png)
![Screenshot (395)](https://user-images.githubusercontent.com/94496584/164457312-35381654-78d1-4724-99c7-eec5027dbef3.png)
@lazyDevPro

[2022-04-21 14:42] marekoid commented on #355
Thanks @Canato for your quick reply!

It works on 3.2.2, but doesn't work on 3.3.4. I have also checked the latest version (4.2.1) and it doesn't work there too so I assume that any version above 3.2.2 won't work.

[code]

Why Java 11 is needed since 3.3.4? Do you reckon that using Java 8 instead could result in such an odd issue of bitmap being null? I would expect it to be more likely a build-ti

[2022-04-21 15:10] #320 closed

[2022-04-22 08:50] yaser-eda-teamswipe opened #356 "[BUG] - Some translations are missing"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [4.2.1]

**Describe the bug**
When the source selector is displayed, the texts are always in English.

**To Reproduce**
Steps to reproduce the behavior:
- Displays the source picker dialog

**Expected behavior**
The text must appear in the language of the device.

**Media**
![Screenshot](https://

[2022-04-22 08:51] #356 closed

[2022-04-22 08:54] yasmanets opened #357 "[BUG] - Some translations are missing"
- Lib Version [4.2.1]

**Describe the bug**
When the source selector is displayed, the texts are always in English.

**To Reproduce**
Steps to reproduce the behavior:
 - Displays the source picker dialog

**Expected behavior**
The text must appear in the language of the device.

**Media**
![Screenshot](https://user-images.githubusercontent.com/34303875/164666561-6b0d1492-13d6-4d2c-b322-1e73edd7648

[2022-04-22 10:08] Canato commented on #355
We update to Java 11 so we could update Gradle. And is always good to keep the most updated versions available. Those who do not update, keep using old versions of the library, but those who update can get the benefits of the latest versions.

Maybe, unexpected behaviours hahaha. Not sure how the file handling happens at the bottom of Java code.

I would suggest sticking with `3.2.2` for now if yo

[2022-04-22 10:10] Canato commented on #357
@yasmanets thanks for raising this. Please open a PR with the translations so we can add ^^

[2022-04-22 10:54] kmrn777 commented on #351
@lazyDevPro
![Screenshot (404)](https://user-images.githubusercontent.com/94496584/164701226-d7bae510-e9ec-45f0-af7b-ce030fe9a7a4.png)
i do as you say and i receive it. do you have teams maybe? you could do it on my laptop

[2022-04-22 12:30] yasmanets commented on #357
Thanks @Canato !!

[2022-04-22 12:59] #357 closed

[2022-04-22 13:11] marekoid commented on #355
Thanks for your quick reply @Canato! I played a bit with it and it's not Java 11 related issue. I created the most [basic sample project](https://github.com/marekoid/CanHubImageCropperBugSample) that showcases the issue. It's Java 11, and bitmap passed to the callback is `null`. It does work when downgrading to 3.2.2. Please check.

[2022-04-22 13:33] marekoid commented on #355
I see that [Result](https://github.com/CanHub/Android-Image-Cropper/blob/main/cropper/src/main/java/com/canhub/cropper/BitmapCroppingWorkerJob.kt#L144=) is never created with a bitmap... so that clearly looks like a regression? Also I've noticed that it's reporting the following exception, which I don't see in the real project I'm working on (over there `isSuccessful=true` and `error=null` is repo

[2022-04-22 14:53] alexanderbkl commented on #221
When loading image to ImageView, try using Glide or Picasso or something like that, thon put a raw image URI to IV (don't do imageView.setURI(uri)).

[2022-04-22 15:36] marekoid commented on #355
Maybe the sample was too basic. The view was not yet measured when I requested immediately `croppedImageAsync()` and perhaps that caused the error. Now added OK button to trigger `croppedImageAsync()` and I'm getting the same outcome as in the real project I'm working on. That's what I see after calling `croppedImageAsync()`, the last 3 log entries are properties of `CropImageView.CropResult` rece

[2022-04-23 15:53] kmrn777 commented on #351
@lazyDevPro
my version of android:
![Screenshot (405)](https://user-images.githubusercontent.com/94496584/164913491-67fe0954-a461-457c-bda2-f5d368ada491.png)

[2022-04-26 21:19] Canato commented on #355
Hey, @marekoid sorry for the long time to reply these days... going crazy with some work-related issues.

Your issue looks correct, for some reason `setImageBitmap(bitmap)` is not working.
Worth some investigation and opening a PR to fix this.

Plus, would be great for a small sample of its usage of it, so we won't allow this to be broken again in the future.

Will pin and tag this issue in case s

[2022-04-26 21:37] Canato commented on #355
@marekoid ok! I understood the problem and found the issue.

Instead of trying to retrieve `result.bitmap` please use `result.uriContent` or `result.getUriFilePath(..)` depending if you wanna `file://` or `content://` schema.

This was done because a bitmap is too huge/big to pass as a result in the android intent. But for sure we need to improve this contract.

[2022-04-27 12:44] lazyDevPro commented on #351
@kmrn777 email me at lazydevpro@gmail.com because I don't think it's now a library issue but the personal issue, I will try to help.

[2022-04-29 13:07] marekoid commented on #355
It's view integration, not activity one, so binder transaction size limits shouldn't be relevant here.

Do you mean that bitmap integration won't be supported any more? Currently it's present both in the README and the code API.

I was indeed thinking about it but it's legacy code which would need a bigger overhaul to support bitmap reading/decoding/rendering which really should happen asynchronou

[2022-05-02 20:00] #350 closed

[2022-05-03 07:43] Canato commented on #355
Sorry that I couldn't help early =/

Still need to spend some time understanding how to better improve these. If you have a clue please feel free to drop a PR, will help your case and many others =D

[2022-05-04 09:52] lazyDevPro commented on #351
@Canato I have tried getting the JAVA only solution for version [3.3.6](https://github.com/CanHub/Android-Image-Cropper/releases/tag/3.3.6)
 migration but so far nothing worked only way to achieve this is by using the kotlin compiler If you want I can add those steps in the wiki.

[2022-05-04 10:05] Canato commented on #351
@lazyDevPro Can you open a PR with the steps?

I was even thinking about having a second README only for Java. as `README_JAVA.md` and in the main `README.md` we have a link for it. What do you think?

[2022-05-08 15:14] kmrn777 commented on #351
@lazyDevPro thanks mate, i don't know how but it compiled it on kotlin, so it works now... @Canato thanks for your help also :)

[2022-05-09 07:49] Canato commented on #355
I'm rewriting the documentation and planning to check this bug ASAP... putting this here cause may help someone or my self in the future when checking the bug
`val cropped: Bitmap = cropImageView.getCroppedImage()`

[2022-05-09 08:53] AmolPardeshi99 opened #363 "[BUG] - Fatal Exception: java.lang.RuntimeException Unable to start activity ComponentInfo{com.knudge.ielts/com.theartofdev.edmodo.cropper.CropImageActivity}: android.os.FileUriExposedException: file:///storage/emulated/0/Android/data/com.knudge.ielts/cache/pickImageResult.jpeg exposed beyond app through ClipData.Item.getUri()"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [e.g. 1.1.0]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

[2022-05-09 08:54] AmolPardeshi99 commented on #363
Caused by android.os.FileUriExposedException
file:///storage/emulated/0/Android/data/com.knudge.ielts/cache/pickImageResult.jpeg exposed beyond app through ClipData.Item.getUri()

[2022-05-09 09:35] Canato commented on #363
Hey @AmolPardeshi99 looks like you are using an old library version and you did not fill the template.

Please update to the latest version. Will close this issue, when you open please fill the template with the important information

[2022-05-09 09:35] #363 closed

[2022-05-10 10:52] Canato commented on #351
@lazyDevPro I refactor the documentation, trying to make more clear. And add a new file just for Java usage of the library

[Java Usage doc](https://github.com/CanHub/Android-Image-Cropper/blob/main/.documentation/java_usage.md)

Could you add there any of the important steps to have this working on Java? So the community can get the benefits ^^

[2022-05-13 06:27] Canato commented on #337
Hey @HafijurRahmanEjaro sorry I missed this, is not using the template and I didn't spot it.

I will move to discussions. But yeah! You can.

Suggestions to use `setMinCropResultSize(x, y)` and `setMax...` using the values you wanna fixed for your width as min and max values.

[2022-05-13 06:28] #337 closed, assigned to nobody

[2022-05-13 06:43] kranthisvk opened #365 "[BUG] - Black background is coming for .PNG images while cropping"
I am getting black background for png images while cropping. How to resolve this issue?

[2022-05-13 06:47] Canato commented on #365
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template that will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template

_Is important to remember that my work here is a volunteer and to save time and have better answer help me that people use the templates._

Th

[2022-05-13 06:47] #365 closed

[2022-05-13 07:18] kranthisvk opened #366 "[BUG] - Black background is coming for transparent .PNG images while cropping"
- v4.2.1

**I am getting black background for png images while cropping. How to resolve this issue?**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Image Picker and select any .png image with transparent background and then go to Crop Image Activity
2. Click on Crop after selecting the crop area
4. See the cropped image result now. It will be coming with black background instead of

[2022-05-14 07:39] lazyDevPro commented on #351
hi @Canato sorry I was away for some work and didn't check the notification, sure I am going through it now and will add the steps.

[2022-05-14 08:29] Canato commented on #366
Hey, @kranthisvk thanks for the detailed explanation.

### One questions
- Could you reproduce it on the sample app?

### One possible solution
Did you set up the outcome format? `setOutputCompressFormat(Bitmap.CompressFormat.JPEG)` is the default, maybe you need to change it for png.

[2022-05-14 08:58] Canato commented on #354
No activity

[2022-05-14 08:58] #354 closed

[2022-05-16 06:59] kranthisvk commented on #366
private fun cropImage(uri: Uri?, aspectRatio: Float) {
    try {
        cropImageForResultLauncher?.launch(
            options(uri) {
                setOutputUri(uri)
                setOutputCompressFormat(Bitmap.CompressFormat.PNG)
                setGuidelines(CropImageView.Guidelines.ON)
                setBackgroundColor(Color.TRANSPARENT)
                if (aspectRatio > 0) setAspectRati

[2022-05-16 07:01] kranthisvk commented on #366
I have removed background color option to set it to transparent color too
but no change in image output. Still getting the image with black
background.

On Mon, May 16, 2022 at 12:29 PM Kranthi Kumar S V <
***@***.***> wrote:

[2022-05-16 19:38] Canato commented on #366
@kranthisvk sorry, can you please not use `email` reply? I won't format making it harder to understand your answer.

Could you please format your answers using md file?

I still need to know `Could you reproduce it on the sample app?`

This is the first template question.
If you `git clone` the project and run the sample app... can you reproduce it?

[2022-05-18 07:08] Morons opened #368 "[BUG] - Uri Received lacks 'file' scheme:"
Version 4.2.1

Actually the cropper works fine and produces the Uri, however! getting the `jave.io.File` from the Uri present the problem in < Android API 31 Platform >

**My Code to Produce the URI**
[code]
The Uri produced from Android-Image-Cropper is an `android.net.Uri`
The `result.getUriFilePath` produces and filename e.g. `/data/user/0/{Package Name}/cache/temp_file_20220518_084809.jpg`

**

[2022-05-18 12:45] Morons commented on #368
Will test this asap

[2022-05-19 12:34] Morons commented on #368
**The Solution** Thank you for your suggestion, I implemented this in Compose
[code]
**NOTES:**
Basically if the scheme does contains `content:\\` the `val file: File = imageUri.toFile()`  crash with the error!!
so I re-build the Uri from the `.getUriFilePath` with the scheme `file:\\` and use it with correct results

Thank you for this support!

[2022-05-19 12:39] #368 closed

[2022-05-19 12:39] Canato commented on #368
@Morons if you don't mind, would be great to add this Question and solution to our FAQ

https://github.com/CanHub/Android-Image-Cropper/blob/main/.documentation/FAQ.md

Can you open a PR with it?  Thanks!

[2022-05-23 16:03] DarknessQuake opened #371 "I need help with this please asap"
I need help on these issues as the android image cropper from Arthurhub is deprecated and the other version from canhub image cropper is the one im using. I am doing an scan receipt function using a ocr scanner but android studio has since updated and there is no suitable tutorial on this version on line anywhere.

    getOCRDataBtn.setOnClickListener(new View.OnClickListener() {
        @Override

[2022-05-23 16:15] Canato commented on #371
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template that will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template

_Is important to remember that my work here is a volunteer and to save time and have better answer help me that people use the templates._

Th

[2022-05-23 16:15] #371 closed

[2022-05-23 16:48] DarknessQuake opened #372 "I need help with 3 errors and i hope this is ok canato"
the problem that i am having is three sections that i need help with:

[code]
this is for an setonclicklistener and having a lot of trouble trying to figure this out.

[code]
The 2 other problems are the Crop Image view (getActivityResult) as i tried to get a much information as possible to sort this out to non avail while the other is .getUri.

I was using the arthurhub image cropper that is now

[2022-05-23 16:54] Canato commented on #372
Hey @DarknessQuake wanna help you, but I have a lot of requests... I really need people to use the template to avoid me asking the same stuff we have on the template.

If you have questions, please use [discussions](https://github.com/CanHub/Android-Image-Cropper/discussions) and open a `Q&A` (Question and Answer) type of discussion

If you believe (or know) that you have a bug:
1 - Click on New i

[2022-05-23 16:54] #372 closed

[2022-05-23 16:55] Canato commented on #372
Don't wanna push you out... but I have no idea if you are using the activity of the library, or custom or the view directly etc

And other questions. that's the reason the templates help the conversations to start

[2022-05-23 16:55] DarknessQuake commented on #372
ok i will try this out thanks

[2022-05-23 17:38] DarknessQuake opened #373 "[BUG] - setGuidelines in CropImage, getActivityResult in CropImageView and getUri in ActivityResult"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

![Code Problem Android Studio](https://user-images.githubusercontent.com/5896215/169873265-f2f21ba4-2eba-45fa-8e9d-f327567d4e9c.jpg)

![Android Studio 3 Problems](https://user-images.githubusercontent.com/5896215/169874028-0ea497d3-9ba8-4202-80ba-67954a9f584a.jpg)

[ScanReceipt.txt](https://github.com/CanHub/An

[2022-05-23 17:48] Canato commented on #373
Hey, @DarknessQuake I see that you are using Java.
Have you checked our [documentation for Java usage](https://github.com/CanHub/Android-Image-Cropper/blob/main/.documentation/java_usage.md)?

You can see how to properly make the calls in the Java Sample _(link on the docs)_ for Android Contracts.
If you are not planning to use Android Contracts you need to use version `3.3.6`, like the documentat

[2022-05-23 17:53] DarknessQuake commented on #373
ok i will try this to see if this would get it to work thank you will try it and report back.

[2022-05-23 18:25] DarknessQuake commented on #373
![2 errors to go](https://user-images.githubusercontent.com/5896215/169882944-8d4c1144-2884-4937-8fd1-4d015d37d88a.jpg)
i got 1 error sorted so thank you for that
i have looked at the kt file and yes it makes sense now lol i dont understand the getActivityResult because looking at the documentation that you have provided its crossed out and mine is red (same thing) is there a piece of code that re

[2022-05-23 19:21] Canato commented on #373
`getActivityResult` will not work on the latest release. Only until `3.3.6`.

After this release we update to use Android Contracts (the usage of it can be checked on the JavaSample^^)

[2022-05-23 19:35] DarknessQuake commented on #373
right!!! thank you i wondered about that im going to use 3.3.6 or lower to see if it is sorted it not i will use android contracts thank
you.

[2022-05-30 06:35] nejcburic commented on #144
I have same issue using Pixel 5. Is there a solution provided? @Canato

[2022-05-30 08:07] Canato commented on #144
@nejcburic not yet, I could not reproduce. I asked some questions but was ghosted. Happy to follow this if I can understand better what is going on. Suggest to open a new issue with all information need =D

[2022-05-30 08:23] nejcburic opened #374 "[BUG] - Taking front camera photo flips image"
- Lib Version 4.2.1

**Describe the bug**
When taking photo from front camera it flips image horizontally.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sample app
2. Click on 'Call library directly without uri'
3. Choose 'Camera'
4. Switch to front camera
5. Take photo
6. Image is flipped horizontally

**Expected behavior**
When I take photo from front camera I expect it to be the s

[2022-05-31 10:50] Canato commented on #374
@nejcburic could you please share a video? What I'm seen is the phone camera flipping the image and not the library 🤔

[2022-05-31 11:01] nejcburic commented on #374
@Canato here is the video. Yes I think phone camera is flipping the image. Can I actually prevent that from happening?

https://user-images.githubusercontent.com/84720288/171158912-1a7e1e62-1f11-4a7b-8c65-be172e61033a.mp4

[2022-05-31 11:15] Canato commented on #374
This will be interesting because not all cameras flip. So I believe can depend on brand/os, etc

I will take a look next week (long holidays coming here), but the library has a flip horizontal feature. That you can enable while cropping `setAllowFlipping(true)`... so the user decides when to do it. Or you can call it directly and make it flips `setFlipHorizontally(true)`

Because maybe not all you

[2022-05-31 11:19] nejcburic commented on #374
well if flipping is camera problem then you can close the issue. Thanks for checking out.

[2022-05-31 12:49] Canato commented on #374
Let me know if I can help in other way =D

[2022-05-31 12:49] #374 closed

[2022-05-31 13:20] goldenacid12 opened #375 "[BUG] - Can't Implement Library in the project"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [e.g. 1.1.0]

**Describe the bug**
Hello the creator, I have been trying to use the image cropper, I have found the previous image cropper made by theartofdev, and It works fine for file manager and gallery but not for the camera, and I found out that there's newer version that you made, I have b

[2022-05-31 14:57] #375 closed

[2022-05-31 14:57] goldenacid12 commented on #375
I don't know how but the program fixed itself.

[2022-06-01 06:55] Canato commented on #375
Sometimes Gradle cache work in mysterious ways. Happy that is working

[2022-06-04 18:08] dev1-bitronics opened #377 "Can't see Crop button in new liberary"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [e.g. 1.1.0]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

[2022-06-06 08:05] Canato commented on #377
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template that will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template

_Is important to remember that my work here is a volunteer and to save time and have better answer help me that people use the templates._

Th

[2022-06-06 08:05] #377 closed

[2022-06-06 08:07] Canato commented on #377
Probably you wanna check the [FAQ](https://github.com/CanHub/Android-Image-Cropper/blob/main/.documentation/FAQ.md) ^^

[2022-06-06 11:32] vineet1061 opened #378 "[BUG] - Back button issue"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 when we capture image from camera and go back without capture image then crop activity is showing on single back

[2022-06-06 11:38] Canato commented on #378
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template that will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template

_Is important to remember that my work here is a volunteer and to save time and have better answer help me that people use the templates._

Th

[2022-06-06 11:38] #378 closed

[2022-06-08 16:32] siddeshpillai opened #380 "[Feat] - Jetpack Compose support"
🚨🚨 Important to remember that this library is maintained for free.
You can check the maintainers plans for the library in the Project tab.
If you really want to have some maintainer working in your feature please check the sponsorship options.
But feel free to suggest features and do yourself, this is a community driven open source library

**Is your feature request related to a problem? Please de

[2022-06-08 16:33] siddeshpillai commented on #380
cc: @Canato

[2022-06-10 04:34] bhagyae5308 opened #381 "[Feat] - Helper text over crop overlay which alongs with it"
Hi @Canato,
We have an image based question search App we want the user to  crop only one question at a time, so that helper text we wan't show to the user. So, the requirement to have helper text label on top of crop overlay window, which should move along whenever the overlay moves.
It looks something like this.
![Screenshot_20220609-212324_Sample](https://user-images.githubusercontent.com/89561

[2022-06-10 12:10] #381 closed

[2022-06-10 16:54] #366 closed

[2022-06-12 15:43] mtrezza opened #384 "[Feat] - Determine image source"
🚨🚨 Important to remember that this library is maintained for free.
You can check the maintainers plans for the library in the Project tab.
If you really want to have some maintainer working in your feature please check the sponsorship options.
But feel free to suggest features and do yourself, this is a community driven open source library

**Is your feature request related to a problem? Please de

[2022-06-13 09:27] Canato commented on #384
Interesting Feature. Will tag to see if someone wanna do it =D

Feel free to drop a PR too

[2022-06-16 11:28] vanniktech opened #387 "Consistent names"
On the xml side of things names are different than on `CropImageOptions`.

Like `app:cropBorderCornerColor="#FF0"` & `var borderCornerColor: Int`

Should not they all share the same name?

[2022-06-17 10:11] Canato commented on #387
Yes, thanks for pointing this out.

The library is on a long road to a better place since I got it from Java. Indeed has many points like this we need to improve. Ideally, I was looking to add these details in our CodeStyle guide or even enforce it with Lint/Detekt, so won't get wrong again.

Please feel free to help improve this, I try to fix as much I can see without loosing the track of what I'

[2022-06-18 23:47] #373 closed

[2022-06-19 22:24] iqtoon opened #391 "Replace the cut button"
**Please replace the cut button and put the check sign instead, it will be clearer, more beautiful and better for all users
My greetings**

[2022-06-20 07:36] Canato commented on #391
You can setup your own icon on the options.

`.setCropMenuCropButtonIcon(R.drawable.ic_your_icon)`

[2022-06-20 07:36] #391 closed

[2022-06-24 10:51] Scorpionstvo opened #392 "[BUG] - I can't connect the library to the project"
My gradle can't sync.
I receive message: Failed to resolve: com.github.CanHub:Android-Image-Cropper:3.2.1

buildscript {

    ext {
        kotlinVersion = '1.6.10'
        retrofit_version = "2.9.0"
        okhttp_version = "5.0.0-alpha.6"
        nav_version = "2.4.2"
        rxAndroidVersion = '3.0.0'
    }
    dependencies {
        repositories {
            mavenCentral()
            maven {

[2022-06-25 07:57] navneethh commented on #392
i dont have any problem while gradle sycing but the cropImage class is not there as java class & cropVew is too not found in xml

[2022-06-25 08:44] vanniktech opened #393 "[Feat] - Publish library to mavenCentral"
This would be much better than jitpack

[2022-06-25 17:20] PaulWoitaschek opened #395 "Remove manifest overwrites"
The manifest overwrites are conflicting with the latest androidx test libraries:
`androidx.test:core-ktx:1.4.1-alpha07`

Building with both androidx.test as well as the image cropper fails compilation with the error:
[code]

[2022-06-25 18:14] vanniktech commented on #395
Isn't it possible to just update this library to target 12 and get rid of the entire build.gradle hacky whacky scripting?

[2022-06-25 18:21] PaulWoitaschek commented on #395
Yes thats what I would have suggested as well

[2022-06-25 22:51] vanniktech opened #397 "[Feat] - CropImageView has no way of setting a CropImageOptions programmatically"
Currently, it's constructed via XML attributes, however when using that View programmatically there's no real way to pass in a `CropImageOptions` to configure it

I wanted to use #390 only to realize that there's no way for me to actually use it.

Maybe the options would also need to be splitted since `CropImageView` calls into `CropOverlayView` which calls into `CropWindowHandler` and they are al

[2022-06-28 08:44] Canato commented on #397
I like the idea, let's see how would be implemented on the sample app 👍

[2022-06-28 08:45] Canato commented on #395
Feel free to drop a PR with the fix 👍

[2022-06-28 08:49] Canato commented on #393
Which benefits do you see?

I don't mind if we change or have two places to deploy if we can automate as much as possible.

If we change, we need to be sure people will get along

[2022-06-28 08:51] Canato commented on #392
Hey @Scorpionstvo welcome, could you please format your question so all the code will be in a code block? make it easier to read ^^

Did you try the latest releaser version to see if compiles?

[2022-06-28 09:25] vanniktech commented on #393
Much more reliable and is de facto the standard.

[2022-06-28 10:22] vanniktech opened #398 "[Feat] - Update ktlint to 0.46.1"
That's the latest version

[2022-06-28 10:26] vanniktech commented on #398
Hmm we can't: https://github.com/JLLeitschuh/ktlint-gradle/issues/589

[2022-06-28 11:47] PaulWoitaschek opened #400 "Downgrade targetSdkVersion"
As this library sets targetSdkVersion to 31, this forces all consumers to also target api 31. Is there any reason to do so?

[2022-06-28 12:03] Canato commented on #398
Maybe we can use `detekt` to solve this?

[2022-06-28 12:09] Canato commented on #400
Nothing that I remember now, we could remove it.

[2022-06-29 09:45] shivanigupta22 commented on #221
Any updates on this?

[2022-06-29 11:14] Pradeepkuumar opened #402 "mistake in hindi conversion of "Crop""
mistake in hindi conversion of  "Crop"
it is showing "Crop" = फसल
it will be   "Crop" = काटे

Please update

[2022-06-29 12:42] Canato commented on #402
Please open a PR with the fix

[2022-06-29 12:56] #395 closed

[2022-07-02 04:00] #380 closed

[2022-07-02 17:03] vanniktech commented on #387
A bit aggressive this bot, isn't it?

[2022-07-02 21:12] halilozel1903 opened #404 "[BUG] - Could not find com.github.CanHub:Android-Image-Cropper:4.2.1."
Hello everybody,

I encountered an error when I wanted to integrate the project into the application.

`Caused by: org.gradle.internal.resolve.ModuleVersionNotFoundException: Could not find com.github.CanHub:Android-Image-Cropper:4.2.1.`

My edits are as follows:

`build.gradle`:

[code]

[code]

Can you help me?

[2022-07-02 21:35] Vaspit commented on #392
Hi. I had the same problem and not only for this cropper.

It looks like the problem is in build.grudle file and settings.gradle files. I placed `maven { url 'https://jitpack.io' }` to 3 places

1 place within build.grudle file:
[code]

And 2 places within settings.gradle file:
[code]

And now I can build the project

[2022-07-04 16:47] Canato commented on #387
I normally never pay attention, but yeah, we could have something more objective and clear on it 🤔

[2022-07-04 16:48] Canato commented on #404
Hey did you add
[code]

To your root gradle?

[2022-07-04 17:22] vanniktech commented on #387
Plus an issue that's triaged should never get 'stale'.

[2022-07-05 01:32] ArcherEmiya05 opened #405 "Crashing in Android 12 and 13"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [e.g. 1.1.0]

**Describe the bug**
App crash when using the library.

**To Reproduce**
Steps to reproduce the behavior:

Case 1:
1. Launch CropImage intent
2. Choose Camera
3. Crash!

Logs:
`Permission Denial: starting Intent { act=android.media.action.IMAGE_CAPTURE flg=0x3 cmp=com.android.camera

[2022-07-05 08:12] Canato commented on #405
The first point of the template: `Did you test on the sample app`?
Te second point: `Which library version are you using`?

[2022-07-05 11:35] pratyaksh1610 commented on #221
I would like to work on this issue . pls assign this issue to me. @Canato @dkmalviya

[2022-07-05 11:47] pratyaksh1610 commented on #221
So can u assign some other good first issue, I really wanted to contribute to real world projects.

[2022-07-05 12:17] pratyaksh1610 commented on #221
@Canato

[2022-07-05 13:46] Canato commented on #221
Hey @pratyaksh1610 Happy that you are excited to help our project. For sure will be amazing having your contribution.

You tagged me and tagged me again 1 hour later, sorry that I could not reply as fast as you expected, but I have a normal day-to-day job and this is volunteer work. So sometimes takes me hours even days to have a space to come here.

That said we have this list of possible feature

[2022-07-05 13:47] Canato commented on #221
@Ekalips do you believe we should close this? I will remove the `pinned` label and if no one oppose the stale bot will close this.

[2022-07-06 06:32] Aneel9kumar opened #406 "I can give yoif i add library it will not reflected to my android studio..what is the issue?u an example of how I implemented it. It works really very well."
I can give you an example of how I implemented it.  It works really very well.
Hope that helps.

first update to actual library
 `implementation 'com.github.CanHub:Android-Image-Cropper:4.2.1'`

second define CropImageContractOptions :
[code]

third define ActivityResultLauncher:
[code]
Fourth call like
[code]

Alejandro
`

_Originally posted by @AlejandroGomz in https://github.com/CanHub/Android-

[2022-07-06 06:34] Aneel9kumar opened #407 "will you please provide crop library properly in java(Android)..."
I can give you an example of how I implemented it.  It works really very well.
Hope that helps.

first update to actual library
 `implementation 'com.github.CanHub:Android-Image-Cropper:4.2.1'`

second define CropImageContractOptions :
[code]

third define ActivityResultLauncher:
[code]
Fourth call like
[code]

Alejandro
`

_Originally posted by @AlejandroGomz in https://github.com/CanHub/Android-

[2022-07-06 11:07] Canato commented on #406
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template that will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template

_Is important to remember that my work here is a volunteer and to save time and have better answer help me that people use the templates._

Th

[2022-07-06 11:07] #406 closed

[2022-07-06 11:08] Canato commented on #407
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template that will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template

_Is important to remember that my work here is a volunteer and to save time and have better answer help me that people use the templates._

Th

[2022-07-06 11:08] #407 closed

[2022-07-07 13:27] PaulWoitaschek commented on #402
@Pradeepkuumar
You can click here on the edit button and edit it in the browser directly:
https://github.com/CanHub/Android-Image-Cropper/blob/main/cropper/src/main/res/values-hi/strings.xml

[2022-07-07 19:15] halilozel1903 commented on #404
Yeah, I found my fault. Thanks.

[2022-07-07 19:15] #404 closed

[2022-07-13 15:03] Canato commented on #400
Stale robot go brrrrrr brrrrr

hahahaha.

[2022-07-17 12:29] vanniktech commented on #393
Also a licensing file is missing

[2022-07-18 07:08] Canato commented on #393
Agreed, would be great to have

[2022-07-18 09:28] Mouwrice opened #408 "[BUG] - Not all EXIF values are supported"
- Lib Version 4.3.0

**Describe the bug**
EXIF values not only define rotation but also mirroring, see EXIF values 2, 4, 5, 7:
![image](https://user-images.githubusercontent.com/56763273/179480833-2d1ae6cb-7f49-44bf-bd60-4e09e6b3b241.png)

But sadly that is not implemented in this library.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the app
2. Select `SAMPLE USING CROPIMAGEVIEW`
3.

[2022-07-18 09:30] Canato commented on #408
@Mouwrice this is great, please open a PR and let's fix this =)

[2022-07-18 09:35] Mouwrice commented on #408
On it 💪

[2022-07-19 07:53] ArcherEmiya05 commented on #405
I am closing this issue now, the solution for the first issue was removing the CAMERA permission from manifest. The solution for `FileNotFoundException` was replacing `File` with `InputStream is = getContentResolver().openInputStream(mProfilePicURI)`

[2022-07-19 07:53] ArcherEmiya05 commented on #405
I am closing this issue now, the solution for the first issue was removing the CAMERA permission from manifest. The solution for `FileNotFoundException` was replacing `File` with `InputStream is = getContentResolver().openInputStream(mProfilePicURI)`

[2022-07-19 17:04] pratyaksh1610 commented on #402
I would like to work on this issue. Pls assign this issue to me. I have resolved the issue.
.
.
Thankyou
Pratyaksh

[2022-07-19 18:32] Canato commented on #402
Can do @pratyaksh1610

[2022-07-20 05:25] pratyaksh1610 commented on #402
@Canato I have made a PR. Pls review.

[2022-07-20 09:05] #408 closed

[2022-07-20 11:02] #402 closed

[2022-07-21 09:13] Scorpionstvo commented on #392
< Thank you very much! It worked! I added once line in my settings.gradle:
`pluginManagement {
    repositories {
        gradlePluginPortal()
        google()
        mavenCentral()
    }
}
dependencyResolutionManagement {
    repositoriesMode.set(RepositoriesMode.FAIL_ON_PROJECT_REPOS)
    repositories {
        google()
        mavenCentral()
         maven { url 'https://jitpack.io' }
    }
}`

[2022-07-22 15:57] pratyaksh1610 commented on #400
@Canato  What is the issue ?  I am unable to understand. Can you explain in brief .
.
.
Thankyou
Pratyaksh

[2022-07-24 06:27] ArcherEmiya05 commented on #405
Sorry I would like to reopen this issue specially the CAMERA permission part. Removing it from my app module manifest does fix the issue but I need that permission for other feature of the app as well that is not using this library, one example is for video calling. I think the CAMERA permission should be pass on the consumer module which is usually the app module.

This error is showing on Androi

[2022-07-24 18:55] vivekgupta4Git opened #412 "[BUG] - Options Menu is not visible in CropImageActivity"
- Lib Version 4.3.1

**Describe the bug**
When opening a image from gallery or taking an image from camera , there is no option to crop / rotate image.

**Expected behavior**
Instead of options Menu, there should be a button or bottom bar to handle actions.

**Media**
[](https://ibb.co/CWC6mhQ)

**Smartphone (please complete the following information):**
 - Device: Pixel 4 api 33
 - OS: Android 13

[2022-07-24 19:14] vivekgupta4Git commented on #392
Worked for me too.

[2022-07-25 03:11] #397 closed

[2022-07-25 03:11] #398 closed

[2022-07-25 08:47] ArcherEmiya05 commented on #405
Closing now this issue, the fix is to request CAMERA permission and grant it before using this library if `android.permission.CAMERA` is set in the manifest.

[2022-07-25 14:34] HafijurRahmanEjaro opened #413 "[BUG] - Can we open only Gallery option ?"
**Can we open only Gallery option ?**
I want to show only Gallery option and no need camera and other option is that possible?

please help me out regarding the same.

[2022-07-26 06:41] vivekgupta4Git commented on #413
well dude, I Guess,  you can override showImageSourceDialog() method , it is marked as open too.

[2022-07-26 06:45] vivekgupta4Git commented on #412
Well, Until this issue gets solved, I created a workaround (kinda hack) for this issue by adding a button programmatically. @Canato , I can push the workaround if you want.

[2022-07-26 07:43] vivekgupta4Git commented on #412
Found solution @ FAQ

[2022-07-26 07:46] vivekgupta4Git commented on #413
    Override showImageSourceDialog()
      This method shows the dialog for user source choice, it is an open function so can be  override and customised with the app layout if need.
      

[2022-07-26 09:44] ksk-tech opened #414 "Cropping issue on some devices"
- Lib Version 3.3.6, 4.3.1

**Describe the bug**
Cropping flow fails in some cases after taking a photo on some devices. We have reproduced it on Samsung devices. Usually it's reproduced if a user switches cameras and then takes a photo, but sometimes we get the same result with no camera switch.
In our app with the lib integrated the following result is logged - `cropping has been cancelled by th

[2022-07-26 13:36] ritu-patidar opened #415 "[BUG] - Intent Chooser option are twice"
- Lib Version : 4.21 / 4.3.1

**Describe the bug**
Showing Intent Chooser option are twice - I set the options.setShowIntentChooser(true); it is showing option are twice.
![Screenshot_2022-07-26-18-51-51-31_c31b32364ce19ca8fcd150a417ecce58](https://user-images.githubusercontent.com/110038930/181019361-78fad3a1-1bf4-4a38-b25d-f5951903fe2f.jpg)
![Screenshot_2022-07-26-18-54-18-502_android](https://u

[2022-07-26 18:37] Canato commented on #400
@pratyaksh1610 the library today set up targetSdkVersion to version 31. What forces who use to have the same target. This is probably something we can remove. Need testing

[2022-07-26 18:37] #392 closed

[2022-07-26 18:39] #405 closed

[2022-07-26 18:41] Canato commented on #413
Hey @HafijurRahmanEjaro welcome 👋

That's not a bug, please next time open on [discussions](https://github.com/CanHub/Android-Image-Cropper/discussions)

You can check the [feature list](https://github.com/CanHub/Android-Image-Cropper/blob/main/.documentation/features.md) we have

You are looking for
[code]

[2022-07-26 18:41] #413 closed

[2022-07-26 18:44] Canato commented on #415
@ritu-patidar can you reproduce on the sample app?

Could you provide a video of the issue on the sample app?

Thanks!

[2022-07-27 06:00] SanganiKrish opened #416 "API Level 30 and about"
The Devices which are runing about api level 30 are crashing after croping and  passing through intent

[2022-07-27 06:40] Canato commented on #416
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template that will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template

_Is important to remember that my work here is a volunteer and to save time and have better answer help me that people use the templates._

Th

[2022-07-27 06:40] #416 closed

[2022-07-27 07:42] Canato commented on #414
Back from holidays, will check ASAP

[2022-07-28 09:40] PhilippNowak96 opened #417 "[BUG] - Crash when camera permission is present in manifest"
- Lib Version: 4.3.1

**Describe the bug**

When having `<uses-permission android:name="android.permission.CAMERA" />` in AndroidManifest and select `Camera` as the source, the app crashes due to missing camera permission.

I saw that the permission stuff got removed in 4.0.0 in favor of using ActivityResultContracts (which is awesome actually) but we need that permission for another feature in ou

[2022-07-28 09:58] Canato commented on #417
Not sure how to solve, open for suggestions and/or a PR

[2022-07-29 10:36] PhilippNowak96 commented on #417
Found out that this behaviour is actually described in the docs too: https://developer.android.com/reference/android/provider/MediaStore#ACTION_IMAGE_CAPTURE 😟

For now we use the workaround to request the camera permission on our side. Not sure if we could do something in the library to at least prevent crashes in this situation.

But I think it would be worth to note that circumstance in the rea

[2022-07-29 10:57] Canato commented on #417
@PhilippNowak96 We can add on the [FAQ documentation](https://github.com/CanHub/Android-Image-Cropper/blob/main/.documentation/FAQ.md), could you please drop the PR?

Would avoid README since is not this library specific

[2022-07-29 11:23] ksk-tech commented on #414
Hello @Canato, hope you are doing well.
Have you managed to reproduce the issue?

[2022-07-29 11:25] Canato commented on #414
Hey @ksk-tech not yet. I started a new job as manager on the last weeks

Basically, my time has been reduced a lot. But I didn't forget this.
I just need to find time to make this volunteer work ^^

Sad to say, but capitalism force me to focus where the money comes in hahahaha

[2022-08-02 20:04] #387 closed

[2022-08-02 20:04] #221 closed

[2022-08-02 20:37] vanniktech commented on #393
![https://media0.giphy.com/media/o0eOCNkn7cSD6/giphy.gif?cid=ecf05e47fpwq704xkksizlet9nrn2kn001r0o54dxavo2ryz&rid=giphy.gif&ct=g](https://media0.giphy.com/media/o0eOCNkn7cSD6/giphy.gif?cid=ecf05e47fpwq704xkksizlet9nrn2kn001r0o54dxavo2ryz&rid=giphy.gif&ct=g)

[2022-08-04 14:03] Canato opened #419 "[Feat] - Photo picker Android 13"
[photo picker](https://developer.android.com/about/versions/13/features/photopicker)

[2022-08-07 03:28] Devenom1 commented on #415
@ritu-patidar Do you have dual space or dual apps set up on your device?

[2022-08-07 09:54] Canato commented on #419
@pratyaksh1610 for Android 13 there is this new way to pick images (link on the issue) we need to bring this to our library to stay up to date.

[2022-08-10 07:35] Canato commented on #414
Back this week will take a look. sorry for the long time on this

[2022-08-15 07:42] Canato commented on #414
@ksk-tech Thanks for raising this and sorry for so long to answer. Last month have being crazy.

Indeed I could reproduce with some devices, but mostly I could not.

Yet, not sure what could cause this, something that Samsung is being annoying with its context/cache
For sure we can do something about it, just need to discover what. And hope they will fix it

[2022-08-15 15:22] Devenom1 opened #420 "[BUG] - Image Rotates after clicking image via camera on lower Android versions"
- Lib Version [4.3.1]

**Describe the bug**
The image taken via camera rotates (-90 degrees) after being captured. I've tried this with and without intent chooser. I've tried in on an emulator because that's where we do tests.

Happens on API level 26. Android 8 (Oreo). Not happening on Android 11. Might be happening on other API levels too. I haven't tested

**To Reproduce**
Steps to reproduce th

[2022-08-15 15:48] Canato commented on #420
Hey @Devenom1 thanks for the detailed PR, helps a lot.

I try to reproduce, but could not, so maybe is a specific case of brand/os. Will try with the simulator you use later.

but from your video and steps

This may not be the library, but the camera itself. Could you try to open the camera app and take a picture so we check if will rotate too? Because taking the picture before we accept is the de

[2022-08-15 16:07] Devenom1 commented on #420
Hey @Canato thanks for the quick response as always.

Here is a video from the default camera app on the android studio emulator. It doesn't rotate with the default camera app.
![Camera not rotating on default camera app](https://user-images.githubusercontent.com/11510037/184671757-7d5de95b-c12a-4efb-8f82-6e319df3ae34.gif)

I remember facing this issue before when I made a local copy of the Arthur

[2022-08-15 19:07] Devenom1 opened #421 "[Feat] - Add custom color customisations for CropImageActivity toolbar and background"
**Is your feature request related to a problem? Please describe.**
The current library doesn't let us set custom colors to match a particular theme we require for the toolbar and the activity background.

**Describe the solution you'd like**
It would be nice to add options to customize colors for the tool bar and activity background.

**Describe alternatives you've considered**
There's a setBackgr

[2022-08-17 08:39] Janneman84 opened #423 "Prevent accidental back swipes"
Newer Android phones rely on swiping the edge of the screen to go back. I noticed it's very easy to accidentally do this when trying to resize/move the crop box when it's near the edge of the screen. This can be _really_ annoying.

https://developer.android.com/training/gestures/gesturenav#games

According to this link it's possible to block this by setting `setSystemGestureExclusionRects()`. If y

[2022-08-17 18:01] Canato commented on #421
We can already override, but that's a great idea, hopefully, someone will have time to add this!

[2022-08-17 18:08] Canato commented on #423
@Janneman84 I believe you can use some options to help you
[code]

And others, let me know if works

[list of features](https://github.com/CanHub/Android-Image-Cropper/blob/main/.documentation/features.md)

[2022-08-17 18:09] Canato commented on #423
If don't help what you want, feel free to open a PR so we can improve the experience ^^

[2022-08-17 18:31] Devenom1 commented on #421
Already made a PR.

[2022-08-18 08:15] Janneman84 commented on #423
I downloaded the sample app and started messing around. It's actually a pretty straightforward fix. Turns out that you can only block the back swipe at most 200dp vertically (which explains the issues I had). So you have to be selective which areas to block (you can't block the entire screen). I'll try 60 for each corner and 80 for the center.

So the solution is there but it will take me some tim

[2022-08-19 09:25] Janneman84 commented on #423
Ok I think I got it. I'm not really familiar with PRs and stuff so I'll just dump some code here:

Add this code to `CropOverlayView.kt`:
[code]

And add this to the bottom of its `onDraw()` method:
[code]

You may want to move `maxVerticalExclusion` to `CropImageOptions.kt` similarly to `mTouchRadius`.

I gave it a good test and it seems to work perfectly as far as I can tell.

[2022-08-19 09:35] Canato commented on #423
Will wait for someone to open a PR ^^

[Contributing guide](https://github.com/CanHub/Android-Image-Cropper/blob/main/CONTRIBUTING.md)

[2022-08-19 10:15] #421 closed

[2022-08-20 14:25] PhilippNowak96 commented on #417
Sorry for the late answer, was quite busy. I opened a PR with the change in the FAQs :)

[2022-08-20 15:41] #417 closed

[2022-08-21 09:29] Janneman84 commented on #423
I'm first supposed to create a new branch right? When I do and try to push it it keep saying _invalid username or password_.

Frankly I have no idea what I'm doing and finding descent info is nearly impossible...

[2022-08-22 06:30] Canato commented on #423
Hey @Janneman84 let me try to help you 🚀

The link I gave you has a session `Doing some code`

There are some steps there. Step `3` says:

You need to fork not branch ^^.
You can branch your fork if you prefer, but not needed.
Later you need to open a PR from your fork to the main repo.

[2022-08-22 09:21] Janneman84 commented on #423
Ok I think I got it now, can you check?

[2022-08-22 10:12] Janneman84 opened #426 "Add option: autozoom treshold"
Currently the autozoom doesn't kick in until the crop window gets below 50% screen size. I'd like it to be a bit more aggressive.

In the code these seem to be hard coded values, i.e. triggers at 0.5, then zooms to 0.65. It'd be nice if these values can be changed as options. It should assert that the zoom to value is always higher than the treshold of course.

This is the code where the values ar

[2022-08-23 20:35] Chandra-Sekhar-Bala opened #427 "[BUG] - Back button dosen't work when activity launched."
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [4.3.1]

**Describe the bug**
After invoking ```CropImageContract()``` two options appeared ```camera and gallery```, at this moment if we press the back button it doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
 *Launch the ```CropImageContract()``` then press back button.

**Ex

[2022-08-23 20:45] Chandra-Sekhar-Bala opened #428 "[BUG] - Crop options doesn't show up."
🚨🚨 Before opening the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [4.3.1]

**Describe the bug**
Crop options does not show up if theme changed to ```NoActionBar```

**To Reproduce**
Steps to reproduce the behavior:

1. Change app theme to NoActionBar
2. Launch CropImageContract();
3. Select any image
4. No opinion will b shown

**Expected behavior**
options

[2022-08-24 08:26] Canato commented on #428
Hey @Chandra-Sekhar-Bala check if this [FAQ](https://github.com/CanHub/Android-Image-Cropper/blob/main/.documentation/FAQ.md#cant-see-the-crop-button-so-cant-crop-the-image) can help you and let me know

I think is the first question.

[2022-08-24 09:18] Canato commented on #427
Indeed, good catch!

[2022-08-27 07:46] Canato commented on #426
Yes! is a great option. Let's add

[2022-08-28 10:18] #423 closed

[2022-08-28 21:27] setifa opened #430 "[BUG] -"
Please Help
i had issue when migrating.
![00](https://user-images.githubusercontent.com/112350771/187095172-412e120d-9032-4e7b-8d8d-cc542b7fa9ac.jpg)

[2022-08-29 10:16] Chandra-Sekhar-Bala commented on #428
Thanks @Canato  🙌🏽

[2022-08-29 10:16] #428 closed

[2022-08-29 13:43] Canato commented on #430
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template that will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template

_Is important to remember that my work here is a volunteer and to save time and have better answer help me that people use the templates._

Th

[2022-08-29 13:43] #430 closed

[2022-08-29 13:44] #427 closed

[2022-08-29 15:42] setifa opened #431 "[BUG] - Migration don't find activity"
- Lib Version [4.3.1]

**Describe the bug**
This issue appeared after migrating from the old library to the new.
When running the App i face this error:
Unresolved reference: activity

**To Reproduce**

**Expected behavior**
when i write "CropImage" then "." in the checkbox it doesn't appear "activity" or "getActivityResult"

**Media**
![00](https://user-images.githubusercontent.com/112350771/1872

[2022-08-30 08:22] Canato commented on #431
Hi @setifa you are using an old format of the library. If you wanna use the latest format you need to check how to use the library on the [README](https://github.com/CanHub/Android-Image-Cropper#calling-crop-directly) or check the sample codes we provide.

[Why did we make this change?](https://github.com/CanHub/Android-Image-Cropper/issues/26)

[2022-08-31 12:20] yasirkhiljee opened #432 "[BUG] -"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [e.g. 4.3.1]

**Describe the bug**
when I used NoActionbar the crop option was not visible

[2022-09-01 03:48] thekingrenz23 commented on #419
any update on this one? we need to use the new photo picker for android 13

[2022-09-01 07:40] Canato commented on #419
Look like no one is working on this @thekingrenz23 feel free to drop a PR!

But I believe should be backwards compatible, no? Is just a new better way of doing it

[2022-09-05 11:03] kingnightdrifter opened #433 "[BUG] - Toolbar is not showing"
- Lib Version [e.g. 1.1.0]

**Describe the bug**
Toolbar is not showing if my activity theme is NoActionbar

[2022-09-05 11:14] Canato commented on #433
Hey @kingnightdrifter welcome to the repository, believe we have this solved.

on the README we have a FAQ

This look like to be the first question of the [FAQ](https://github.com/CanHub/Android-Image-Cropper/blob/main/.documentation/FAQ.md#cant-see-the-crop-button-so-cant-crop-the-image)

If this is not the case try to search for similar situations, one of these can help you probably.

![Screensh

[2022-09-05 11:14] #433 closed

[2022-09-05 12:13] Canato commented on #95
No, if there is someone working on it, a PR a mention or anything this will be updated

[2022-09-08 12:31] Morons opened #435 "[Feat] - Plans to Implement this for KMM/ D-KMP etc."
Going forward we need to prepare for a massive change to KMM/D-KMP in the future (Why have 2 or more apps, each for another platform if you can shere...)
Will you consider to start adding iOS/Desktop/Web etc?

[2022-09-08 12:40] Canato commented on #435
I"m happy if someone wanna do the work! My self I don't have the knowledge or time! ^^

[2022-09-08 13:05] Sandroisu commented on #95
When I rotating it CropImageView with 5 degree my app crashing)
`java.lang.IllegalArgumentException: Invalid Region.Op - only INTERSECT and DIFFERENCE are allowed
        at android.graphics.Canvas.checkValidClipOp(Canvas.java:853)
        at android.graphics.Canvas.clipRect(Canvas.java:876)
        at com.canhub.cropper.CropOverlayView.drawBackground(CropOverlayView.kt:676)
        at com.canhub.

[2022-09-08 13:08] Canato commented on #95
Please @Sandroisu open the PR, will be beneficial for everyone

[2022-09-08 23:42] #400 closed

[2022-09-09 10:30] Devenom1 opened #436 "[BUG] - Setting toolbar color to white does not work"
- Lib Version 4.3.1

## Bug
Setting the toolbar color to `Color.WHITE` doesn't work.

This happens because of a condition checking if toolbar color is `-1` assume it's not set. Unfortunately `-1` is also the value of `Color.WHITE`.

PS: I had made this feature. Will fix it

[2022-09-09 12:04] Canato commented on #436
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template that will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template

_Is important to remember that my work here is a volunteer and to save time and have better answer help me that people use the templates._

Th

[2022-09-09 12:04] #436 closed

[2022-09-09 13:08] Devenom1 opened #437 "[BUG] - Setting toolbar color to White does nothing"
- Lib Version [4.3.2]

**Describe the bug**

Setting the toolbar color to `Color.WHITE` doesn't work.

This happens because of a condition checking if toolbar color is `-1` assume it's not set. Unfortunately `-1` is also the value of `Color.WHITE`.

PS: I had made this feature. Will fix it

**To Reproduce**

Steps to reproduce the behavior:
1. Use the `setToolbarColor` method to set the toolbar co

[2022-09-12 06:25] MaCls98 commented on #95
@Sandroisu ¡Hi! Just want to know if you could create the pull request, I will really apreciate it
Or maybe if you can share your solution, thanks!

[2022-09-16 00:22] #415 closed

[2022-09-21 17:29] vanniktech opened #439 "[BUG] - CropRect has mixed up width / height ⚠️ ⚠️"
Using a Pixel 6 XL.

1. Click on sample of customactivity
2. Select `Camera` as the source
3. Take a portrait! picture
4. Have a breakpoint in `onSetImageUriComplete`: https://github.com/CanHub/Android-Image-Cropper/blob/85c98bbda8ec2024b9572518baaa894ac7ea55d5/cropper/src/main/java/com/canhub/cropper/CropImageActivity.kt#L274

Expected behavior: `view.cropRect` should have the correct dimensions

[2022-09-21 17:30] vanniktech commented on #439
If you look at the image: `BitmapFactory.decodeStream(view.context.contentResolver.openInputStream(uri))` - you can also see that the orientation is messed up:

<img width="1728" alt="Screen Shot 2022-09-21 at 19 30 21" src="https://user-images.githubusercontent.com/5759366/191571892-5d18206b-3c23-4b62-9fef-fcdcd4812bf3.png">

[2022-09-21 21:26] Canato commented on #439
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template that will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template

_Is important to remember that my work here is a volunteer and to save time and have better answer help me that people use the templates._

Th

[2022-09-22 02:40] vanniktech commented on #439
Are you serious?

[2022-09-22 07:50] Canato commented on #439
Yeah, man, to be fair, if I see an issue without the template, I already send this automated message without reading it.
I spent too much time doing free volunteer work here and dealing with many people who don't read documentation or FAQ or don't know how to raise an issue.

It is for my time management and sanity that I put this type of template to help, sadly I have a limited amount of time. No

[2022-09-22 08:15] vanniktech commented on #439
Thanks for reopening! Library version is latest, I tried this out on the `main` branch at https://github.com/CanHub/Android-Image-Cropper/commit/85c98bbda8ec2024b9572518baaa894ac7ea55d5

[2022-09-25 01:16] #426 closed

[2022-09-25 01:17] #431 closed

[2022-09-26 07:26] #437 closed

[2022-09-26 10:18] vanniktech commented on #439
This will not be closed by https://github.com/CanHub/Android-Image-Cropper/pull/440

[2022-09-28 05:14] thekingrenz23 opened #442 "[BUG] - Manifest merge error"
It was working 5 days ago

- 4.2.0 also tried the latest no luck

**Describe the bug**
Cant build my app it works the last time i build it

**4.2.0 Error**
[code]

**4.3.2 Error**
[code]

[2022-09-28 06:18] thekingrenz23 commented on #442
I found out that the test:core activies does not have export on them how do i fix this?

[2022-09-28 06:30] thekingrenz23 commented on #442
Closing this issue now because facebook-gamingservices:15.0.0 is the problem

[2022-09-28 06:30] #442 closed

[2022-09-28 10:41] pratikdhody opened #444 "[BUG] - 521 at https://jitpack.io/com/github/CanHub/Android-Image-Cropper/4.3.0/Android-Image-Cropper-4.3.0.pom"
Hi,

Using expo-image-picker and getting a 521 on the pom package?

![image](https://user-images.githubusercontent.com/48036133/192759062-b5ed4b58-b337-4c02-ba99-3de4b3ea30e2.png)

Please advise

Cheers

[2022-09-28 10:50] Canato commented on #444
https://github.com/CanHub/Android-Image-Cropper/discussions/441

[2022-09-28 11:36] ahmednawaz22 commented on #442
@thekingrenz23
facing these issues after updating CanHub version.
any idea?

app/src/main/AndroidManifest.xml:27:9-33:20 Error:
	android:exported needs to be explicitly specified for element <activity#androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity>. Apps targeting Android 12 and higher are required to specify an explicit value for `android:exported` when the corresponding comp

[2022-09-28 11:48] thekingrenz23 commented on #442
Yes its a problem with test:core:1.0.0 its activity is not exported for me the test:core:1.0.0 is used by facebook-gaming module which is part of the facebook sdk. I removed the whole facebook sdk and just included the facebook login sdk because thats really all i need.

you should check what library you are using that uses test:core:1.0.0

[2022-09-28 12:02] thekingrenz23 commented on #442
you should update to test:core:1.4.0

[2022-09-28 12:04] Rast3 opened #445 "[BUG] - Converting Code"
Hi, i was using the old image_cropper from 'com.theartofdev.edmodo:android-image-cropper:2.8.+'. Now i'm using this new library 'com.github.CanHub:Android-Image-Cropper:4.3.2' but i don't know how to convert this parts of code:

CropImage.activity(picUri)
                        .setGuidline(CropImageView.Guidelines.ON)
                        .setAspectRatio(4,3)
                        .start(ge

[2022-09-28 12:20] ahmednawaz22 commented on #442
thanks @thekingrenz23

still same issue
/app/src/main/AndroidManifest.xm:27:9-33:20 Error:
	android:exported needs to be explicitly specified for element <activity#androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity>. Apps targeting Android 12 and higher are required to specify an explicit value for `android:exported` when the corresponding component has an intent filter defined. S

[2022-09-28 12:23] thekingrenz23 commented on #442
add me on discord ill show you code.wizard#1787

[2022-09-28 12:27] Canato commented on #445
Hey sorry, not providing support for the library until we decide a new responsible, check more on the discussion: https://github.com/CanHub/Android-Image-Cropper/discussions/441

[2022-09-28 12:28] thekingrenz23 commented on #442
it should work just adding the test:core:1.4.0 wont fix the issue you have to find libraries you are using that depended on it and must ovverried the values

[2022-09-28 12:44] pratikdhody commented on #444
probably worth mentioning that to expo @Canato as they've changed to point this package as part of expo SDK 45?
https://github.com/expo/expo/blob/main/CHANGELOG.md#-breaking-changes-2

[2022-09-28 20:22] ahmednawaz22 commented on #442
@thekingrenz23 thanks buddy :)
issue was in manifest file of jetifier-core-1.0.0

[2022-09-29 11:11] zcyyouminghuo opened #446 "请问怎么获取真是的uri，目前我拿到的content无法转换成真实地址"
🚨🚨 Important to remember that this library is maintained for free.
You can check the maintainers plans for the library in the Project tab.
If you really want to have some maintainer working in your feature please check the sponsorship options.
But feel free to suggest features and do yourself, this is a community driven open source library

**Is your feature request related to a problem? Please de

[2022-09-29 11:29] Canato commented on #446
Hey, sorry, I'm not providing support for the library until we decide on a new responsible.
Check more on the discussion: https://github.com/CanHub/Android-Image-Cropper/discussions/441

[2022-10-02 13:57] Rast3 opened #448 "[Feat] - Java version"
Hi, is there a java version of the "Calling crop directly" code pls?

[2022-10-03 08:59] Canato commented on #448
Yes, please check the FAQ
Or the link for a Java explanation on the README

Is the first links

![Screenshot 2022-10-03 at 09 59 31](https://user-images.githubusercontent.com/15942449/193539227-1c85ffcc-a2ac-458d-b98e-1dea49679921.png)

[2022-10-03 09:00] #448 closed

[2022-10-06 09:13] dineshkarthi95 commented on #419
Hey @Canato I can help on this issue and pick it up, let me know :)

[2022-10-06 09:17] Canato commented on #419
Hey, sorry, I'm not providing support for the library until we decide on a new responsible.
Check more on the discussion: https://github.com/CanHub/Android-Image-Cropper/discussions/441

[2022-10-19 09:59] vanniktech commented on #446
I'd just say this is spam.

[2022-10-19 10:00] vanniktech commented on #445
Please check the sample app there are various showcases. We don't have the time to answer usage questions.

[2022-10-19 10:00] #445 closed

[2022-10-19 10:01] vanniktech commented on #444
Yeah jitpack is sometimes flaky. Tracking this via #393

[2022-10-19 10:01] #444 closed

[2022-10-19 10:02] #435 closed

[2022-10-19 10:04] vanniktech commented on #419
I don't see any benefit adding this to the library itself. You can use this functionality already and just pass the url to this library. (Please correct me if I'm mistaken)

[2022-10-19 10:04] #419 closed

[2022-10-19 10:05] vanniktech commented on #414
@ksk-tech have you found any workaround? Is this still happening?

[2022-10-19 10:06] vanniktech commented on #355
@marekoid do you still have this issue or were you able to work around it?

[2022-10-19 10:06] vanniktech commented on #328
What exactly is wrong here?

[2022-10-19 10:09] vanniktech commented on #95
Mantis, the iOS library I'm using for cropping has a nice rotation dial (bottom section):
![https://github.com/guoyingtao/Mantis/blob/master/Images/Mantis%20on%20all%20devices.png?raw=true](https://github.com/guoyingtao/Mantis/blob/master/Images/Mantis%20on%20all%20devices.png?raw=true)

[2022-10-19 14:04] #393 closed

[2022-10-20 03:13] tarun-patch commented on #428
the FAQ page doesn't exist. the URL is giving 404. I am also facing the same issue. @Canato

[2022-10-20 06:17] vanniktech commented on #428
You need to set an app theme with toolbars.

[2022-10-21 13:45] kumzi opened #472 "Can't find Wiki/ Documentation."
I was using 'com.theartofdev.edmodo:android-image-cropper:2.8.0' previously, Now I would like to build with this library.
But unfortunately the samples are with Kotlin and I would like some Java examples/ documentation. I can't find the wiki page of this repo. Kindly help.

[2022-10-21 13:53] vanniktech commented on #472
Migration is here https://github.com/CanHub/Android-Image-Cropper#migrating-from-android-image-cropper
We've ditched Java samples but you can call the code from Java.

[2022-10-21 13:53] #472 closed

[2022-10-21 14:03] vanniktech commented on #472
They are also in the README now :)

We'll focus on Kotlin now. It's state of the art.

[2022-10-21 14:41] kumzi commented on #472
Kindly share the old Java sample. I badly need to use this in one of my school project.

[2022-10-21 15:44] vanniktech commented on #472
https://github.com/CanHub/Android-Image-Cropper/commit/ce3bf1b476e2ce0404abc1ba9c245c68dec42f23

[2022-10-23 14:48] tasy5kg opened #473 "The thickness of the crop box is too thick"
I have been using Android-Image-Cropper for a while.

Recently I found the thickness of the crop box is too thick, so it is sometimes difficult for users to judge whether the pixels on the edge of the border will be cropped.

![image](https://user-images.githubusercontent.com/30869777/197398010-607a95a2-a31e-49a7-9418-40e54c108eec.png)

---

And this is the image cropping box in Google Photos, whi

[2022-10-23 14:50] vanniktech commented on #473
Have you looked at all of the options in `CropImageOptions`? `borderLineThickness` should be what you're looking for.

[2022-10-23 14:50] #473 closed

[2022-10-23 15:48] tasy5kg commented on #473
I found it! Thanks for your prompt reply.

[2022-10-24 08:08] #439 closed

[2022-10-24 13:15] vanniktech commented on #420
Could you please try the latest release, 4.4.0 and reopen this issue if it still persists?

[2022-10-24 13:15] #420 closed

[2022-10-26 23:28] siddeshpillai commented on #355
@vanniktech @Canato I'm having this issue as well,

```Try get URI for scope storage - content://```

[2022-10-27 00:33] siddeshpillai commented on #414
https://github.com/CanHub/Android-Image-Cropper/issues/355#issuecomment-1292771572

[2022-10-27 18:11] ksk-tech commented on #414
@vanniktech @Canato it seems like the Samsung Camera app update has fixed the issue.

[2022-10-28 14:47] vanniktech commented on #355
@siddeshpillai can you modify the sample app of this repository in order to create a reproducible issue? If so, I can have a look at it!

[2022-10-28 14:47] vanniktech commented on #414
Alright, thanks. Closing this :)

[2022-10-28 14:47] #414 closed

[2022-10-28 16:42] andj207 opened #507 "Don't hard fix the crop rect to maxCropResultX/Y size"
My app need allows user to pick and crop image at any size so that they can select the whole image if needed, then the result will be cropped and resize to my preset maxCropResultWidth x maxCropResultHeight.
Currently, if set maxCropResultWidth x maxCropResultHeight the crop rect will be limit to that size that's is why I cannot select the whole image size.
Expect: can select any size, the image r

[2022-10-28 17:33] andj207 commented on #507
I found the options and set `outputRequestWidth` `outputRequestHeight` to 2048 and `outputRequestSizeOptions = CropImageView.RequestSizeOptions.RESIZE_INSIDE` but don't know why it still not work. The result image size is bigger than 2048. Please see the attached screenshots.

![crop_options](https://user-images.githubusercontent.com/3950215/198697542-f4191c73-2e18-44fd-a65f-8b59d2b68f66.jpg)

![c

[2022-10-28 17:46] andj207 commented on #507
found the reason why. I copy the sample code, the `binding.cropImageView.croppedImageAsync` in the fragment sample does not pass the options so it uses the default ones. Sorry for bothering :).
Close this.

[2022-10-28 17:46] #507 closed

[2022-10-28 17:46] marekoid commented on #355
I created a basic sample that reproduced the issue and linked to it in [that comment](https://github.com/CanHub/Android-Image-Cropper/issues/355#issuecomment-1106500521).

Addressing the earlier question, it didn't feel like worth looking for a work around really, just didn't upgrade beyond the version that has introduced the regression.

I'm no loner working on the project were the bug prevented

[2022-10-29 19:21] #355 closed

[2022-10-31 04:02] imufiid opened #521 "[BUG] Cannot find import com.canhub"
I tried migrate from ```com.theartofdev.edmodo:android-image-cropper:2.8.+``` to ```com.vanniktech:android-image-cropper:4.4.0``` in my project.. but i can't import from package ```com.canhub.```

gradle version: gradle-6.5-all.zip
kotlin version: 1.6.21

why?

[2022-10-31 04:10] imufiid commented on #521
i tried ```com.vanniktech:android-image-cropper:4.4.0``` like in docs, still not find com.canhub package

[2022-10-31 08:06] prasad-333 commented on #328
@vanniktech @Canato Looks for some testing purpose someone might have changed the image but anyways this is fixed as per expected behavior. Kindly review the PR #522

[2022-10-31 08:17] prasad-333 commented on #521
Did you build gradle sync the project after change? sometimes Android Studio cries, you might need to restart AS with Invaliding Cache. Give this a try.

[2022-10-31 18:25] raphael-dario opened #523 "minCompileSdk specified in a dependency greater than module's"
Hello.
This is my project's sdk versions:
[code]

as soon as I declare the dependency as follow
[code]

I get these errors compiling:
[code]

Do I really need to upgrade my `targetSdkVersion` & `compileSdkVersion` to use this lib?

Thanks for any help.

Extra note: the project was using `com.theartofdev.edmodo:android-image-cropper` until now, but given that one is only hosted on JCenter maven rep

[2022-10-31 19:50] vanniktech commented on #523
So AndroidX is forcing this on you. We are just using the AndroidX libraries. And it seems like when you upgraded to this library, your AndroidX dependencies got an upgrade as well.

[2022-11-01 08:58] vanniktech commented on #328
Thanks for the fix!

[2022-11-01 08:58] #328 closed

[2022-11-01 08:58] vanniktech commented on #521
@imufiid any response to what @prasad-333 said?

[2022-11-01 08:59] vanniktech commented on #523
Closing as it's not related and you should always upgrade. Play Store is also forcing you now to target more recent versions starting from today.

[2022-11-01 08:59] #523 closed

[2022-11-01 15:26] nguyenhuuloc99 commented on #521
help me  not found CropImage.activity().

[2022-11-02 00:15] imufiid commented on #521
oke it worked, but in my case had to restart AS several time, idk what happened

[2022-11-02 06:36] raphael-dario commented on #523
@vanniktech  thanks for your reply. note that what you are saying concerning the Play Store is not exactly true for existing apps, see here:
https://support.google.com/googleplay/android-developer/answer/11926878?hl=en
Nevertheless, I suggest you update the Readme informing that this library would only work for apps/modules targeting API level 33 (I guess) unless there is a workaround.

Thanks for

[2022-11-02 08:58] vanniktech commented on #521
Best to report that to the Android Studio Issue Tracker.

[2022-11-02 08:58] #521 closed

[2022-11-03 20:09] cillyk opened #524 "Java support?"
where is description for java ?

[2022-11-03 20:13] vanniktech commented on #524
https://github.com/CanHub/Android-Image-Cropper/issues/472#issuecomment-1286999674 & we removed our samples in https://github.com/CanHub/Android-Image-Cropper/issues/472#issuecomment-1287141427 you can still use it from Java though!

[2022-11-03 20:13] #524 closed

[2022-11-04 09:35] MariusBudin opened #525 "Update Readme file to state compileSdk"
This library is not compatible with projects with minCompileSdk 31 or below.
I understand the choice but please kindly add it to the Readme file so people don't waste time and only learn about it when trying to compile.

[2022-11-04 10:07] vanniktech commented on #525
minCompileSdk is 21. Are you talking about something else?

[2022-11-04 11:19] naveedninesol opened #526 "Permission Denial ComponentInfo{com.fakechat.maker.creator.waa/com.canhub.cropper.CropImageActivity}:"
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.fakechat.maker.creator.waa/com.canhub.cropper.CropImageActivity}: java.lang.SecurityException: Permission Denial: starting Intent { act=android.media.action.IMAGE_CAPTURE flg=0x3 cmp=com.sec.android.app.camera/.Camera clip={text/uri-list U:content://com.fakechat.maker.creator.waa.cropper.fileprovider/cached_fil

[2022-11-04 11:21] vanniktech commented on #526
Yeah you're trying to the use the camera when your user hasn't given you the necessary permission

[2022-11-04 11:21] #526 closed

[2022-11-04 11:29] MariusBudin commented on #525
Project compileSdk, sorry, not minSdk

[2022-11-04 11:31] vanniktech commented on #525
Why is your compileSdk so low? You have to update at some point anyway

[2022-11-04 11:32] naveedninesol commented on #526
I have given all permission (camera ,  storage) and this crash is coming only on android 11

[2022-11-04 11:36] MariusBudin commented on #525
Big projects might have their own reason. The dependency goes the other way around. I see [this was brought up before](https://github.com/CanHub/Android-Image-Cropper/issues/523) so it was a known thing but just ignored, feel free to close this, just trying to bring in some transparency

[2022-11-04 11:37] #525 closed

[2022-11-06 09:15] criticalAY opened #527 "Cropping Exception"
`com.canhub.cropper.CropException$Cancellation: crop: cropping has been cancelled by the user` Exception arises when we try to crop an image and press back without actually cropping the image

[2022-11-06 09:57] vanniktech commented on #527
Yeah that's wanted

[2022-11-06 09:57] #527 closed

[2022-11-06 10:49] criticalAY commented on #527
it generates a report because of that is there a way to handle it?

[2022-11-06 10:55] vanniktech commented on #527
try/catch

[2022-11-13 08:56] OKollkila opened #529 "Class referenced in the manifest, `com.canhub.cropper.CropImageActivity`, was not found in the project or the libraries"
i am trying to add image cropper to my app but  this error keep showing up
**Class referenced in the manifest, `com.canhub.cropper.CropImageActivity`, was not found in the project or the libraries**
 so please any one had issue like this before ?? tell me what i am doing Wrong

manifest

`
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

[2022-11-13 10:06] vanniktech commented on #529
Please have a look at the sample app in this repository.

[2022-11-13 10:06] #529 closed

[2022-11-14 06:48] anas43950 opened #530 "How to use in Java?"
ArthurHub library was usable in Java, but this one is written in kotlin and its examples are also available in kotlin only, Please provide a sample project or some snippets in Java too..

[2022-11-14 07:28] vanniktech commented on #530
Please search in the issues first before creating a new one: https://github.com/CanHub/Android-Image-Cropper/issues/524#issuecomment-1302614932

[2022-11-14 07:28] #530 closed

[2022-11-17 12:40] majidjamhsidi opened #531 "use in java"
how use in java ?

[2022-11-17 13:46] vanniktech commented on #531
https://github.com/CanHub/Android-Image-Cropper/issues/530

[2022-11-17 13:46] #531 closed

[2022-11-30 05:40] hannesa2 opened #532 "Migrate from com.theartofdev.edmodo"
Hi, found this repository as an promising successor from non-maintained
`com.theartofdev.edmodo:android-image-cropper:2.8.0`

That's why I start to migrate to `com.vanniktech:android-image-cropper:4.5.0` and run into some issues
A: you removed `CROP_IMAGE_ACTIVITY_REQUEST_CODE`
B:  you removed this Activity start/result mechanism

and this

I didn't invented the code snippets but I received this p

[2022-11-30 09:18] vanniktech commented on #532
https://github.com/CanHub/Android-Image-Cropper#migrating-from-android-image-cropper

[2022-11-30 09:18] #532 closed