[2020-11-27 16:30] Canato opened #3 "Android 10 / 11 Permissions issue"
With the new OS the permission `WRITE_EXTERNAL_STORAGE` got deprecated.
And now need to use scope storage.

[More here](https://developer.android.com/about/versions/11/privacy/storage)

[2020-11-28 04:43] azizanhakim opened #6 "Is there any callback when crop window is ready to crop?"
I am trying cropImageView.cropRect = myRect
then when I try cropImageView.croppedImage immediattly not getting the exact myRect area cropped bitmap.
Is your library taking some time to draw a rectangle on the image?
If yes is there any callback available so that I can know - Yeah my area is ready now I can call getCroppedImage() method on it.

[2020-11-29 16:15] Canato commented on #6
Hey @azizanhakim could not fully get you, could you give me more context ?

What are you trying to do? use the built-int crop activity, or use the crop image in a custom activity? This image come from gallery/camera or is the one the library is getting?

Are you using [this guide](https://github.com/CanHub/Android-Image-Cropper/wiki/Set-initial-crop-window-rectangle) ?

Sorry to make more question

[2020-11-30 07:32] akkie2106 commented on #3
still not getting URI From Camera Image

[2020-11-30 08:39] Canato commented on #3
Hey @akkie2106 this is not fixed yet, will be in `1.1.0`
`1.0.0` is just a copy from previous lib

[2020-11-30 13:10] akkie2106 commented on #3
OK

[2020-12-01 04:34] akkie2106 commented on #3
<queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>

        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
i put this in manifest it shows me camera and files to select image but camera is still not working i'm getting

[2020-12-01 07:58] ravindu1024 commented on #3
@Canato Sorry mate, was super busy. I updated the PR to remove some unwanted changes I had made. We don't really need the Provider or the Authority. The magic is in how we request the intent: `galleryIntent.addCategory(Intent.CATEGORY_OPENABLE);`. All devices should support this, technically. This works for all API levels including 30.

[2020-12-01 09:14] Canato commented on #3
@akkie2106 please open a new issue with more information.
What part of the code you get the null, OS, etc

I believe I know a solution 😄 just need to be sure is the same topic

[2020-12-01 11:44] akkie2106 opened #7 "Crop is not working when I click Image from camera In Android 11"
getting Null in intent data  while clicking the image from the camera in Android 11
below in data i'm getting null in intent data
   @Override
    @SuppressLint("NewApi")
    protected void onActivityResult(int requestCode, int resultCode, Intent data) {

        // handle result of pick image chooser
        super.onActivityResult(requestCode, resultCode, data);
        if (requestCode == CropIma

[2020-12-01 11:46] akkie2106 commented on #7
@Canato it's from camera otherwise it is working fine with other apps like Files And photos
I'm getting null in intent data while clicking the image from the camera on the Android 11 device.

[2020-12-01 11:58] Canato commented on #7
Thanks @akkie2106 now that I have more information I can confirm, this is related to #3
Until this issue is done, we will not have a fix for it.

I'm working on the issue to have a proper fix soon.

[2020-12-01 12:33] akkie2106 commented on #7
Thank you @Canato

[2020-12-02 16:48] ahmadbajwa12315 opened #8 "How to Change icons color and crop text color?"
I just need to change toolbar icon and text color according to my app theme.

[2020-12-02 17:38] Canato commented on #8
Hey did you check this guide? [Activity-Visual-Customization](https://github.com/CanHub/Android-Image-Cropper/wiki/Activity-Visual-Customization)

If this don't work maybe this can help [Using-CropImageView-in-own-Activity](https://github.com/CanHub/Android-Image-Cropper/wiki/Using-CropImageView-in-own-Activity)

Let me know!

[2020-12-03 09:06] Prabha10cs opened #9 "'android.os.AsyncTask' is deprecated"

[2020-12-03 09:13] Canato commented on #9
indeed, hopefully we can update this soon

[2020-12-03 09:33] ahmadbajwa12315 commented on #8
![Screenshot_20201203_143107](https://user-images.githubusercontent.com/73605676/100991094-6e6c4580-3574-11eb-9e25-2a73389f4672.png)

Still icons color are white.

[2020-12-03 10:51] Canato commented on #8
@ahmadbajwa12315 can you show the code where you are trying to change the colour? The guide give two options

[2020-12-04 05:58] akkie2106 commented on #7
@Canato  is there any update about the issue that I have raised

[2020-12-04 09:09] Canato commented on #7
When #3 is fixed and we open a PR for this we will release a new version with the fix, until there people are working on the solution. If you already spot, please open a PR

[2020-12-04 12:26] akkie2106 commented on #7
oke I found a solution for this open directly camera for clicking image and then directly pass URI for cropping.
![image](https://user-images.githubusercontent.com/67181037/101163543-be710800-3659-11eb-88d6-353812a50e95.png)
![image](https://user-images.githubusercontent.com/67181037/101163628-dfd1f400-3659-11eb-8e4e-23d41e35cbe4.png)
@Canato @ravindu1024 it is working

[2020-12-04 12:29] akkie2106 commented on #7
**If you find the solution to #3, please  let me know**
@Canato @ravindu1024
Thank you

[2020-12-05 07:14] Harld123 commented on #7
@akkie2106
Where does that code go?

[2020-12-05 07:41] akkie2106 commented on #7
There is a thing in Android studio You  can simply use i.e Debugging use it You will find
@Harld123

[2020-12-05 09:48] Harld123 commented on #7
@akkie2106 @ravindu1024

is there a way to not show the camera option without removing the following from the Manifest file:

`  <queries>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
`

[2020-12-05 10:40] akkie2106 commented on #7
@Harld123 go through the cropper code you'll find definitely

either remove camera intents

[2020-12-08 11:37] ahmadbajwa12315 commented on #8
I tired the both options.

[2020-12-08 11:38] ahmadbajwa12315 commented on #8
I am using this one (Hey did you check this guide? Activity-Visual-Customization)

[2020-12-08 12:02] Canato commented on #8
@ahmadbajwa12315 can you show the code please?

[2020-12-08 13:00] ahmadbajwa12315 commented on #8
**Style:**
[code]

**Manifest**
[code]

**Java**
[code]

[2020-12-08 13:24] Canato commented on #8
Thanks for the code, but I cannot know which resources you are using. You shared the style.
What is the value of colorPrimary?

you can use too `setActivityMenuIconColor(ColorYouWant)` method

And please check that you are using an old library. `om.theartofdev.edmodo.cropper.CropImageActivity` is not maintaned

check the guide about how to update https://github.com/CanHub/Android-Image-Cropper/wik

[2020-12-08 13:28] ahmadbajwa12315 commented on #8
now I understand, I was using old library.

[2020-12-08 14:08] #8 closed

[2020-12-11 13:14] demed97 opened #12 "NullPointerException"
Hi. I have java.lang.NullPointerException: Attempt to invoke virtual method 'void com.theartofdev.edmodo.cropper.CropImageView.setOnSetImageUriCompleteListener(com.theartofdev.edmodo.cropper.CropImageView$OnSetImageUriCompleteListener)' on a null object reference when i try start activity whith this code from fragment
CropImage.activity()
                .setGuidelines(CropImageView.Guidelines.ON)

[2020-12-11 17:10] Canato commented on #12
I can see that you are using `com.theartofdev.edmodo.cropper` you need to migrate

[here you have a guide for it.](https://github.com/CanHub/Android-Image-Cropper/wiki/%F0%9F%9A%A8-How-to-migrate-Android-Image-Cropper--%F0%9F%9A%A8)

[2020-12-13 12:00] #3 closed

[2020-12-13 12:00] #7 closed

[2020-12-14 09:45] demed97 commented on #12
hi @Canato. after migration i have the same problems
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.tallium.eubank.smartbank, PID: 9601
    java.lang.NullPointerException: Attempt to invoke virtual method 'void com.canhub.cropper.CropImageView.setOnSetImageUriCompleteListener(com.canhub.cropper.CropImageView$OnSetImageUriCompleteListener)' on a null object reference
        at com.canhub

[2020-12-16 16:19] manuelrego27 opened #14 "Stop requiring Personal Access Token"
I suppose it's in the list of planned things to do, but I really don't like including credentials in build.gradle 😅 (or in gradle.properties like you mention in the guide)

EDIT: By this I mean doing whatever changes are needed so a Personal Access Token for GitHub isn't necessary, i've edited the previous title

[2020-12-16 16:25] Canato commented on #14
Hey thanks for the suggestion, this decision was done to make the life easier.

But of course we can improve, if someone add the code and the CI to release it in another place we can change or even have both.

More libraries use the GitHub packages, I believe will became normal to have CIs with access tokens.

Is the same when we have secret values for Twitter API, Facebook API etc
We should never

[2020-12-17 06:54] VrUnd14 opened #15 "how to handle multiple requst?"
Suppose i have three images to crop. inside `onActivityResult()` how will i come to know that this result is for which image?

[2020-12-17 09:50] Canato commented on #15
Hmm, I believe you should pass one path for each image right? So you know where they are stored. How is your code now?

[2020-12-17 15:22] Canato commented on #12
I'm not sure @demed97 because `CropImageActivity.java:101` has exactly a null checker.
Maybe this will be solved when we update the project to kotlin

[2020-12-18 14:00] Canato commented on #12
I just open a PR with `CropImageActivity` into kotlin. #16

Hopefully will fix this annoying bug

[2020-12-20 01:53] crocsandcoffee commented on #14
@Canato Why not just publish via JitPack? This way it can be downloaded like any other dependency added to the build.gradle (app)

[2020-12-20 09:43] Canato commented on #14
Indeed, please could you add the code and if possible the CI for it so we could publish in jitpack?

[2020-12-20 16:32] crocsandcoffee commented on #14
@Canato Sure I can do that, although I am not sure CI setup is really required at this time but FYR (https://jitpack.io/docs/):

<img width="360" alt="Screen Shot 2020-12-20 at 11 28 45 AM" src="https://user-images.githubusercontent.com/6646320/102718541-b0a4bf00-42b6-11eb-9589-2affff21511a.png">

Nothing needs to be safely injected/passed in if the artifact is being published to jitpack. Every ti

[2020-12-20 16:38] Canato commented on #14
Perfect! Will be waiting for the PR. Please create a fake release, like 0.0.1 for test the jitpack import before we merge into main

And be sure to connect this issue to the PR

[2020-12-20 16:39] crocsandcoffee commented on #14
@Canato can you add me/give me write permissions so I can make this change? I've already created a branch called `jitpack` with changes

[2020-12-20 16:41] Canato commented on #14
@crocsandcoffee I'm not close to my laptop now to make it easy. I can do tomorrow. But on the mean time for test you can do with the fork version on your personal GitHub.

And tomorrow we do with the "real" code

[2020-12-21 09:07] Canato commented on #14
@crocsandcoffee was able to publish your fork project ?

[2020-12-21 14:12] Viral891 opened #20 "Gallery option is not showing"
![Screenshot_2020-12-21-19-41-11-983_android](https://user-images.githubusercontent.com/76436091/102785846-9bb65180-43c4-11eb-9a7a-84405b640633.jpg)

Android 10

Using Android Studio 3.6.3

I followed the steps as given but only camera and file options show up in the intent . The gallery option is not visible.I am also using the latest version of the library.

[2020-12-21 14:28] Canato commented on #20
Which version of the library are you using @Viral891 ?

[2020-12-21 14:32] Viral891 commented on #20
implementation 'com.canhub.cropper:android-image-cropper:1.1.0'

[2020-12-21 14:36] Canato commented on #20
OK, look like a bug, will investigate later.

@Viral891 could you please add
- The piece of code you call to show this
- The device used

Thanks!

[2020-12-21 19:17] demed97 commented on #12
I found the problem. It is related to the fact that the name crop_image_activity conflicted with another library com.regula.documentreader.api.CropImageActivity and com.theartofdev.edmodo.cropper.CropImageActivity. If possible, you can change the name crop_image_activity to something more original in the future

[2020-12-22 08:25] Viral891 commented on #20
Device Name: Mi Redmi Note 7 Pro
Android Version: Android 10
Please check on all Android 10 devices

`**Permission Library**: implementation 'gun0912.ted:tedpermission:2.2.3'

**Permission Code:**
 private void takePermissionNGetImg() {
        PermissionListener permissionlistener = new PermissionListener() {
            @Override
            public void onPermissionGranted() {
                on

[2020-12-22 08:57] #12 closed

[2020-12-22 19:10] VEIKKO99 commented on #14
I'm also desperately waiting for this :)

[2020-12-22 21:09] crocsandcoffee commented on #14
Apologies - will have this done later this evening. Will post my updates/changes here but this is an easy task so I'll have it done this evening for sure.

[2020-12-23 01:09] crocsandcoffee commented on #14
Okay - I got it to work on my fork @Canato, I release a new version called `1.1.1`. If you would like to test to see for yourself, try creating a sample android project (or use an existing one) and do the following:

Add this to your root build.gradle:
[code]

Add this to your app build.gradle:
[code]

 Then try referencing any component of the library from your source code and it should import co

[2020-12-23 01:16] crocsandcoffee commented on #14
If everything looks good, let me know, and I can clone this repo and make PR to main with the changes needed for the following:

- configuration changes needed for jitpack
- new release version via jitpack (1.11)
- the jitpack release version badge added to README
- updates to the README for how this library can be included

[2020-12-23 07:21] VEIKKO99 commented on #14
The integration works perfectly now! Thanks!

Btw. modifying of the manifest file is missing from the migration guide. Also on Android 10 I also get the "Failed to load Sampled Bitmap" error but that's a separate issue.

[2020-12-23 07:54] crocsandcoffee commented on #14
@VEIKKO99 keep in mind this is just a test publish version from my fork. I'll have to publish a new version from this repo tomorrow once I get collaborator access, once I do I'll update you so you include the latest version this way instead of using git auth.

We can also update the readme with anything that is missing or needs to be updated based on these changes. 👍

[2020-12-23 08:27] VEIKKO99 opened #21 "Failed to load sampled bitmap / File is not a picture error"
I'm using 1.1.1 version of the library.

I'm getting error:
 **java.lang.RuntimeException: Failed to load sampled bitmap: content://example.com.example.cropper.fileprovider/my_images/Pictures/pickImageResult2620448784152359897.jpeg
File is not a picture** when using CropImage activity.

Error occurs on Android 10 (Nokia 5.3 device) but I have also received error from our users that the same error

[2020-12-23 08:52] Canato commented on #14
@crocsandcoffee amazing! I invited you to the team and hopefully give the right access. Let me know and let's smash this PR

🚀

[2020-12-23 08:59] Canato commented on #21
Hey @VEIKKO99
Just to be sure, versions `1.1.1` is not a real version of the library, was done in the #14 for testing. We will launch yet.

Try to use versions `1.1.0` or wait next release to see if the problem persist

[2020-12-23 09:16] VEIKKO99 commented on #21
Ok,

I will do that, sorry for the hassle 👍

[2020-12-23 11:26] Canato commented on #20
sorry this is not possible.

## **About the Bug**
@Viral891 could not reproduce, look like a permissions library issue.
If you look in their issues https://github.com/ParkSangGwon/TedPermission/issues/108
They are having issues with Android 10/11 permissions

Google change a lot the storage permissions on Android 10 and enforce it for Android 11. We change the code to use Scope Storage and the per

[2020-12-28 18:16] Canato commented on #9
Just to be clear with who will help. Let's use **Coroutines**

[2021-01-03 08:30] #14 closed

[2021-01-04 06:37] rexyrex commented on #20
I have the same issue.

Android 10.
Galaxy Note 10+
implementation 'com.canhub.cropper:android-image-cropper:1.1.1'

`        CropImage.activity()
                .setGuidelines(CropImageView.Guidelines.ON)
                .setAspectRatio(1,1)
                .start(activity);`

[2021-01-04 07:18] rexyrex opened #24 "[BUG] - No crop option after camera"
**Issue:**
When selecting the default "camera" option, app does not go to crop screen after taking photo.

- Open selection menu
- Select camera
- Opens camera
- Take picture
- "Select or retake?" menu
- On selecting "select", camera closes and nothing happens

**Expected Behavior**
- Open Selection menu
- Select Camera
- Opens camera
- Take picture
- "Select or Retake?" menu
- On selecting "selec

[2021-01-04 08:32] bohemima commented on #24
Error seems to be "Failed to load sampled bitmap: content://<package>.cropper.fileprovider/my_images/Pictures/pickImageResult8398353326702376456.jpeg"

Is there missing steps in the documentation for FileProvider or permissions perhaps?

[2021-01-04 12:44] VEIKKO99 commented on #24
I'm experiencing exactly the same bug. Code seems to fail here:
**BitmapFactory.Options decodeImageForOption(ContentResolver resolver, Uri uri)**

==> This check fails in  **BitmapSampled decodeSampledBitmap(Context context, Uri uri, int reqWidth, int reqHeight)** method:
`if (options.outWidth == -1 && options.outHeight == -1)
                throw new RuntimeException("File is not a picture");`

[2021-01-04 17:43] Canato commented on #20
@rexyrex Could you reproduce with one of the build provide in the project like I ask?

`quick-start` or `sample` or `test`

[2021-01-04 18:12] Canato commented on #24
@rexyrex I have another bug, but similar. When I try to run `Quick Sample` the camera option is not available, even if the permission is granted.
Will look in to this bug later, in the main time I tag as `help wanted` and `good first issue` if someone else jump to help us.

@bohemima your problem seen unrelated, but another one, please check this PR #10 where we did the FileProvider work. Should b

[2021-01-05 04:30] SanjayDevTech commented on #9
@Canato Can I work on this issue? Could you assign it to me?

[2021-01-05 06:21] bohemima commented on #24
Only did a quick look around but it seems it is missing queries decleration for IMAGE_CAPTURE in the manifest,

[code]

I'm pretty sure it's the same issue, the crop screen is shown briefly before closing and the above error is sent.

[2021-01-05 11:53] Canato commented on #9
Yes @SanjayDevTech will add you to the team, so I can assign to you, please keep us update ^^

[2021-01-05 11:54] SanjayDevTech commented on #9
@Canato sure... I will commit the changes to my forked repository...

[2021-01-05 11:57] Canato commented on #9
@SanjayDevTech please use Coroutines as much you can =)

[2021-01-05 11:59] Canato commented on #24
Great! =D
@bohemima any chance you can help here? Try to reproduce on the sample apps and propose a fix(PR)?

[2021-01-05 12:03] SanjayDevTech commented on #9
This is my plan @Canato :
1) Migrate some code to Kotlin (Just to implement Coroutine)
2) Replace AsyncTask with Coroutines
3) Refactoring CropImageView to use new Coroutine class 😃

[2021-01-05 13:37] Canato commented on #9
Perfect! can we do this in 3 PRs to make faster to review?

[2021-01-05 14:34] VEIKKO99 commented on #24
I'm not sure what you mean by Quick Sample build, but the error also occurs on the sample app.

[2021-01-05 14:48] SanjayDevTech commented on #9
@Canato I have done 50% of migration
It is saying me to wait for your approval

[2021-01-05 14:51] Canato commented on #9
@SanjayDevTech Please open a PR so I can review and approve

[2021-01-05 14:52] SanjayDevTech commented on #9
@Canato Opened : )

[2021-01-05 16:31] SanjayDevTech commented on #9
@Canato Final PR is opened : )

[2021-01-05 17:35] #6 closed

[2021-01-06 02:38] rexyrex commented on #20
@Canato I'm quite new to this. How would I go about testing the different builds that you mentioned above? I've only tried implementing the most recent version into my app

[2021-01-06 08:33] Canato commented on #20
Hey @rexyrex you will need to import this project in your machine and build the apps in your emulator/device for test

[2021-01-06 09:42] SanjayDevTech commented on #9
@Canato ChangeLog and Readme updated

[2021-01-06 09:50] #9 closed

[2021-01-07 08:41] medroa commented on #21
I try to use versions 1.1.0
  implementation 'com.github.CanHub:Android-Image-Cropper:1.1.0'

However, it doesn't build and I get the following error message:
  Failed to resolve: com.github.CanHub:Android-Image-Cropper:1.1.0

[2021-01-07 09:28] Canato commented on #21
@medroa please use the latest release `1.1.1` we change from GithubPackages to JItPack.
If you prefer to use `1.1.0` you need to import using GithubPackages.

For next time you can open a new issue or even an [Discussion](https://github.com/CanHub/Android-Image-Cropper/discussions) =D

[2021-01-07 09:43] zihadrizkyef opened #26 "onActivityResult is deprecated"
Hi, i really love your project, but i see that we are still using OnActivityResult which is deprecated.
Maybe we can use this one : https://developer.android.com/reference/androidx/activity/result/contract/ActivityResultContract

[2021-01-07 10:54] Canato commented on #26
Hey @zihadrizkyef thanks for the suggestion, for sure is time for us to change.

I'm happy if you have time to do it, just need to open the PR ^^

[2021-01-08 13:37] Sophie713 commented on #24
We are having the same issue. After you take the picture instead of offering to crop it it returns back to my activity.

[2021-01-11 10:51] jmcrox commented on #21
I have the same problem on Android 10 and 11.

I figured out the problem was on CropImage#getCaptureImageOurputUri(Context). This method was returned differents files uris in each call for these Android versions.

I have created a PR with my correction.

Thanks.

[2021-01-12 08:59] #21 closed

[2021-01-14 01:15] rexyrex commented on #20
@Canato I finally found the time to get around to this.

I've tested all 3 projects and only "Camera" and "Files" is listed

[2021-01-14 01:33] rexyrex commented on #24
Version 2.0.0 fixed the issue for me. Camera -> crop now works

[2021-01-14 08:57] #24 closed

[2021-01-23 10:06] #15 closed

[2021-01-27 05:05] deanwinchester4848 opened #30 "is CropMaxDimensions() supposed to compress Image size from Camera ?"
I set CropMaxDimensions(640, 360) in my App
and I ran some Test:

In Device with Android 9:
Image from Gallery with size 16MB can be compress to 760kb
and Image from Camera with size 5.7MB can be compress to 380kb

In Device with Android 10:
Image from Gallery with size 16MB can be compress to 760kb
but Image from Camera with size 3.5MB only compress to 3.4MB

is this possible ?

[2021-01-27 11:55] Canato commented on #30
Hey @deanwinchester4848 welcome to our library community.

- When open an issue, please follow our templates to help us to understand and help you.

I believe you are talking about the method `setMaxCropResultSize(int, int)` can you confirm if this is the case?

Your final statement is `is this possible ?` don't look like a bug for me, but a question. We have the Q&A Discussion for this [here](htt

[2021-01-27 13:17] Dohmanlechx opened #31 "[BUG] - Breaking typo in the migration guide"
I spent like 1-2 hours trying to migrate the plugin using this [guide](https://github.com/CanHub/Android-Image-Cropper/wiki/%F0%9F%9A%A8-How-to-migrate-Android-Image-Cropper--%F0%9F%9A%A8) but it refused to work.

But then I found the issue, this [line](https://github.com/CanHub/Android-Image-Cropper/wiki/%F0%9F%9A%A8-How-to-migrate-Android-Image-Cropper--%F0%9F%9A%A8#update-dependencies) in the m

[2021-01-27 13:29] Canato commented on #31
Thanks @Dohmanlechx fixing it now.

[2021-01-27 13:30] #31 closed

[2021-01-28 01:58] deanwinchester4848 commented on #30
Thanks, I get it now.
And is it possible to set the Max Size e.g. 2MB ?

[2021-01-28 09:05] #30 closed

[2021-01-29 11:54] dimiitpk commented on #26
Hello guys, there is a way to do this with ActivityResult Api
Create custom contract :

[code]

Create launcher

[code]

and when u need to start it

`cropResultLauncher.launch(null)`

[2021-01-29 11:56] Canato commented on #26
Yes @dimiitpk

And this is something we want to add in the library directly, I'm organising now all work to be done in the lib =p

But feel free to open a PR if you are confident of how doing it!

[2021-01-29 12:29] Canato opened #34 "[BUG] - Custom Activity CropImageActivity"
**Describe the bug**
When extending CropImageActivity some methods are running null point exception.

**To Reproduce**
- Project with this library import
- create a new activity `class CustomActivity : CropImageActivity {...}`
- Try to run some methods like `cropImage()` or `onBackPressed()`

**Expected behavior**
Custom activity should work as expected

To fix this bug is import we have ability t

[2021-01-29 12:31] Canato opened #35 "Refactor BitmapUtils to kotlin"

[2021-01-29 12:33] Canato opened #36 "Refactor CropWindowMoveHandler to kotlin"

[2021-01-29 12:33] Canato opened #37 "Refactor CropWindowHandler to kotlin"

[2021-01-29 12:34] Canato opened #38 "Refactor CropOverlayView to kotlin"

[2021-01-29 12:34] Canato opened #39 "Refactor CropImageView to kotlin"

[2021-01-29 12:35] Canato opened #40 "Refactor CropImageOptions to kotlin"

[2021-01-29 12:36] Canato opened #41 "Refactor CropImage to kotlin"

[2021-01-29 16:28] Canato opened #44 "[BUG] - Null CompressFormat"
**Describe the bug**
From Java to Kotlin we have a null case for CompressFormat.

[2021-01-29 17:25] Canato opened #45 "Sample Java project"

[2021-01-29 17:27] Canato opened #46 "Sample project with custom activity"
Can add this to the kotlin sample module with an option to use default activity or a custom one, like
`CustomActivity : CropImageActivity`

This will be blocker by #34

[2021-01-30 16:19] #40 closed

[2021-01-30 16:19] #44 closed

[2021-01-30 16:22] Canato opened #48 "Improve Sample kotlin project"
Improve the code base to be clear usage for new people
Make the app easier to test all cases
Cover all calls from the library

[2021-02-06 18:46] Canato commented on #45
Will be done with custom activity in https://github.com/CanHub/Android-Image-Cropper/issues/46

[2021-02-06 18:46] #45 closed

[2021-02-07 10:17] Morons opened #49 "CropImage.getActivityResult(data).bitmap = NULL"
Version 2.0.3

**The Issue**
CropImage.getActivityResult(data).bitmap = NULL

**The Code**

[code]

**Expected behavior**
I store my Images for the application in the backend and cashe as base64 strings (Works nice!)
I need the result to be in ByteArray not URI (I actually dont know how to extract a ByteArray from the URI)
So I try and extract the bitmap with .bitmap from th URI and then convert i

[2021-02-07 11:34] Canato commented on #49
@Morons how are you calling the library? `getCroppedImageAsync` ?

Another question, how is the output of this logs?
[code]

[2021-02-07 12:06] Canato commented on #49
One more @Morons can you check if `data` is not null before call it?

[2021-02-07 13:04] Morons commented on #49
I added

[code]

D/AppDebug: onActivityResult: data: Intent? is not null

D/AppDebug: UpdateBlogFragment: onActivityResult: content://com.google.android.apps.photos.contentprovider/-1/1/content%3A%2F%2Fmedia%2Fexternal%2Fimages%2Fmedia%2F84/ORIGINAL/NONE/image%2Fjpeg/1954601542

D/AppDebug: onActivityResult: data: Intent? is not null

D/AppDebug: CROP: CROP_IMAGE_ACTIVITY_REQUEST_CODE

 D/AppDebug

[2021-02-07 13:05] Morons commented on #49
So both the original URI and the Changed URI has values -> I can access them by result?.uri

[2021-02-07 13:09] Morons commented on #49
I can search my Pictures on the device and crop one then ........

[2021-02-07 13:26] Morons commented on #49
[code]

[2021-02-07 15:53] Canato commented on #49
@Morons I'm trying here, will put some effort to fix this! cannot guarantee will be something fast, sorry for this.

One more request, on this lines:
[code]

Can you do:
[code]

Please! But will try to solve. In any case, if you have time, you can check the library code and try to solve. So we can release =)

Will tag here @CanHub/imagecropcollaborators if anyone have time to check this, interesti

[2021-02-07 18:14] Morons commented on #49
[code]
**_Results AppDebug_**
onActivityResult: data: Intent? is not null

D/AppDebug: UpdateBlogFragment: onActivityResult: before crop: content://com.google.android.apps.photos.contentprovider/-1/1/content%3A%2F%2Fmedia%2Fexternal%2Fimages%2Fmedia%2F78/ORIGINAL/NONE/image%2Fwebp/1182126952

D/AppDebug: onActivityResult: data: Intent? is not null

D/AppDebug: CROP: CROP_IMAGE_ACTIVITY_REQUEST_COD

[2021-02-07 18:22] Morons commented on #49
I found this while re-factoring old working code from passing the URi to passing a base64 String for the image.
The Above is when I edit a existing picture, however I did not get to the part where I create a new blog and save a new picture . that part is actually working as intended and I have though of a work around - but it will not solve this issue. it will however finish my project - I will ke

[2021-02-07 18:30] Canato commented on #20
This will be done with a code refactor of `startPickImageActivity` method.
Need to fix and rethink the intent to open `Camera`, `Gallery` and `storage`

[2021-02-07 19:07] Canato commented on #49
@Morons totally, will work on fixing this ASAP

[2021-02-07 19:49] #48 closed

[2021-02-07 21:27] #37 closed

[2021-02-08 18:45] kaustubhkp opened #52 "[BUG] - Can't see camera option"
- Lib Version [e.g. 1.1.0]

**Describe the bug**
When I am trying to launch CropImage activity on Google pixel 4 XL, It won't show camera option.

**To Reproduce**
Steps to reproduce the behavior:
On button click I am launching CropImage activity and I am expecting it should ask user to choose from below options
Camera or Gallery
But on Google Pixel 4 XL It directly shows photos from device

**Exp

[2021-02-08 18:57] Canato commented on #52
Thanks @kaustubhkp this is the similar issue we have here: #20

I will tag this as duplicated and I have on my roadmap the plans to fix this. Any case if you feeling excited about Open Source today, feel free to jump in and make a PR =D

[2021-02-10 03:34] datdescartes commented on #20
We've encountered the same error.
I have just created a PR for this. Simply by copying the source code for gallery intents from legacy source code.
Please review.

[2021-02-10 09:43] kaustubhkp commented on #20
@datdescartes what about camera option not showing for few phones?

[2021-02-10 13:45] datdescartes commented on #20
@kaustubhkp  could you tell me which device and android version?

[2021-02-10 14:19] datdescartes commented on #20
@kaustubhkp I've just updated the PR that possibly fix the camera bug.

[2021-02-10 14:30] kaustubhkp commented on #20
@datdescartes here are details about issue I was mentioning

https://github.com/CanHub/Android-Image-Cropper/issues/52

[2021-02-10 14:34] datdescartes commented on #20
@kaustubhkp  I see. Thank you.
I think that [my PR](https://github.com/CanHub/Android-Image-Cropper/pull/53) also fixes that bug

[2021-02-10 14:38] kaustubhkp commented on #20
@Canato do you have any idea how long will this PR take to merge to library ?

[2021-02-10 14:41] Canato commented on #20
@kaustubhkp will do some tests, if everything is fine we merge now and I open the release PR

[2021-02-10 16:50] hlupico opened #54 "[BUG] - NPE when accepting a photo on Android 11"
- 2.0.3

**Describe the bug**
A user that opts to take a photo can capture a picture and upon accepting the photo (aka, tapping on the check mark) they are returned to destination that launched CropImageActivity.

What's happening is an NPE is thrown (see below) when user accepts the photo, CropImageActivity.onActivityResult is called with `resultCode == RESULT_CANCELED`.

`2021-02-10 09:45:14.860

[2021-02-10 21:34] Canato commented on #54
@hlupico Thanks for this, indeed we need to fix this, I will add in the todo, but please feel free to jump into the code if you believe you got the issue,

[2021-02-11 11:11] #20 closed

[2021-02-11 11:17] #52 closed

[2021-02-11 16:44] hlupico commented on #54
@Canato - Thanks! I'll circle back to take a deeper look tomorrow.

[2021-02-16 08:28] fivedofficial opened #57 "[Feat] - Hello how I set to different request codes on same activity and on results after that???"
I want to add two different request codes to the same activity but it is only giving one
public static final int PICK_IMAGE_CHOOSER_REQUEST_CODE = 200;

I cannot use the same CHOOSER on both image pickers.

[2021-02-16 08:55] Canato commented on #57
Hey @fivedofficial  thanks for the question.
I will move this under `Discussion - Q&A`

if in the end of the discussion we realize we need a new feature or bug fix we can open an issue for this =).

====
Now, about your question, can you show the code you are calling?
The code related to `PICK_IMAGE_CHOOSER_REQUEST_CODE` is to be sure you get the answer from our activity.

The idea about activitie

[2021-02-16 08:55] #57 closed

[2021-02-18 09:08] gautamDev36 commented on #54
Have you resolved this issue ? I am also getting this issue from gallery file pick too. My device is Samsung M2 os 11.

[2021-02-18 09:14] Canato commented on #54
Hey @gautamDev36 the issue still open, so sadly no one had the time yet to solve the issue. Is one of the priorities on the ToDo.

I will add the label `Help wanted` if someone else wanna jump in and open a PR to fix this.

[2021-02-18 13:32] KurasovAnton opened #60 "[BUG] - Android 11 one time permission crash"
Library version
 - 1.0.0
 - https://github.com/ArthurHub/Android-Image-Cropper (2.8.0)

**Describe the bug**
The app crashes after some time on the camera screen if the One-time permission chosen.

"If the user sends your app to the background, your app can continue to access the data for a short period of time." (https://developer.android.com/training/permissions/requesting#one-time)
The app went

[2021-02-18 13:49] Canato commented on #60
Hey @KurasovAnton we have some fixes around OS 10 and 11 on the latest releases.

Can you check if work with the latest library? `2.1.0`

[2021-02-18 16:37] hlupico commented on #54
Hey all, I haven't had the change to look at this. I'm in Austin, Texas and its just been a hot mess here. It's on my radar but not sure when I'll get to it.

[2021-02-18 20:17] JibuVarghese opened #61 "[Help Wanted] - Build failed with AAPT: error:unexpected element <queries> found in <manifest>."
- Lib Version [e.g. 1.1.0]

**Describe the bug**
After adding implementation 'com.github.CanHub:Android-Image-Cropper:2.1.0' build failed with error /Users/oc/.gradle/caches/transforms-2/files-2.1/225e0e7423424895791e1e3386ede31a/Android-Image-Cropper-2.1.0/AndroidManifest.xml:11:5-22:15: AAPT: error: unexpected element <queries> found in <manifest>.

**Smartphone (please complete the following in

[2021-02-18 20:36] JibuVarghese commented on #61
Updating the gradle version to 4.0.2 fixed the issue.
classpath 'com.android.tools.build:gradle:4.0.2'

[2021-02-18 20:36] #61 closed

[2021-02-19 08:43] Canato commented on #61
@JibuVarghese thanks for raising and finding the fix! hahahah

This can help more people in the future. \o/ 🎉

[2021-02-22 13:31] Canato opened #62 "Sample project, using CropImage directly"
This is part of the pre kotlin refactor.

To be sure we are not breaking anything in the library (public method) when refactoring into kotlin is important we have all cases usage in our sample code.

What help when someone make a library suggestion or find a bug!

This sample should call `CropImage.activity(photoUri)` passing the image URI. (e.g. from camera photo taken)

[2021-02-23 08:55] mgood7123 opened #64 "maximum zoom capability"
is this capable of zooming to a pixel by pixel zoom level? eg where each individual pixel is visible?

[2021-02-23 11:05] Canato commented on #64
Hey @mgood7123 thanks for the question! I will move this to Discussions instead of issues, so we can keep the discussion there!

About your question:
You can set:
[code]

So the library can guarantee 1dp of precision, but to know the relation between the 1dp and how many pixels it has, you will need to convert based on the device screen.

Obs: the quality of the picture need to be really high to h

[2021-02-23 11:05] #64 closed

[2021-02-23 11:37] #62 closed

[2021-02-23 15:05] jagdeepmohd opened #66 "[BUG] - I am facing issue while migrating from api 'com.theartofdev.edmodo:android-image-cropper:2.8.+' to implementation 'com.github.CanHub:Android-Image-Cropper:2.1.0'"
- Lib Version [e.g. 1.1.0]

**Describe the bug** : I want to upgrade to this version because I am facing issues in android 11 for Camera option . It is giving me empty black screen instead of crop preview and error code is coming file is not image . Can you please confirm which version works fine with android 11 and how to include this library in project.
A clear and concise desc
![image](https://

[2021-02-23 16:56] jagdeepmohd commented on #66
@Canato  : Can you please help me with setup of this library in my project.

[2021-02-23 17:30] Canato commented on #66
Hey @jagdeepmohd did you check the readme file?

The informations on this issues look like incomplete.

O the mean time, you can check this guide maybe? https://github.com/CanHub/Android-Image-Cropper/wiki/%F0%9F%9A%A8-How-to-migrate-Android-Image-Cropper--%F0%9F%9A%A8

Let me know if helps

[2021-02-23 17:49] AmriZakariya opened #67 "[BUG] - TransactionTooLargeException"
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.zak.setscanner, PID: 29662
    java.lang.RuntimeException: android.os.TransactionTooLargeException: data parcel size 37498368 bytes
        at android.app.servertransaction.PendingTransactionActions$StopInfo.run(PendingTransactionActions.java:161)
        at android.os.Handler.handleCallback(Handler.java:888)
        at android.os.Handler.di

[2021-02-23 18:03] Canato commented on #67
Hey @AmriZakariya thanks for the issue!

To help you we will need some more information!
- Which library version are you using it?
- How is the step by step to reproduce this bug? (if possible how to reproduce on the library sample)

- Screnshot/video from the bug
- Device used (label and android OS)

[2021-02-23 18:27] jagdeepmohd commented on #66
@Canato I am getting error while adding dependency to build.gradle. it is giving can't resolve this dependency.  I am using same steps given by you in migration .

[2021-02-23 18:29] Canato commented on #66
@jagdeepmohd could you show the code you are using on the root `build.gradle` and on the module `build.gradle` ?

[2021-02-23 18:44] jagdeepmohd commented on #66
@Canato  : It is resolved after making correction to root build.gradle .  I was using  maven { url 'https://jitpack.io' }  under buildscript   instead of allprojects  .  I hope android 11 : Camera permission issue is resolved with 2.1.0 version ? I will give this library a try tomorrow.

[2021-02-23 18:47] Canato commented on #66
Perfect! @jagdeepmohd

Let us know we fixed many issues about Android 10 and 11, but for sure there is some more to kill. Will close here, but feel free to open another issue or add your toughs on the ones that are open.

[2021-02-23 18:47] #66 closed

[2021-02-25 05:47] Morons commented on #49
Any progress? fixing the bitmap output from CropImage

[2021-02-25 08:52] Canato commented on #49
Not yet @Morons I'm very busy with normal work and changing jobs.
But on Monday I added new code on the sample that should make easy to reproduce this and fix.

You can jump in if you feel like, otherwise will need to wait a little.

I would love to be faster to tackle the bugs, but this code was 2 years without update when I handover so I need to have more time adding it structure so I'm sure I'm

[2021-02-25 22:45] chriscoomber opened #68 "[BUG] - When using setImageBitmap, rotating screen and calling setImageBitmap again, the crop window will be incorrectly restored"
- Lib Version [e.g. 2.1.0]

**Describe the bug**

They say an image is a thousand words. How about a video?

https://user-images.githubusercontent.com/4904335/109227398-2d24b400-77b8-11eb-9e98-33444fe694a3.mp4

**To Reproduce**

1. Write a fragment whose layout file contains a `CropImageView` which does simply the following:

    - in `onActivityCreated`, kick off some work in the background to pr

[2021-02-25 23:15] chriscoomber commented on #67
FWIW I've seen this log with apps that don't include this library.

[2021-02-26 13:33] Canato commented on #49
@Morons I was taking a look with more attention today.

We have an issue because a bitmap is a huge data to pass between activities. When you try to get `getOriginalBitmap` we have the documentation:

I was trying to improve this, creating a bitmap, but is too huge for the `Parcel` in the result activity.

So the solution for the library is to have a new method that will need the context to get th

[2021-02-26 13:55] #49 closed

[2021-02-27 10:38] #68 closed

[2021-02-27 18:00] Canato commented on #54
Just to let you know, I will start to work in a sample code using the `CropImageActivity` so we can reproduce it locally and fix!
Is my next task

[2021-02-28 23:30] kaanhangithub commented on #54
After the latest version 2.1.1, the problem has been resolved for me. I used device: Emulator, Pixel 3a
Operating System: API 30.

[2021-03-02 22:51] chriscoomber opened #75 "[Feat] - Lock the crop window to only expand up and down"
**Is your feature request related to a problem? Please describe.**
I have a particular use case where we would only like to crop the top or bottom of an image off.

**Describe the solution you'd like**
The ability to configure `CropImageView` to only allow cropping the top or bottom off of an image. This would probably be coded as a new `cropShape`, similar to rectangle, but with handles at the to

[2021-03-03 22:45] chriscoomber opened #77 "[BUG] - Inconsistency between Oval and Rectangle shapes"
- Lib Version [e.g. 2.1.1]

**Describe the bug**
For Rectangle shape: if you drag too far outside the crop window, nothing happens.
For Oval shape: if you drag far outside the crop window, it resizes the crop window as if you were touching the nearest handle (corners or sides).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sample app.
2. Shrink the crop window a bit.
3. Try touch

[2021-03-03 23:22] chriscoomber opened #78 "[Feat] - Ability to disable dragging of crop window from the center (i.e. disable translation - to use the mathematical meaning of "translate")"
**Is your feature request related to a problem? Please describe.**
This is a specific use-case that I have. It's particularly convenient when used in conjunction with #76.

**Describe the solution you'd like**
The ability to disable (in XML, activity builder or via methods on the CropImageView) the ability to translate the crop window.

**Describe alternatives you've considered**
None.

**Addition

[2021-03-04 09:15] #75 closed

[2021-03-04 09:25] Canato commented on #77
Indeed, this maybe be trick because of android xml are always a square. Will need a little math to return null when the area is outside the oval form.

A nice enhancement!

[2021-03-04 17:36] #78 closed

[2021-03-04 21:19] #46 closed

[2021-03-05 18:27] Canato commented on #34
Solved on 2.2.1

[2021-03-05 18:27] #34 closed

[2021-03-05 18:29] Canato commented on #54
@hlupico @gautamDev36  can you try on te latest `2.2.1` ?

If doesn't work I finish to add 3 types of sample in the codebase, could you please try to replicate it on the sample code?

I will remove the `pinned` tag until we have answers =)

[2021-03-10 04:02] widianapw opened #83 "Cannot get path From URI. Uri lacks 'file' scheme"
Uri lacks 'file' scheme: content: //packagename.cropper.fileprovider/my_images/Pictures/imagename.jpg
I cannot Get path from URI

[2021-03-10 12:56] RanjitPati opened #84 "[BUG] -Getting File Not Found Exception when creating new File with cropped uri.getPath()"
- Lib Version 2.2.1

 ## **Describe the bug**
I am able to crop the image and put in ImageView successfully.
But when I am using the same URI path to create a file it's throwing `FileNotFoundException`.
The URI path is starting like `content://..something/package name/ myfiles/...` something like this.

When I debugged I am able to see some data like **NO CACHE** inside the **URI** value.

I am pa

[2021-03-10 15:58] Canato commented on #83
Hey @widianapw sorry for the long time to reply I'm on holidays this weeks, so less in my laptop.

Could you be more explicit?
- Which version of the lib?
- How to reproduce using thew sample code?
- Which method are you using? (there is 3 ways of using the library)
- Do you have any code or logs?
- What would be the expectation?

Thanks.

[2021-03-10 16:08] Canato commented on #84
Hey @RanjitPati  I'm on holidays for the next weeks, but this don't look like a library issue.
The URI is returning correctly, since you can  put it on the ImageView, like you said.

I cannot see the code to create the file, but maybe you can't create the file using the same URI because of the Android Scope Storage, something to check.

The bug here would be wrong URI value return, but this is wor

[2021-03-11 09:43] widianapw commented on #83
Hallo @Canato
i use the latest version (2.2.1)

i came here because camera on ravindu's lib is not working on android 11.

my code to start crop activity
[code]

**the comparison**
Uri I get from  ravindu
`file:///data/user/0/com.example.cloudinaryimageupload/cache/cropped3592952233873349951.jpg`

Uri i get now
`content://com.example.cloudinaryimageupload.cropper.fileprovider/my_images/Pictures/cr

[2021-03-11 10:07] Canato commented on #83
@widianapw
Can you try to make a string change where you replace `content:` by `file:` ???

Because this path is exactly the Android 10 and Android 11 issue.

The OS don't allow us to get external storage permission anymore. So we need to use Scope storage.

For sure you will need to update the logic in your code to get access if you want.

Or use the write storage permission and create a new path

[2021-03-11 11:48] TomasMVazquez commented on #84
Hi,
In my case I solved the problem following this:
https://developer.android.com/training/data-storage/shared/documents-files?hl=es-419

Hope it helps you too!
Regards,

[2021-03-11 17:13] RanjitPati commented on #84
I am creating the file like `new File(uri.getPath())` . The same code was working before. @TomasMVazquez  Can you please share the piece of code which you have used to create the file from the uri.

[2021-03-11 17:15] #60 closed

[2021-03-11 17:53] RanjitPati commented on #83
The same issue I want to describe https://github.com/CanHub/Android-Image-Cropper/issues/84

[2021-03-12 09:50] cmoijulien opened #85 "[BUG] - ActionMode is truncate. Please don't used non released dependencies"
- Lib Version 2.2.1

**Describe the bug**

My action mode is truncate. This is due to a bug in the dependency of appcompat.
Please don't used non released dependencies to solve this issue.

Current lib dependencies version :

androidXAppCompatVersion = '1.3.0-beta01'

**My workaround :**
[code]
**Screenshots**
![Screenshot_20210312_101507](https://user-images.githubusercontent.com/858465/110922142

[2021-03-12 10:40] bharathkm7 commented on #54
Hi Can you brief what is this version 2.1.1 for?

[2021-03-12 10:48] Canato commented on #84
@RanjitPati maybe this is happening because of Android OS permission changes.

Now using scope storage we don't get a file path anymore.

Maybe you can change the URI string "content" to "file"

But is not the real fix, the library will return the URI for the image using the scope storage like google force us now.

If you plan to create a file you need to get write storage permission and get the p

[2021-03-12 10:52] Canato commented on #83
Like I said in the 84 thread, you didn't shared with us the code to create the file.

Android does not permit anymore the usage of external storage permissions.

That's the reason many libraries are breaking for OS 10 and 11.

Because of this the URI is a Scope storage (content://..) and this is the the file path anymore.

We update the library because of Android permission changes. Now the codes

[2021-03-12 11:03] Canato commented on #85
Sorry for the issue @cmoijulien we need to use this because of the new permissions Google/Android released, where we have different behaviours for OS under 9, OS 10 and OS 11.

Is on my plans to remove the permissions request from the library, passing to the user of the lib, but is a future work to be done!

Thanks for finding the problem and posting a workaround until we get there

[2021-03-12 11:12] Canato commented on #54
@bharathkm7 thanks for checking, but I'm having hard time to reproduce, the issue description says

If you run the sample project we have 3 buttons, the latest 2 buttons use CropImageActivity, but they are working, could you try to reproduce the issue there? Maybe is a device/OS issue that I'm not hitting.

I'm having a hard time to spot the problem without being able to reproduce it.

You can use

[2021-03-12 11:18] Canato commented on #85
Could you just double confirm if material version is a issue here? cause this should not be in the library gradle. Only the appcompat version

[2021-03-12 11:25] Canato commented on #77
I was making some tests and looking other crop tools, we have the guidelines whenit's oval to show the touch area. Will let this as intent feature, cause help with the gesture when cropping something oval. If more people raise this as an issue we return to the topic.

Thanks!

![ovalCropGuidelines](https://user-images.githubusercontent.com/15942449/110934094-7ed74d80-8325-11eb-8879-9266b904b04c.pn

[2021-03-12 11:25] #77 closed

[2021-03-12 11:28] cmoijulien commented on #85
No it's only appcompat version. I updated the report

[2021-03-12 11:28] cmoijulien commented on #85
No it's only appcompat version. I updated the report

[2021-03-12 11:32] AbdulmalekAlshugaa commented on #83
I have the same issue, can we get a sample of the latest implementation

[2021-03-12 11:40] AbdulmalekAlshugaa commented on #84
com.theartofdev.edmodo:android-image-cropper:2.8.0
It works here pretty fine

[2021-03-12 11:44] TomasMVazquez commented on #84
What I needed was to get Base64 from Uri/Path, originaly I was getting the path but with the change I'm using directly the Uri:

**Original Code:**
[code]

**New Code:**
[code]

[2021-03-12 11:50] Canato commented on #84
This was the main reason I fork from the old library @AbdulmalekAlshugaa , this was the way it work before OS 11.

Now with OS 11, this behaviour changed so the library was updated, not we need to update the usage of it too.
Please let's put all discussion about this on the same place: https://github.com/CanHub/Android-Image-Cropper/discussions/87

Sadly this is an Android OS change, but if anyone

[2021-03-12 11:50] #84 closed

[2021-03-12 11:51] Canato commented on #83
@AbdulmalekAlshugaa you can check the sample app in this repository https://github.com/CanHub/Android-Image-Cropper/tree/main/sample it has 3 different ways of using the library with many scenarios =). Hope this help.

**About the issue:**
Now with OS 11, this behaviour changed so the library was updated, not we need to update the usage of it too.
Please let's put all discussion about this on the

[2021-03-12 11:51] #83 closed

[2021-03-12 20:51] kaanhangithub commented on #54
After android 11, I think we need to use a **file provider** in our code, this might be the problem?
add file provider in android manifest.xml
<provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                a

[2021-03-12 20:53] kaanhangithub commented on #54
Adding a file provider in the android manifest might help. Since after android 11, we have to deliver URI by file provider.

[2021-03-13 18:51] Canato commented on #54
@kaanhangithub indeed you are right about it!

But I try to add a library file provider. That should been merged in the app Manifest.

You can see we have a empty custom file provider class.

The goal was to avoid the need of this to use the library, maybe is not fully working :///

[2021-03-13 21:56] Laur89ro opened #88 "[Feat] - Free crop (not only rect or oval)"
Hello! I was wandering how difficult  it would be to add support for free cropping. Allow the user to choose the point for every corner. This is a feature i am really interested in and i would like to contribute, but i would like some feedback from someone who is familiar with this project.
Thank you!

[2021-03-13 22:35] Canato commented on #88
This is an interesting feature. I believe we can achieve because the code define the 4 corners as X^Y positions.

Yet I see as a trick one!
We need to define how many corners the use can have (we can start easy using 4 as default)
We need to be sure the touch areas for crop movement do not overlap
And the behaviour of zoom in/out when `.setFixAspectRatio(true)`

But I would love to see some option

[2021-03-14 14:23] Laur89ro commented on #88
From what I can see to create the crop rectangle it uses a object RectF. It doesn't seem you can set 4 independent points

[2021-03-14 15:00] Canato commented on #88
Indeed, I was thinking about the touchable area, totally messed it on my mind, I'm out of my laptop until 22/3 (holidays) so coulnd't navigate in the code XD

[2021-03-14 17:44] Laur89ro commented on #88
No problem. I will try to dig deeper into the code and see if i can find a solution. If you have any ideas please share :)
Thanks!

[2021-03-19 02:13] #36 closed

[2021-03-19 02:56] Canato commented on #85
@cmoijulien just release a new version `2.2.2` where the library is using `appCompat` last stable version.

Will close the ticket, but let me know if is not fixed.

[2021-03-19 02:56] #85 closed

[2021-03-19 03:32] #67 closed

[2021-03-19 20:29] #38 closed

[2021-03-20 01:42] #39 closed

[2021-03-20 01:46] Canato opened #95 "[Feat] - One Degree Rotation"
The library today already rotate images using `90`, `180`, `270` and `360` angles

The goal is to be able to rotate it by 1 degree difference.

For that will be need to auto zoom crop the image:
- Let's say the CropOverlay is the same size as the image.
- When we rotate 5 degrees it will be getting "outside" image area
- So is need to push the CropOverlay inside and create new limits

Add ui rotat

[2021-03-20 15:37] omkar-tenkale opened #96 "Access CropWindowHandler from view"
I had this special requirement
We need to get the 4 ratios, Top left right bottom
of the selected rect and original rect

For this purpose i need to access the CropWindowHandler
variable which is private

Can it be made public or a getter method?

[2021-03-22 08:07] Canato commented on #96
No issue! Please open a PR with a getter method and let's have it =D

Follow the [guide](https://github.com/CanHub/Android-Image-Cropper/blob/main/CONTRIBUTING.md#doing-some-code)

And if possible, please add the case in one of the sample codes we have ^^

[2021-03-23 18:50] SanjayDevTech commented on #35
@Canato I think I can work on this issue... Can I assign myself??

[2021-03-23 18:52] Canato commented on #35
@SanjayDevTech yes please, let's do this. I'm doing the #41

This will put the whole code base into kotlin finally!!!

[2021-03-23 19:17] #41 closed

[2021-03-23 20:52] SanjayDevTech commented on #35
@Canato Please review my PR 😀

[2021-03-24 11:43] immujahidkhan opened #99 "Error: open failed: ENOENT (No such file or directory)"
- Lib Version : 2.2.2

After cropping image i found this issue that says *Error: open failed: ENOENT (No such file or directory)*

**To Reproduce**
Steps to reproduce the behavior:
1. After setup library
2. Start CropImageActivity
3. Then crop image then it will show

**Expected behavior**
In previous library of [https://github.com/edmodo/cropper](url) its working fine but in your library its show

[2021-03-24 11:47] Canato commented on #99
Hey @immujahidkhan could you please give us more information about the bug?

Please fill the template, otherwise I cannot understand where this happen, if was from the library, which way are you using the library etc.

Bug Template
[code]

[2021-03-24 12:17] Canato commented on #99
@immujahidkhan I could not reproduce on the sample app in this library. You could try?

This do not look like a library issue, but maybe you code is trying to access the `file` where now is `content` since the last Android changes for permissions in OS 10 and OS 11.

You can read [more here](https://github.com/CanHub/Android-Image-Cropper/discussions/87)

Let me know if this is the same case or a

[2021-03-24 12:38] immujahidkhan commented on #99
i want to setImageURI like `    binding.userPhoto.setImageURI(result.getUri());` but can't

[2021-03-24 13:25] Canato commented on #99
Can you post the code where the exception is being throwing? (the one on the screenshot)

And please show the code where you are calling the library and retrieving the result. So I can understand how you are using it

[2021-03-26 22:10] omkar-tenkale commented on #96
I haven't used this lib yet
Was planning to move from https://github.com/igreenwood/SimpleCropView to this one

But looked into code to find it doesn't provide access to rect like that library

Unable to do PR as code is in kotlin != java ;[

Can you do it this time?

[2021-03-26 22:14] omkar-tenkale commented on #88
Maybe this would help
https://github.com/igreenwood/SimpleCropView

[2021-03-26 22:21] Canato commented on #96
We can make Java static. I will put on my todo list, sadly this is not priority until more people ask for this =/

I will tag as help wanted, maybe someone can jump in a do this if they need to ^^

[2021-03-27 08:20] SanjayDevTech commented on #35
@Canato 😅 Java -> Kt Converter issues solved

[2021-03-27 10:31] #35 closed

[2021-03-29 18:16] groupboard commented on #54
Yes, you need to use FileProvider. Solution: https://stackoverflow.com/a/66859444/1192732

[2021-03-30 08:32] Canato commented on #54
@groupboard thanks for the suggestion. Not sure if `you` means the library or the users. But indeed the library use `FileProvider`

[2021-03-30 18:11] AndroidDeveloperLB opened #101 "[BUG] - CropImageView.wholeImageRect has comments in wrong place"
- Lib Version [e.g. 1.1.0]
2.3.0

**Describe the bug**
This:

[code]

**To Reproduce**
1. Go to the source code of it, and look for yourself.

**Expected behavior**
Shouldn't have comments after the "}"

**Screenshots**
Here:
![image](https://user-images.githubusercontent.com/5357526/113038920-be17f200-919f-11eb-9a2b-a28daef4c591.png)

**Smartphone (please complete the following information):**
No

[2021-03-30 18:15] AndroidDeveloperLB opened #102 "[BUG] - setOnSetImageUriCompleteListener can't use lambda form anymore for the interface OnSetImageUriCompleteListener"
- Lib Version [e.g. 1.1.0]
 2.3.0

**Describe the bug**
When it was in Java, I could use :

[code]

Now I have to use :

[code]

**To Reproduce**
1. Just try the code I wrote above, of before this version and after.

**Expected behavior**
Should still allow to do it.

**Screenshots**
No need

**Smartphone (please complete the following information):**
None.

**Additional context**
I think whoever

[2021-03-30 18:27] Canato commented on #101
@AndroidDeveloperLB thanks for pointing!

On one above line we have this check `val bitmap = mBitmap ?: return null` where it can return `null`

For sure this code can get some improvements, please feel free to drop a PR with possible improvements =D

[2021-03-30 18:30] AndroidDeveloperLB commented on #101
Sorry you are correct.

[2021-03-30 18:30] AndroidDeveloperLB commented on #101
But the comments are in wrong place though

[2021-03-30 18:34] Canato commented on #102
Thanks for pointing this, for sure is an improvement we can do it.

We didn't when we convert from Java because this would change the method notation, right know the difference is from using lambda to usage of creating the Listener class.

If we decide to use the Kotlin we don't need to define an interface anymore, I mean the code `interface OnSetImageUriCompleteListener` doing this we need to be

[2021-03-30 18:35] Canato commented on #101
Indeed, there are many comments in strange places or not following the same structure in the whole project.
Already fixed some and planning to fix more, but would be great to find a toll that spot this automatically on the code reviews.

[2021-03-30 18:35] AndroidDeveloperLB commented on #101
@Canato Updated the bug report to talk about the comments.
I think this occurred on many places after the conversion, too.

[2021-03-30 18:36] Canato commented on #101
Can open a PR! Let's improve this hahaha, I don't have the time now and on my todo list has other priorities now.
Can check on the Projects tab.

I will do as soon I can, but you can jump and do earlier =D

[2021-03-30 18:37] AndroidDeveloperLB commented on #102
@Canato I didn't mean I wrote in Java. this is in Kotlin.
When the library is in Java, it allows Kotlin (and Java) developers to use the shorter form.
All you need to do is to add "fun" for this interface (and others) in Kotlin, when possible.

[2021-03-30 18:38] AndroidDeveloperLB commented on #101
@Canato When you convert to Kotlin, you have to look at the resulting code. This includes comments too, as they can get into a mess (sometimes even get duplicate ones).

[2021-03-30 18:40] Canato commented on #102
Sorry, maybe I was confusing on my worlds. I meant we need to keep the library working for Kotlin and Java after the changes. So we need to test, something simple.

Same as the other ticket, for sure is something we should do and something I want to do, but this is low on my priority now.
I try to order: Samples (so we can test), refactor, fixing bugs, dealing with deprecation, adding very asked f

[2021-03-30 18:45] Canato commented on #101
Thanks @AndroidDeveloperLB for pointing it again. Very useful.
Sorry that this is not on your level of appreciation.

Hope more people can see the good side of it and help instead of just pointing issues.

[2021-03-30 18:59] AndroidDeveloperLB commented on #101
@Canato I don't understand. What is " level of appreciation" ?
I very much like this library. I just meant that it's very important to look at the kotlin code after conversion.
That's it.
I converted a lot of Java code, and I know the annoyances of it, and the bugs it can cause. If a person isn't careful, new bugs can appear.

[2021-03-30 19:03] Canato commented on #101
I see, sorry if sounded wrong. I saw you pointing the same case many times "need to pay attention on the convertion"

I totally agree with you, I did the best I could, cause there was a lot and when I review peoples refactor I try to review as much I could to :)

But indeed many to keep going, we will get there

[2021-03-31 13:32] Moliholy opened #103 "[BUG] - Loading and cropping takes literally minutes to execute"
- Lib Version 2.3.0

**Describe the bug**
Nothing too complex. It sometimes simply takes a lot of time to load the image and perform the cropping. This doesn't occur every time, but it does from time to time (say 1 out of 3).

**To Reproduce**
Steps to reproduce the behavior:
1. Select an image from the gallery or take a photo with the camera.
2. With the image's URI, initialize the library throug

[2021-03-31 13:45] Canato commented on #103
Hey @Moliholy thanks for pointing, not sure what we can do here...

Gonna ask you to help with some tests. Can you `git clone` the library in your local Android Studio and build the `Sample` app we have in the library code?

Then execute this steps:
1. Open the app
1. Select `Sample Calling CropImage` option (third one)
1. Select `Outside Camera and Start(URI)`
1. Take a picture
1. Accept the pict

[2021-03-31 14:01] Moliholy commented on #103
Gonna do that, but in the meantime I'll share what I found out while debugging my app:

It seems when asynchronously executing a coroutine in the `Default` scheduler, it never manages to run a single line of code of that coroutine. I'm constantly using coroutines throughout the app, and it's the very first time I found this issue. I'll keep an eye ono this while executing the tests you mention.

O

[2021-03-31 14:05] Canato commented on #103
My pleasure, all this image stuffs need to be done in the main-ui thread.

[2021-03-31 14:48] Moliholy commented on #103
I just tried your tests, but there's not much to say: it works like a charm. It might be myself doing something weird in the code. I'll keep researching...

[2021-03-31 15:06] Canato commented on #103
I will close this, but if you find something that we could improve or could help other people using the library, please add here =D.

Hopefully the sample code can help you some how.

[2021-03-31 15:06] #103 closed

[2021-03-31 17:49] Laur89ro commented on #88
It doesn't. I don't want to crop a rectangle. I want to be able to select like a trapezium or rombus.

[2021-03-31 18:12] AndroidDeveloperLB commented on #102
OK here:
https://github.com/CanHub/Android-Image-Cropper/compare/main...AndroidDeveloperLB:main

[2021-04-01 09:02] #102 closed

[2021-04-01 09:16] AndroidDeveloperLB commented on #102
Seems now it's possible again to use the short form again. Weird that the IDE doesn't suggest it though.

[2021-04-05 18:58] tyrellMitnick commented on #99
you can use
 binding.userPhoto.setImageBitmap(BitmapFactory.decodeFile(result.getUri().getPath()));

[2021-04-07 11:36] hassanargon commented on #99
I am facing the same issue when I am uploading images to the server in multipart/form-data.
Error message: ENOENT(No such file or directory)

[2021-04-07 12:33] Canato commented on #99
@hassanargon
- Can you please provide code sample?
- Can you reproduce on the sample app in this repository?
- Did you read the [uri discussion](https://github.com/CanHub/Android-Image-Cropper/discussions/87) ?

[2021-04-08 05:36] hassanargon commented on #99
@Canato
1. I am getting the image from the device gallery. and then pass the URI of this image into the library like this:
` CropImage.INSTANCE.activity(imageUri).start(requireContext(), this)`
2.  And after crop I am getting the result into **onActivityResult** and save the URI that I got from this :
` if (requestCode == CropImage.CROP_IMAGE_ACTIVITY_REQUEST_CODE) {
                CropImage.Acti

[2021-04-08 06:50] spungkyb commented on #99
I also getting error Error: open failed: ENOENT (No such file or directory), i think it's because save in shared storage

[2021-04-08 08:53] Canato commented on #99
Changes to be done here: https://github.com/CanHub/Android-Image-Cropper/pull/107

[2021-04-11 07:51] ashcode1997 commented on #54
@groupboard still I'm not able to crop the image when selecting the camera option .

[2021-04-11 14:38] groupboard commented on #54
@ashcode1997 Yes, I looked at the code, and it looks fine. Does it stop crashing when you remove this line?:

`intent.putExtra(MediaStore.EXTRA_OUTPUT, outputFileUri)`

and is it definitely going into the         "if (isAtLeastQ29()) {" block of getCaptureImageOutputUri ?

[2021-04-11 17:05] ashcode1997 commented on #54
No it is not going , when I select the camera the result code is 0 and the intent is null

[2021-04-11 18:07] Canato commented on #54
Do you have the camera permissions in your Manifest?

[2021-04-11 18:12] ashcode1997 commented on #54
Yeah , only facing this issue in android 11

[2021-04-11 18:19] Canato commented on #54
@ashcode1997 can you reproduce in one of the sample apps in this repository?

[2021-04-11 18:55] prashant-13 opened #108 "[BUG] - Not able to access CropImage.activity() function in Java class"
- Lib Version [2.3.1]

**Not able to call CropImage.activity() fun, it is giving error. As it is not mentioned with  @JvmStatic annotation. Please add  @JvmStatic in fun activity() so that we can use this lib in java project**

[2021-04-11 19:28] Canato commented on #108
@prashant-13 can you please open a PR with this changes so I can release fast?

[2021-04-12 06:15] mampress commented on #108
Have you fixed it? Thanks in advance

[2021-04-12 07:03] Canato commented on #108
@mampress when is fixed and release this issue will be close. Someone need to drop a PR to fix this so we can merge =)

[2021-04-12 07:15] mampress commented on #108
Sorry, I'm quite new to GitHub so I don't know how to open one

[2021-04-12 07:38] Canato commented on #108
@mampress welcome =D

This is the library [guide to contribute](https://github.com/CanHub/Android-Image-Cropper/blob/main/CONTRIBUTING.md), our "rules".

[This is a great guide](https://github.com/firstcontributions/first-contributions) explaining how to fork and how to contribute.

Looking forward for your PR soon !!!

[2021-04-12 08:18] mampress commented on #108
As soon as I understand what a PR properly I'll commit one =D

[2021-04-12 09:09] ashcode1997 commented on #108
@mampress how did u reesolved the problem ?

[2021-04-12 09:12] mampress commented on #108
haven't resolved it yet

[2021-04-12 09:15] #108 closed

[2021-04-12 09:17] Canato commented on #108
@prashant-13 Thanks for the PR!

@ashcode1997 @mampress
Please check the pre-release `2.3.2-alpha` and let me know on the [discussion #110](https://github.com/CanHub/Android-Image-Cropper/discussions/110) if everything is working

[2021-04-12 09:29] mampress commented on #108
CropImage.activity() works perfectly

[2021-04-12 09:32] mampress commented on #108
Now Im facing the same problem with CropImage.getActivityResult();

[2021-04-12 09:40] ashcode1997 commented on #108
@mampress  same here

[2021-04-12 09:41] ashcode1997 commented on #108
error :- Non static cannot be referenced from static context

[2021-04-13 08:14] #99 closed

[2021-04-13 08:42] Canato commented on #99
Please try the latest `3.0.0` release and let me know

[2021-04-13 08:42] Canato commented on #83
Please try the latest `3.0.0` release and let me know

[2021-04-13 08:42] Canato commented on #84
Please try the latest `3.0.0` release and let me know

[2021-04-13 15:29] NmMedina opened #113 "Problem Calling CropImage.getActivityResult from Java"
Hi there I'm coming from the old repository due I'm having problems with Android 11 when accepting the Photo but when I'm trying to get the result from the activity I can't get the result due it's not static, reviewing the Java version has the static modifier

    @Nullable
    public static ActivityResult getActivityResult(@Nullable Intent data) {
        return data != null ? (ActivityResult) da

[2021-04-13 15:54] Canato commented on #113
Hello @NmMedina welcome to the lib

Please check this [discussion](https://github.com/CanHub/Android-Image-Cropper/discussions/110)

We add some `@JvmStatic` but look like we always need more.
So, before make `n` comments and releases for each method is better we do just one!

For this we need to add a Java Sample code, to be sure is working.

Please feel free to add the Java Sample and open a PR

[2021-04-13 16:08] NmMedina commented on #113
Hi, @Canato Thanks for the fast response! Perfect I going to work on this example and make a PR

[2021-04-13 16:10] Canato commented on #113
Let this open, so people know you are working on this!

Will link with the discussion

[2021-04-13 16:11] Canato commented on #108
@NmMedina will work on this #113

[2021-04-14 02:06] felipecs81 opened #114 "[BUG] - Unable to Crop image from Uri"
- Lib Version [e.g. 3.0.0]

**Describe the bug**
First of all I would like to thank everyone involved in this library for the great work you have done. Well done.

I am currently using this library in a project where I have a personalized interface where the user can take a photo. When he takes the picture I take this uri and send it to another screen to edit the image.
On this screen I have a but

[2021-04-14 08:38] Canato commented on #114
Hey @felipecs81 thanks for raising this.

This maybe be some issue with the URI path. Could you log your URI?
Since is Android 11, I may be expecting some `content://` instead of `file://` in the URI.

If this is the case, we maybe need to do some changes how we consume de URI.
In the mean time I have some hack possibility for you, but let's check what is the value first.

**Another thing that can

[2021-04-14 10:19] hassanargon opened #115 "[BUG] - width must be > 0"
- Lib Version 2.3.1

**Describe the bug**
When I crop multiple images then my app crash and this error shows in Logcat
`java.lang.IllegalArgumentException: width must be > 0`

**Code**

I know I am doing something wrong but please guide me on this.

[2021-04-14 10:58] Canato commented on #115
Hey @hassanargon this one will be trick to debug hahaha

So you said you can crop some images, but when you do with a lot of images in sequence it break, right?

Do you know how many images? like after 5 or 10?
This maybe be a concurrency issue where `cropImageViews.get(i)` **return an empty image**.

Maybe we can add some Logs/debug to be sure that all images exists?.
Or even an IF condition, lik

[2021-04-14 11:18] hassanargon commented on #115
@Canato I am adding a maximum of ten images into the List and then want to get all cropped Images. And I also debug the code, all Crop image views have the image. And it is crashing on the second iteration, which means when `i=1` then it crashes.

[2021-04-14 13:40] fajar2304 commented on #99
Hi @Canato i already implement `3.0.0` but still show

[code]

[code]

problem on Samsung A71 and Samsung M31 Android 11

already add permission scope storage mean

[code]

i don't know how to fixed this, please help me
thank you

[2021-04-14 13:52] Canato commented on #99
@fajar2304 if you want the FilePath, please use `getPickImageResultUriFilePath` and not `getPickImageResultUriContent`

Let me know if works please

[2021-04-14 14:08] fajar2304 commented on #99
@Canato thank you for respond, sorry still not working

[code]

[2021-04-14 14:10] Canato commented on #99
@fajar2304 can you do a test in something manual please? If works I can make a hotfix

add `file://` to the string. Meaning: `/data/user/0/com.android.crop/cache/temp_file.jpg` will became `file://data/user/0/com.android.crop/cache/temp_file.jpg`

[2021-04-14 14:35] fajar2304 commented on #99
@Canato still error like this

[code]

but before show this first log show like this

[code]

[2021-04-15 00:14] felipecs81 commented on #114
Hey @Canato Thank you for you quick reply.
Sorry to answer only now, I think we are in different timezones.

This is the URI which I am passing to the cropper:
/storage/emulated/0/Android/data/au.com.wave.app/files/Pictures/1618445175986_picture.jpg

This URI is created using the method: Uri.parse(args.filePath)

Due to the architecture, I can only access the URI through the path.

[2021-04-15 07:24] Canato commented on #115
@hassanargon your layout has 10 `CropImageView` and they user is cropping in each one of them ?

Maybe would be value if you can provide me some project that I can run and take a look.
Please fork this library and add your code to the project sample we have here.

Sorry, hard for me to have the vision about what is going on =/

[2021-04-15 07:25] Canato commented on #99
@fajar2304 I will need to take a look with more time.

If you have the chance please reproduce this bug on the sample code. Hard for me to debug if I can't reproduce locally =/
And open a new issue, so we can make visible for everyone =D

[2021-04-15 08:05] Canato commented on #114
@felipecs81 do you have the `READ_EXTERNALSTORAGE` permissions granted, right?

This look like a path issue, because of Android 11. Can you try on Android 9? So we can be sure.

If this is the case, is something in your URI, if not we keep digging. But for sure we need a more clear error message when this happens.

Keep me on loop please

[2021-04-17 00:40] #96 closed

[2021-04-18 21:43] omkar-tenkale opened #116 "[BUG] - DialogFragment usage of CropImageView leads to crash"
**Describe the bug**
Crash on setting image source uri

**To Reproduce**
Steps to reproduce the behavior:
CropImageView view = mDialog.getView().findViewById(R.id.cropImageView)
cropImageView.setImageUriAsync(Uri.fromFile(myImageFile));

**Expected behavior**
Load the image in cropview

**Actual Behaviour**
Application crash with following stack trace

**Additional context**
[code]

[2021-04-19 08:26] Canato commented on #116
Hello @omkar-tenkale Welcome!

Could you please provide some more information?
- Library version
- Which OS are you testing it
- The code you used to call the library
- The code you add in your manifest to use the library
- What `Theme` your app use for layout.

On **Steps to reproduce** I cannot use this steps to reproduce =/
`findViewbyId` which id are you using? which view? is a library view?
`

[2021-04-20 21:26] omkar-tenkale commented on #116
Issue title with a clear name for the bug
    Library version: 3.0.0
    Which OS are you testing it : Android 11 LineageOS
    The code you used to call the library:

[code]

The code you add in your manifest to use the library

What Theme your app use for layout.

I think the root cause of issue is using the view in **DialogFragment**
`androidx.fragment.app.DialogFragment`

[2021-04-20 21:33] omkar-tenkale commented on #116
https://github.com/Nescafemix/hintcase/issues/20#issuecomment-258070176

[2021-04-21 07:38] Canato commented on #116
Hey @omkar-tenkale thank for exemplify more!

Indeed this is a context issue.
Not sure if the library can support the usage of DialogFragment.

My suggestion would be to add a DialogFragment sample in our code base, in the sample module.
So I can reproduce and you or another person can make the tweeks to make it work

[2021-04-21 20:27] #101 closed

[2021-04-21 20:27] #88 closed

[2021-04-21 20:34] AndroidDeveloperLB commented on #101
?

[2021-04-23 19:44] TacoTheDank commented on #113
Experiencing this as well. Please fix ASAP!

[2021-04-27 03:36] Taogo-Hugo commented on #114
Hi,

    Use library com.github.CanHub:Android-Image-Cropper:2.3.1 for the same case as from in Android above 10.

    Google Pixel 4 Android 11:
    Uri uri = result.getUri();
    url => content://**com.package**.cropper.fileprovider/my_images/Pictures/cropped1948079140939926657.jpg

[2021-04-27 07:20] Taogo-Hugo commented on #114
Hi,

   Equipment environment：Google Pixel 4 Android 11

   Uri uri = result.getUri();
   uri: content://com.package.cropper.fileprovider/my_images/Pictures/cropped6350359284020855240.jpg

   uri.getPath(): /my_images/Pictures/cropped6350359284020855240.jpg

   i tried url convert file method by [link](https://blog.csdn.net/jingzz1/article/details/106188462) that could work.

   correct file path:

[2021-04-27 08:05] Canato commented on #114
Hey @Taogo-Hugo this behaviour is correctly.
Please use the latest version of the library so you can use `getUriContent` and `getUriFilePath`

[2021-04-27 08:07] Canato commented on #114
The Uri is correct here.

This is not the correct file path because of the Android 10 and 11 storage scope changes based on external permission.

If after using the latest version you still find issues, please open a PR with a reproducible sample code so I can debug =)
Sadly I cannot reproduce it

@Taogo-Hugo

[2021-04-28 05:38] Taogo-Hugo commented on #114
Hi Canato,

    Great! I already use the latest version[3.0.1] and getUriFilePath() method of Kotlin project that could work.

    I want to consult with you,

    Crop image A:
    uri: content://com.package.cropper.fileprovider/my_images/Pictures/cropped8381537426439084171.jpg, path:/data/user/0/com.package/cache/temp_file.jpg

    Crop image B:
    uri: content://com.package.cropper.fileprovide

[2021-04-28 08:29] Canato commented on #114
indeed @Taogo-Hugo if you want to keep this file you need to copy and save.

This is done so the library would not take too much cache space.

If you feel that you need different files for each image we can do \o/!
Just open a PR with the suggestion where `getUriFilePath()` receive an optional parameter to make it unique. Where the default behaviour os override. Make sense?

If you really need, ma

[2021-04-29 02:26] Taogo-Hugo commented on #114
Hi @Canato, I think this is enough, thank!

I try to use like the Glide library, want to load file path from `getUriFilePath()` into ImageView
[code]
[Sample video](https://drive.google.com/file/d/1ijFjvSPV76KsWUl8BTvPTHx2Y36nhlsL/view?usp=sharing)

[2021-04-29 08:36] Canato commented on #114
@Taogo-Hugo interesting hahahah, we need to finish one loading before bring the next one. Will add later the change

[2021-04-29 08:37] Canato opened #122 "[Feat] - When generate file path have an option for different names"
**Is your feature request related to a problem? Please describe.**
To save cache memory we use the same name for the file name so we always override. Some user may need different names when cropping images in sequence.

**Describe the solution you'd like**
Optional setting to have different names

[2021-04-30 05:58] appsapiconsole opened #123 "Non-static 'getActivityResult(android.content.Intent)' cannot be referenced from a static context"
- Lib Version 3.0.1

**Describe the bug**
Non-static 'getActivityResult(android.content.Intent)' cannot be referenced from a static context

![image](https://user-images.githubusercontent.com/56867915/116654588-e1061380-a9a2-11eb-8fc9-668a5dd4f668.png)

[2021-04-30 08:10] Canato commented on #123
Hey @appsapiconsole this is something was reported here: https://github.com/CanHub/Android-Image-Cropper/issues/113

To really solve this problem we need a java sample code and to add `@Jvmstatic` to the methods. @NmMedina was taking a look on this, but please open the PR if you know what to do =D

[2021-05-02 21:11] #54 closed

[2021-05-03 06:00] Taogo-Hugo commented on #114
Hi @Canato, Ok, thanks.

[2021-05-03 17:17] #122 closed

[2021-05-05 11:25] junaediwidjojo commented on #113
Hello

I really need help on this, my codes is full on java so need this library working on java too.

What should I do to help you fix this bug?

I still new in PR that you mentioned, trying to push my sample in separate branch but not working.
Attached is my java sample code, hope you can help me to check it.
[Uploading SExtendActivityJava.java.txt…]()

Thank you

[2021-05-05 11:37] Canato commented on #113
Hey @junaediwidjojo thanks for being involved =D.

To add a PR you will need to create a fork form the repository and create the PR from your forkRepo to this repo.
On the top right corner of github you can see
![Screenshot 2021-05-05 at 12 33 46](https://user-images.githubusercontent.com/15942449/117134909-26a94e80-ad9e-11eb-81bc-4e8e761faefc.png)

The latest button is the one you wanna.

Later y

[2021-05-06 07:36] #115 closed

[2021-05-09 14:22] Mehdi-android opened #127 "Multiple image crop"
Is your feature request related to a problem? Please describe.
My project requirement is to upload multiple images to the server. Now with this library, I can only select one image at a time & then select another image & so on.

Describe the solution you'd like
Can we have multiple image selections and after selecting we can crop one after another like instagram.

[2021-05-09 14:29] Canato commented on #127
Hello @Mehdi-android please edit the description with some more information

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

A clear and concise description of what you want to happen.

A clear and concise description of any alternative solutions or features you've considered.

Add any other context or screenshots about the feature request here.

_Obs

[2021-05-09 14:54] Mehdi-android commented on #127
I have updated my question.

[2021-05-09 15:32] Canato commented on #127
Thanks for updating!

Indeed, we could do something like this, would be amazing!

Please feel free to drop a PR with this feature.

[2021-05-09 20:47] #113 closed

[2021-05-09 20:47] #123 closed

[2021-05-10 17:16] LeoKevinKR opened #128 "[BUG] - CROP_IMAGE_ACTIVITY_RESULT_ERROR_CODE returned at onActivityResult in Java"
- Lib Version [e.g. 3.1.0]

Hi, I just update to new 3.1.0 lib.
However, it dosen't work on my app.
The resultCode of onActivityResult() in Fragment is returned 204.
Here is my code.

[code]

**Smartphone (please complete the following information):**
 - Device: LG G2
 - OS: Android 5.0.1

[2021-05-10 17:56] AlexanderHoddleITE commented on #26
It is not a bug or an issue with current version.
@dimiitpk Your idea is nice, but there is a much easier way to do it with ActivityResult.
You need to define:
[code]

And then launch like this:
[code]

[2021-05-10 17:59] Canato commented on #128
I believe you meant `requestCode` is 204. You can see in the library that `204 = CROP_IMAGE_ACTIVITY_RESULT_ERROR_CODE`

We have in the README some code like this:
[code]
This sample is in kotlin, you need to make the similar in Java.

What is the error message that we get? `val error = result!!.error`

[2021-05-10 18:06] Canato commented on #26
@AlexanderHoddleITE please feel free to drop a PR to update the library if you are feeling up to help the community today, hahahaha

[2021-05-10 18:12] #128 closed, assigned to nobody

[2021-05-12 21:58] andre719mv commented on #113
CropImage.getPickImageChooserIntent also can`t be called from Java

[2021-05-13 00:02] gwharvey opened #129 "[BUG] - should isReadExternalStoragePermissionsRequired be marked @JvmStatic"
- Lib Version [e.g. 1.1.0] 3.1.0

**Describe the bug**
When porting to 3.1.0 from 2.2.2, I found that I could no longer access isReadExternalStoragePermissionsRequired.  I believe this should be a static function.  Can you please add usage of this function to the sample code?

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following code to your Java project "if (CropImage.isReadExte

[2021-05-13 02:02] #116 closed

[2021-05-13 08:32] Canato commented on #113
please open a PR or issue for this.

[2021-05-13 08:36] Canato commented on #129
Hey @gwharvey thanks for the detailed issue.

Look like we have more java issues cases with

Would you mind opening a PR with all this changes? Ideally with the sample + fix, I'm not anymore a java user so I feel safer when someone who knows what is doing and can test could put the hands on.

[2021-05-14 07:04] ArcherEmiya05 commented on #26
@Canato no need for PR to update the library for this one, just like @AlexanderHoddleITE said this is not a bug nor an issue with the library as it is already able to work with the latest approach of onActivityResult. Just need to update the README.md  for the documentation update.

[2021-05-14 08:00] Canato commented on #26
Indeed @ArcherEmiya05 you can do your own wrapper around, but we are still using `onActivityResult` inside the library, what now is deprecated. Is on my plans to have this wrapper already in the lib, so we could have it without the wrapper =D

[2021-05-14 08:04] ArcherEmiya05 commented on #26
Can't it just be remove since all we need is the intent itself then just leave it to consumer to handle the result?

[2021-05-15 10:26] #129 closed

[2021-05-15 10:27] Canato commented on #114
Removing the `pinned` tag cause I didn't got some answers =/

[2021-05-19 12:35] ashique-perumbavoor commented on #114
I just wanted to know weather the issue is solved or not. If not please let me know I will look into it.

[2021-05-19 12:38] Canato commented on #114
@ashique-perumbavoor thanks for the interest, I'm not sure if was solved or not, cause no one answer me anymore
😢

Basically this is related to the URI path, now in the library we have two methods to get the URI, one return `content` and another `file` when the user need as file.

Until now no one raise new issues about this, but since I could never reproduce the error my self I'm not sure if is r

[2021-05-19 12:46] ashique-perumbavoor commented on #114
@Canato Okay I think I can reproduce it because I had the issue in the past. I will look into it after a few days😊

[2021-05-21 17:41] connyduck commented on #26
I would like to send a PR for this, but I am not sure what the best option is here.

One way to have this working could be to have CropImageOptions as input and ActivityResult as output like this:

[code]

The problem with this is that one cannot supply a Uri as input, so it only works if you want to show the file picker.

Maybe its better to have the options in the constructor and the uri as inpu

[2021-05-21 18:11] Canato commented on #26
@connyduck and a new data class, like
[code]
So we could use `class CropImageContract : ActivityResultContract<CropImageContractInput, CropImage.ActivityResult?>()`

Would work? 🤔

[2021-05-21 19:20] connyduck commented on #26
Yes that would work, but its cumbersome if you don't want to supply a uri. Maybe it can be improved by adding some convienience functions. I'll try to find a nice solution.

[2021-05-31 03:24] #127 closed

[2021-05-31 09:42] Morons commented on #26
I am working with
[code]
In my `Button setOnClickListener`
`cropActivityResultLauncher.launch(null)`

[2021-05-31 10:23] Morons opened #134 "[BUG] - Wiki Docs need update"
[Limit cropped image result min max size](https://github.com/CanHub/Android-Image-Cropper/wiki/Limit-cropped-image-result-min-max-size)
still refer to `com.theartofdev.edmodo.cropper.CropImageView`
rather than `com.canhub.cropper.CropImageView`
I am sure more changes lik this is nessesary!

[2021-05-31 14:53] MdFarhanRaja opened #135 "[BUG] -"
- Lib Version [3.1.1]

**Describe the bug**
/data/user/0/com.kw.wanderer/cache/temp_file_20210531_192600.
Not getting file extension below Android 10

[2021-05-31 21:22] Canato commented on #134
Thanks @Morons was a lot of documentation and code to learn and import in the transition. Indeed we still find some bits to fix!

Already fix this one, feel free to keep pointing when you find =D
We are always improving.

[2021-05-31 21:22] #134 closed

[2021-05-31 21:24] Canato commented on #135
Hey @MdFarhanRaja thanks for the report I could not reproduce.

Could you please:
- Add a title, like `missing extension on path`
- Give some steps to reproduce? (which device?, which method are you using to get this, which flow of the crop image are you using)
- If possible to give a code that will break using a emulator so I can reproduce and debug
**OR**
Feel free to drop a PR fixing the issue

[2021-06-02 20:30] WMariusz opened #136 "[BUG] - ContextThemeWrapper cannot be cast to FragmentActivity while setImageUriAsync"
- Lib Version 3.1.1

**Describe the bug**
`CropImageView.setImageUriAsync` leads to
`android.view.ContextThemeWrapper cannot be cast to androidx.fragment.app.FragmentActivity`
when `CropImageView` is nested inside view that have overrided `android:theme` atribute

**To Reproduce**
Steps to reproduce the behavior:
1. Set image uri on `CropImageView` with `setImageUriAsync`
2. Apply `ThemeOverlay` b

[2021-06-03 07:37] Canato commented on #136
Thanks for the detailed bug description and the commits.

Indeed we cannot expect that context will have/be a fragmentActivity and was a mistake that I didn't spot before.

Would you like to open a PR for the library with the fix issue? I'm just worry about the `while` inside `getFragmentActivityFrom`, maybe we could get block in a loop here forever?

But if you open the PR with the fix and updati

[2021-06-03 08:07] junaidandroidcp opened #137 "Not Working on Android 10 or Above [BUG] -"
- Lib Version [e.g. 1.1.0]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartpho

[2021-06-03 08:15] Canato commented on #137
no content, please add some information for reproduce

[2021-06-03 08:15] #137 closed

[2021-06-05 12:15] #135 closed

[2021-06-05 12:22] MdFarhanRaja opened #138 "Missing extension on path below Android 10"
- Lib Version 3.1.1

On Button Click

        CropImage.activity()
            .setGuidelines(CropImageView.Guidelines.ON)
            .setFixAspectRatio(true)
            .setCropShape(cropShape)
            .setOutputCompressQuality(50)
            .setOutputCompressFormat(Bitmap.CompressFormat.JPEG)
            .setAspectRatio(1, 1)
            .start(activity)

onActivityResult

        val re

[2021-06-05 19:47] Canato commented on #138
Could reproduce, will check during the week.

Thanks!

[2021-06-05 20:07] Canato commented on #138
Ok. already did the fix, was easier than I expected, still need to run some tests before merge, so will hold until Monday

[2021-06-07 10:23] #138 closed

[2021-06-07 21:31] WMariusz commented on #136
IMO this loop should not block app as long as view is created with activity context.

So you would have to create a view from some `Service` or other `Activity`, for example from `NativeActivity` to block it.

Right now i cant find better solution.

[2021-06-09 13:43] #114 closed

[2021-06-10 16:42] #136 closed

[2021-06-15 00:12] sameerjj opened #144 "[BUG] - ExifInterface.ORIENTATION_TRANSVERSE as returned by CameraX not correctly handled"
- Lib Version 3.1.0

**Describe the bug**
If an image is passed into the cropper with EXIF orientation data outside of 0,90,180,270, the cropper displays the incorrect orientation of the image.

More specifically, image with EXIF data ORIENTATION_TRANSVERSE is not rotated or displayed correctly

**To Reproduce**
Steps to reproduce the behavior:
- Capture an image using CameraX and use the selfie c

[2021-06-15 08:07] Canato commented on #144
Morning @sameerjj

Thanks for the detailed explanation.

- Could you provide a video?
- And can you share how are you using the library in your code? can be some copy/paste from your project

[2021-06-23 10:52] Rizza-Rabe opened #146 "Implementation Error"
- Lib Version 3.1.3

Android Studio Throws error:
"Fail to resolve: com.github.CanHub:Android-Image-Cropper:3.1.3"
![16244455235292139217008406975166](https://user-images.githubusercontent.com/72380210/123084792-218a8680-d454-11eb-92a1-274f9503629b.jpg)

[2021-06-23 12:06] Canato commented on #146
Hello @Rizza-Rabe welcome to the library.

Did you have `maven -  jitpack` add to your project?

**Tip:**
Next time you can always add a printscreen or just copy/paste the code =)

[2021-06-23 12:09] Rizza-Rabe commented on #146
Yes i have jitpack.io
like this
repo{
mavenCentral()
maven {url https://jitpack.io} like this.
}

[2021-06-23 12:09] Canato commented on #146
which gradle file is each one of this code?

[2021-06-23 12:12] Rizza-Rabe commented on #146
Tried the outside Gradle. not work. And in inside gradle not work either.

[2021-06-23 12:15] Canato commented on #146
ok, need to be in the gradle file. But your project should have at least two gradle files or more.

Which is the package/path to the gradle files you are using?

jitpack need to be in root gradle file
and the library implementation need to be on the module gradle file

[2021-06-24 07:07] denchic45 commented on #146
I have the same problem
![image](https://user-images.githubusercontent.com/80104523/123218003-de6ff800-d4d3-11eb-88fd-4c6bf906d44a.png)
![image](https://user-images.githubusercontent.com/80104523/123218062-edef4100-d4d3-11eb-9a4d-36eada54c99a.png)

[2021-06-24 08:30] Canato commented on #146
Hey @denchic45 same questions, which gradle files are you putting this code?

There is this warning about offline, probably is nothing

[2021-06-24 08:37] denchic45 commented on #146
I put this code in a Gradle project
![image](https://user-images.githubusercontent.com/80104523/123230693-2e54bc00-d4e0-11eb-99ec-7e388953e0f8.png)

I put the dependency in the gradle of the app module
![image](https://user-images.githubusercontent.com/80104523/123230951-6b20b300-d4e0-11eb-8017-9f0e933a5046.png)

After synchronizing it, I receive these messages:
![image](https://user-images.github

[2021-06-24 08:44] Canato commented on #146
Could you try an old version like `3.1.0` and see if is the same issue?

[2021-06-24 08:51] Rizza-Rabe commented on #146
It also gives an error in all versions.

[2021-06-24 08:57] Canato commented on #146
Could you change the order to
[code]

[2021-06-24 11:22] denchic45 commented on #146
Same result :(

[2021-06-24 11:27] Canato commented on #146
Wanna help you people, but no idea what could be =/ Jitpack look up and running, we didn't had this issue before.

Please let me know if you find a solution or what the problem is ><'

[2021-06-24 12:11] denchic45 commented on #146
I will still experiment with this :) And so the problem is strange, I already had Jitpack earlier for other libraries

[2021-06-24 14:41] connyduck commented on #146
It says you should `Disable offline mode and sync project`, have you tried that?

[2021-06-25 11:59] lightstudioapp commented on #146
You need to enable gradle online mode and connect your pc/laptop to internet.

[2021-06-25 12:01] lightstudioapp opened #147 "How do i send intent only to camera if user denied external storage permission?"
Is there any feature in this library which sends intent only to camera if user denied other permissions but accepted camera permission?

[2021-06-25 13:37] ashcode1997 opened #148 "[Feat] - Add a custom UI"
Currently we have the crop icon on the action bar , so I want a customization that the crop button should be below the crop preview . In short I want to hide the action bar icons and want a separate button for crop .

[2021-06-25 14:16] denchic45 commented on #146
Yes, I tried it first, but it didn't help

[2021-06-25 17:57] Canato commented on #147
Hey @lightstudioapp I will change this issue to a discussion Q&A.

To answer you, in previous version of Android (9,8,7...) we need the external storage permission to crop the image, since we need to save the cropped somewhere. To the new versions (10,11,+) we can use scope storage.

Based on this, the library do not expect to work only for the latest versions so we need the permission access.

Th

[2021-06-25 17:57] #147 closed

[2021-06-25 18:01] Canato commented on #148
@ashcode1997 maybe you can create your own layout using `cropImageView` like we have on the [sample code here](https://github.com/CanHub/Android-Image-Cropper/blob/main/sample/src/main/java/com/canhub/cropper/sample/crop_image_view/app/SCropImageViewFragment.kt)

Basically you put the image and button where you want, and on the button click you call:
`cropImageView.getCroppedImageAsync()`

On the

[2021-06-26 07:24] Akshay0701 opened #150 "[BUG] - AppCompat widget that can only be used with a Theme.AppCompat theme"
- Lib Version [e.g. 1.1.0]

**Describe the bug**
application crashed with a message in logcat
[code]

**To Reproduce**
Steps to reproduce the behavior:
wrttien this code in my activity
[code]

[2021-06-26 07:26] Akshay0701 commented on #150
I completely understand this error is not caused by your library,
and please suggest to me what should I change in the above code to get rid of this error/crash

[2021-06-26 08:50] connyduck commented on #150
Define it in your manifest like this:
[code]

[2021-06-28 02:48] Rizza-Rabe opened #151 "Uri error"
Image taken directly from camera throws Error when using Cursor to extract real image path.
`CropImag.ActivityResult result = CropImage.getActivityResult(data)`

`result.getOriginalUri`

and error occured here:
`Cursor cursor = getContentResolver().query(image_uri, null, null, null, null);`
`cursor.moveToFirst();
int idx = cursor.getColumnIndex(MediaStore.Images.ImageColumn.DATA);

//Throws an err

[2021-06-28 08:28] Canato commented on #146
@Rizza-Rabe I can see that you are using the library, how did you fix this?

[2021-06-28 08:30] Canato commented on #151
Is kind of hard to read this issue, could you please follow the issue format:

[2021-06-28 08:35] Rizza-Rabe commented on #151
Ok. So I think the cropped image path is not working. When I pass it to File and try to get its size it shows 0B. Even firebase throws error when uri came from (result.getUriContent) but was normally working on (result.getUriOriginal) wich is the orginal path of the image.

[2021-06-28 08:37] Canato commented on #151
`result.getUriContent` is not the file path, is the uri content. you need to use `result.getUriFilePath` to get the `file://` schema

[2021-06-28 08:39] Rizza-Rabe commented on #151
you mean the `result.getUriContent.getPath`?

[2021-06-28 08:41] Rizza-Rabe commented on #151
Ye I see now. Thanks. Btw what is the use of UniqueName?

[2021-06-28 08:42] #151 closed

[2021-06-28 08:46] Canato commented on #151
This is the documentation:

If not easy to understand let me know so we can improve the text =D

But this is important if you are making multiple crops in sequence

[2021-06-28 10:30] Rizza-Rabe opened #152 "[Feat] - Set Image Quality"
May i request to add a feature that can change the image quality of the image cropped. That would amazing to all of ur supporters. ❤️❤️

[2021-06-28 10:45] Canato commented on #152
Hey Rizza, thanks for all the involvement in the library.
Sometime the work can get overwhelm and since is a free work is nice to have things organised!!!

That's the mean reason we spent time with templates, automation, etc
**Please follow the repository template for features:**

Close because if out of template format.

[2021-06-28 10:45] #152 closed

[2021-06-28 10:50] Canato commented on #146
The owner of the issue have the library already working. Hopefully will share with us =D

[2021-06-28 10:50] #146 closed

[2021-07-01 09:02] balaji-roamsoft opened #153 "[BUG] - Issue in Android 11 Closing after it opened"
- Lib Version [e.g. 3.1.3]

**Describe the bug**
`System.err: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.net.Uri.toString()' on a null object reference`
when i call
[code]
crop screen opened and closes immediately
[code]
gettling null in `result.getUriContent()`

**To Reproduce**
Steps to reproduce the behavior:
Working fine on upto android 10

**Exp

[2021-07-01 09:16] Canato commented on #153
Hey @balaji-roamsoft could you print the value of `imgUri` before call the library?

What is the value?

[2021-07-01 09:23] balaji-roamsoft commented on #153
content://com.ippopay.agent.fileprovider/storage%2Femulated%2F0/IppoPay%20Agent/Snap_1625131382.jpg

[2021-07-01 09:26] balaji-roamsoft commented on #153
I'm Getting this problem on Android 11 below that working fine

[2021-07-01 09:30] Canato commented on #153
@balaji-roamsoft will try to reproduce after work, just to be sure, could you run the sample app in this library and check if we have the same issue?

If possible send me a video of the open/close behaviour using the sample app

[2021-07-01 10:28] #26 closed

[2021-07-01 10:32] balaji-roamsoft commented on #153
Sample app works fine. i'll check and update

[2021-07-01 11:32] #153 closed

[2021-07-01 11:59] Canato commented on #153
@balaji-roamsoft maybe was something small or not, but could you share what happened so I can help more people in future?

[2021-07-05 08:27] RK03ind opened #155 "[BUG] - Android 11 issues"
Getting this error while converting result uri to bitmap
Anything with android file provider ??
E/BitmapFactory: Unable to decode stream: java.io.FileNotFoundException: /my_images/Pictures/cropped1275987617537390602.jpg: open failed: ENOENT (No such file or directory)

[2021-07-05 09:49] Canato commented on #155
Hey @RK03ind good day, welcome to the community, I will ask you to **please follow the repository template for bugs.**
`new issue > Bug report`

Will close this issue so we can open with more information.

When adding the information please show the code you are using and/or the test/bug in the sample code from the library

[2021-07-05 09:49] #155 closed

[2021-07-05 15:18] hardapps1692 opened #156 "Show crop icon at toolbar of CropActivity"
This is fabulous cropping library ever I seen. But I want to show a crop shape icon at top of the toolbar of Cropactivity. Please assist with it.

[2021-07-05 15:39] Canato commented on #156
Hey @hardapps1692 will make this a discussion =D

We have some options for customisation, you can change the icon on our activity extending our!

For this you can check [this code](https://github.com/CanHub/Android-Image-Cropper/blob/main/sample/src/main/java/com/canhub/cropper/sample/extend_activity/app/SExtendActivity.kt)

So basically you can add your toolbar and call our methods, so you just n

[2021-07-05 15:40] #156 closed

[2021-07-06 13:48] #144 closed

[2021-07-07 17:14] sdlingam7 opened #158 "[BUG] - Camera Issue"
[code]

This is my code. While i pick image from gallery, it's working fine. But while capture image from camera, it does not goes to crop activity, show error  CropImage.CancelledResult.INSTANCE .

**Check this code in android 11, i have tried in vivo and oneplus device, both are android 11.**

Thanks

[2021-07-08 08:36] Canato commented on #158
Hey @sdlingam7  good day, welcome to the community, I will ask you to please follow the repository template for bugs.
`new issue > Bug report`

Will close this issue so we can open with more information.
(lib version, tested on sample code, detailed steps to reproduce, screenshot/video)

Maybe this is a device/OS versions issue, please try to use the sample in this library to be sure.

[2021-07-08 08:36] #158 closed

[2021-07-08 13:07] mnayef95impressions opened #159 "[Feat] - Pinch to zoom"
**Is your feature request related to a problem? Please describe.**
Currently, there is only auto-zoom while cropping but it's will be nice to have the pinch to zoom feature.

**Describe the solution you'd like**
Adding a pinch to zoom

[2021-07-08 13:17] Canato commented on #159
Hey @mnayef95impressions  welcome and thanks for the suggestion.

Would be a lovely feat, if you feel please drop a PR with the code for it =D

I will tag with `help wanted` and `good first issue` maybe someone in the community will do it!

If no one take ownership of this feature in the next two weeks the stale robot will stale and later close.
If you want to keep this open just keep updating the

[2021-07-10 10:14] Akshay0701 commented on #150
Thank You so much @connyduck,
and I am really thankful to @Canato for this wonderful library.

[2021-07-10 10:14] #150 closed

[2021-07-10 13:23] sdlingam7 opened #160 "[BUG] -"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version : 3.2.0

**Describe the bug**
Could not get the camera pic for crop

Device :
oneplus nord : version 11
Vivo : Version 11

https://user-images.githubusercontent.com/68161143/125164491-13f13280-e1b0-11eb-94b6-ba4b11ab82fa.mp4

[code]

This is my code. While i pick image from gallery, it's working

[2021-07-12 00:51] lordrians commented on #160
i had that problem too

[2021-07-12 07:14] Eldhopj commented on #160
I too have the same issue on my realme device which is running on android 10

[2021-07-12 09:01] Canato commented on #160
Hey people thanks, will try to reproduce later. But right now is working on my phone, so maybe is device related (mine is pixel 3 on Android 11)

If you have time and can help me with this tests:
- Use library `3.2.0` but don't use the Activity contracts, use the old `onActivityResult` and `cropImage` (they are deprecated now)
- Use the library version `3.1.3`

So I can understand if the last chan

[2021-07-13 10:41] ondree commented on #160
I can see same issue on Huawei P20 Lite with Android 9 and library version 3.2.0, it is ok with 3.1.3.
With Pixel 5 (Android 12) and Motorola Moto Z (Android 8) - both library versions working without any issue.

[2021-07-13 22:28] Canato commented on #160
Hey team, I tested in 3 of my devices and some Android Studio emulators, could not reproduce and without it cannot fix =/

Someone could reproduce in an Android Studio emulator?

If someone wanna fix, probably is something on `PickImageContract`

Check `CropImageActivity` method `onPickImageResult`

@connyduck any insight on it? maybe you can reproduce...

[2021-07-14 07:12] ondree commented on #160
Hi I can see there is difference in parameters returned to `PickImageContract.parseResult(resultCode: Int, intent: Intent?)`

Problematic device: `resultCode == -1`; `intent == null`
Working device: `resultCode == -1` but intent is not null.

In problematic devices `CropImage.getPickImageResultUriContent()` is not called because of Intent null check.
[code]
Is Intent null check required here? It s

[2021-07-14 08:01] Canato commented on #160
Good catch @ondree , `-1` means `RESULT_OK`

And looking the `getPickImageResultUriContent` method we have a solution when data is null.
(and we need to remove this !! notations).

Could you remove this if and test the sample code? if work you can open a PR and we merge it!
(or I can open, what you prefer)

[code]

[2021-07-16 02:20] sapsalgea opened #162 "[BUG] - Camera crop image activity is not removed"
- Lib Version: 3.2.1

[youtube video](https://www.youtube.com/watch?v=ODZDNa7Gkr4)

## Steps to reproduce the behaviour:

1. Open Camera
2. Capture a Image
1. Crop a image
1. Open crop selector again
1. Don't select any image
1. return

Cropping photos from the gallery will not result in this.
this bug appears when after cropping with the camera .

After cropping with the camera, if you do not sel

[2021-07-16 08:51] Canato commented on #162
Interesting bug, never got in his case, but I know why this happen, we use the same file name to save cache memory of the device, so we don't create an image copy for every crop done.

Not an urgent bug, but for sure something would be nice to fix.

The fix will be something like this: (If someone has more time before myself)
- After crop pressed, clean original URL parameter

[2021-07-16 20:44] #148 closed

[2021-07-20 07:52] inforaamitsolutions opened #163 "[BUG] - the image is not saved after cropping."
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [e.g. 1.1.0]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

[2021-07-20 08:12] Canato commented on #163
Please use the template with correct information. Deleting what is need just comments. Thanks

[2021-07-20 08:12] #163 closed

[2021-07-21 04:37] aemb2084 commented on #66
Hi Canato.-

I am having a problem implementing your library, apparently it cannot find it. How can I solve this problem?

![Screenshot 2021-07-20 233320](https://user-images.githubusercontent.com/21280986/126431364-dbf7d435-c810-479e-9052-216b965a0b37.png)

This is the configuration in my Gradle module:

![Screenshot 2021-07-20 233320](https://user-images.githubusercontent.com/21280986/126431585-

[2021-07-21 08:07] Canato commented on #66
Hey @aemb2084 you need to change `${version}` to the latest number version.

Today would be `implementation 'com.github.CanHub:Android-Image-Cropper:3.2.1'`

**One small tip, always open a new discussion or issue instead of updating a close one, we can miss this notification ;)**

[2021-07-21 13:21] aemb2084 opened #164 "Could not resolve com.github.CanHub:Android-Image-Cropper:3.2.1"
Hi @Canato, I'm having the next problem implementing the cropper library, I'm working with the next version:
`implementation 'com.github.CanHub:Android-Image-Cropper:3.2.1'`

But I'm still having the next fail:

![Screenshot 2021-07-20 233320](https://user-images.githubusercontent.com/21280986/126495452-ec79827c-da8b-48c2-9c58-dd0e038b767c.png)

Thank you for your help.

[2021-07-21 13:24] aemb2084 commented on #164
Here are my gradle docs:

`// Top-level build file where you can add configuration options common to all sub-projects/modules.
buildscript {
    ext.kotlin_version = "1.5.10"
    repositories {
        google()
        mavenCentral()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:4.2.2'
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"

[2021-07-21 13:34] aemb2084 commented on #164
I have fixed the problem by adding the following line in my gradle:

`maven { url 'https://jitpack.io' }`

I have confused the repositories and was working with one where the above line is not mentioned.

By the way, thank you very much with the help informing me of the correct implementation of it:

`implementation 'com.github.CanHub:Android-Image-Cropper:3.2.1'`

Now everything works correctly.

[2021-07-21 13:38] Canato commented on #164
Happy that is working =D, let us know anything ^^

[2021-07-21 13:38] #164 closed

[2021-07-21 15:47] aemb2084 opened #165 "[BUG] - Multimedia options list opens twice"
The problem is that the image source selection option opens by itself when I have finished the process as follows:

![Screenshot 2021-07-20 233320](https://user-images.githubusercontent.com/21280986/126518087-64e7ac9a-9387-4e4d-8d0e-d18f9bd2ca7d.png)

As you can see, the cropper works correctly but in the end it opens the multimedia source selection options again. From there I follow the flow of t

[2021-07-21 17:02] Canato commented on #165
@aemb2084 you are calling `cropImage.launch(..)`  twice, what will make it open two times.

If you call just once will open a single time.

[2021-07-21 17:02] #165 closed

[2021-07-24 15:26] ibdman1991 commented on #162
Please, how to clean original URL parameter ?

[2021-07-24 16:01] Canato commented on #162
Not sure if this is possible. Need to check if original url is accessible (not on my computer today) we probably need a PR to improve this

[2021-07-26 08:20] Canato commented on #162
Just check the code and we can't need some PR to improve it. Please feel free to drop a PR with a fix and we can discuss =D

[2021-07-27 07:13] zpluscybersecuretech opened #166 "[BUG] - Getting this Problem"
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.salesmanagement, PID: 7496
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.salesmanagement/com.canhub.cropper.CropImageActivity}: java.lang.IllegalArgumentException: Can only use lower 16 bits for requestCode
        at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3449)
        at android.ap

[2021-07-27 07:34] #166 closed

[2021-07-27 07:36] zpluscybersecuretech commented on #166
due to some additional dependencies.

[2021-07-27 08:47] Jaaveethoptisol opened #168 "Android version 9 image path generated without image extension[BUG] -"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [e.g 3.1.1]

**Describe the bug**
Image path not getting properly

**To Reproduce**
Steps to reproduce the behavior:
Check with Android version 9

**Expected behavior**
A clear and concise description of what you expected to happen.

**Smartphone (please complete the following information):**
 -

[2021-07-27 08:52] Canato commented on #168
@Jaaveethoptisol Good day =D
Some requests so I can help you better

1. Please update your library to the latest version
2. Please fill the form/template and delete the placeholders
3. Could you reproduce this bug in the sample code?

Thanks!

[2021-07-27 08:53] Canato commented on #168
This was fixed in `3.1.2`

https://github.com/CanHub/Android-Image-Cropper/releases/tag/3.1.2

[2021-07-27 08:53] #168 closed

[2021-07-27 21:14] jesulonimii opened #169 "Implementation using java, with alternative for deprecated onActivityResult()"
Please can we have a guide for implementing your library using java?

[2021-07-28 08:25] Canato commented on #169
@jesulonimii please feel free to create one. I'm not a Java user, but the community can contribute

We have a sample code using the library: https://github.com/CanHub/Android-Image-Cropper/tree/main/sample/src/main/java/com/canhub/cropper/sample/crop_image_java

[2021-07-28 08:27] Canato commented on #169
This is not an issue, will move to discussion

[2021-07-28 08:28] #169 closed

[2021-07-29 15:06] #159 closed

[2021-07-29 17:17] #162 closed

[2021-08-05 04:45] zihadrizkyef commented on #166
is there any solution?

[2021-08-05 06:16] zpluscybersecuretech commented on #166
yes ,Remove all other dependencies which are related to Image Cropping.

[2021-08-05 06:40] zihadrizkyef commented on #164
i also got this problem. here's my gradle :

[code]

[code]

[2021-08-05 07:20] zihadrizkyef commented on #146
it also occured to me. i've tried many version but gradle still cannot found it. what's wrong?

[2021-08-05 08:06] Canato commented on #164
@zihadrizkyef you don't have this
[code]

  On your first gradle, need to be in `allprojects`

[2021-08-06 08:28] rezadarvishian opened #174 "[BUG] - Exit app when press Back button in CropImageFragment and CropImageViewFragment (samples)"

[2021-08-06 08:44] Canato commented on #174
Please follow the repo template for reporting bugs.

[2021-08-06 08:44] #174 closed

[2021-08-09 15:10] TurKurT656 opened #176 "[BUG - Question Maybe] - Toolbar is missing"
**Library version**
 - 3.2.2

**Describe the bug**
When Crop Screen shows up, toolbar is missing and only the picked photo with copper guidelines are available on the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. launch the Copper with:
`
cropImage.launch(
            options {
                setGuidelines(CropImageView.Guidelines.ON)
            }
        )
`
2. Select a photo or

[2021-08-09 15:20] Canato commented on #176
Hey @TurKurT656 welcome to the lib =D

Do you theme has not action bar? We have this note, maybe help you
[code]

Please let me know if work or not

[2021-08-09 16:58] TurKurT656 commented on #176
Sorry my bad. My app was on previous version of Android Image Cropper and because of that I forgot to change the package name to the new one in the manifest. works like a charm :)

[2021-08-09 16:58] #176 closed

[2021-08-12 06:01] pintu236 commented on #99
I was able to solve this issue
by first converting to result uri into bitmap then save it to file.

`        ActivityResultLauncher<CropImageContractOptions> cropImageContractOptionsActivityResultLauncher = registerForActivityResult(new CropImageContract(), result -> {
            if (result.isSuccessful()) {
                uriContent = result.getUriContent();
                Bitmap bitmap = Help

[2021-08-13 00:04] nazemi0101 opened #179 "[Feat] - Create empty space around the image"
we need some feature
can move box crop to outer image (disable auto move back to picture area cropping box)
can crop with background transparency ( image background transparency canvas)
crop transparency area image like image send

how to can use ?
how to do ?

we need editor look like images
and give us look like result

///Cropper View Need
![editor](https://user-images.githubusercontent.com/476

[2021-08-13 00:06] nazemi0101 commented on #179
result Jpg

![resultBackgroundJpg](https://user-images.githubusercontent.com/47674802/129285060-0672c65d-2e32-4579-842c-f3ae93984a3f.png)

[2021-08-13 14:44] cybertronjc opened #180 "[BUG] - Getting uriContent as null in CropImageView.CropResult"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [3.2.2]

**Describe the bug**
I have created a custom activity which includes CropImageView in my XML. Using DataBinding.
I am passing uri to  cropImageView.setImageUriAsync(incomingUri) and getting uri in cropImageView.setOnSetImageUriCompleteListener().

For getting Cropped result I have used a

[2021-08-13 14:51] Canato commented on #180
Hey @cybertronjc thanks for the detailed issue, helps a lot to understand your case.

This is our [sample code using crop image view](https://github.com/CanHub/Android-Image-Cropper/blob/main/sample/src/main/java/com/canhub/cropper/sample/crop_image_view/app/SCropImageViewFragment.kt)

Maybe it can help.

You said:

But this method should no return any result.

did you override `fun onCropImageCom

[2021-08-13 16:28] cybertronjc commented on #180
Hey @Canato
I really appreciate the quick response.

this is the centered check image (refer screenshot). On click of this check image I am calling cropImageView.getCroppedImageAsync(). and receiving the result in onCropImageComplete.
[code]

I have implemented the override function onCropImageComplete like this.

[code]

[code]

Still I get the uriContent as null but I am receiving the Bitmap whi

[2021-08-13 16:35] Canato commented on #180
Interesting bug, we need to take a look. What are you receiving from the UriFilePath?

And can you reproduce on the sample code?
Maybe is the device?

[2021-08-13 16:49] cybertronjc commented on #180
Hey @Canato
Thanks for the response.
I am receiving result?.getUriFilePath(this) as null as well.

Allow me some time to reproduce the sample code.
Let me also try this on another device. This maybe because of Android 11 introduced scoped storage (not sure).

[2021-08-13 16:56] Canato commented on #180
I fix the scope storage last November. But let's keep investigating, I'm going for the weekend, but back on Monday

[2021-08-13 19:22] cybertronjc commented on #180
Hey @Canato
I have reproduced the bug on the sample code in crop_image_view.
I am attaching a screenshot of the debug which shows uriContent value null on breakpoint line number 181 in SCropImageViewFragment.kt
The result?.getUriFilePath(this) is also null. Let's investigate more on Monday. thanks
<img width="1430" alt="Screenshot 2021-08-14 at 12 41 46 AM" src="https://user-images.githubuserconte

[2021-08-14 14:22] yajnesh opened #181 "[BUG] - In low budget devices, camera is unable to deliver the result"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code
Yes Reproducible in sample code

 - Lib Version
 com.github.CanHub:Android-Image-Cropper:3.2.1

**Describe the bug**
In low budget devices like "Xiaomi Remi 8A dual", If the image is clicked via camera option, ```com.canhub.cropper.CropImageContract.parseResult``` , the ```result``` variable is always null.

**T

[2021-08-16 08:13] Canato commented on #181
Hey @yajnesh thanks for raising this, without reproduce is hard for me to fix, but feel free to drop a PR. I will be looking close to #180 hopefully is the same bug and we can fix in one go? 🤔

[2021-08-16 17:13] Canato commented on #180
Found it, is not exactly a bug, but something this library need improvement, since we come from Java, we have strange stuff and not so good documentation, like `CropImageView` has 3 methods `getCroppedImageAsync` the problem, is that any of it will give you a `uriContent` value as return. Just bitmap.

For getting `uri` you would need to use `saveCroppedImageAsync` method. This receive the `uri` s

[2021-08-16 17:15] Canato commented on #181
@yajnesh I found the bug in the other ticket, but maybe is not related to this one. Could you share a video of it not working on the sample code?

Maybe we are limited by the device =/// if so, we could think about how to compress the image

[2021-08-16 18:13] Canato commented on #180
Besides the fact we can use without any change, the code can be refactor and improve.

I'm working on this here: https://github.com/CanHub/Android-Image-Cropper/pull/185

Something still wrong, so is a draft by now.

[2021-08-17 16:13] dhoehl opened #186 "[Feat] - Separate Exception class or return code"
Maybe this is already implemented somehow and I did not find it but:

Wouldn't it be nice to return a custom Exception with an error code instead of a generic exception?

My current use case: If the user presses the back button I do not want to display an error message, if it fails of other reasons I might. I don't see how to achieve this besides comparing the error message atm but this is highly

[2021-08-17 16:19] Canato commented on #186
Hey @dhoehl welcome =D.

Thanks for the suggestions, indeed is a nice feature!

Please feel free to open a PR with better exceptions, for sure will be a win for the whole community

[2021-08-17 18:03] dhoehl commented on #186
Sadly I am not familiar with Kotlin. So just in case someone wants to take over this, I would be really happy. Does not sound like a huge task, but I cannot be of any help here

[2021-08-18 08:51] Canato commented on #186
I add the labels so people can jump in. But if you know Kotlin is close enough and I will check the PR to help you. Maybe is a good first kotlin experience hahahaha

[2021-08-18 13:26] cybertronjc commented on #180
Hey @Canato
Sorry for the delay.
I am using the updated PR code and now when I am passing the uriContent , the image is blurred.
Any solution for that?

[2021-08-18 15:28] Canato commented on #180
Hey @cybertronjc the PR is WIP state, not ready yet =D

[2021-08-18 17:01] cybertronjc commented on #180
Cool, No worries. As of now I have changed the default compression format to PNG. After that I am not getting the blurred image. thanks

[2021-08-19 12:17] Avishek1989 commented on #180
Hey @Canato , when this will be fixed? I'm in the middle of the development process, suffering with same bug.

[2021-08-19 12:21] cybertronjc commented on #180
@Avishek1989  Hi I was also in the development process. I imported the library as a module and changes the files which @Canato has updated in the PR.

[2021-08-19 13:24] Canato commented on #180
Hey @Avishek1989 welcome =D

Important to make clear that I don't win anything with this library, I just handover the project because was without update for too long and is very useful. That said I do my best to fix the bugs and add features when I have time. But a lot of important contributions come from the community it self. Sadly I cannot answer you with a deadline so I don't commit to somethi

[2021-08-19 20:25] oscarabilleira opened #187 "[BUG] - Unresolved reference: registerForActivityResult migrating from ArthurHub/Android-Image-Cropper"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [e.g. 3.2.2]

**Describe the bug**
I followed the instructions to migrate from ArthurHub/Android-Image-Cropper (where with android 11+ camera si not working) using the wiki:  https://github.com/CanHub/Android-Image-Cropper/wiki/🚨-How-to-migrate-Android-Image-Cropper--🚨
but when I try to add this

[2021-08-19 20:43] oscarabilleira opened #188 "Unresolved reference: registerForActivityResult migrating from ArthurHub/Android-Image-Cropper"
Anyone has this problem?

I followed the instructions to migrate from ArthurHub/Android-Image-Cropper (where with android 11+ camera si not working) using the wiki: https://github.com/CanHub/Android-Image-Cropper/wiki/🚨-How-to-migrate-Android-Image-Cropper--🚨
but when I try to add this code returns "Unresolved reference: registerForActivityResult”... I try in a lot of diferent versions but no way.

[2021-08-19 20:44] #187 closed

[2021-08-20 07:52] Canato commented on #188
Welcome to the lib @oscarabilleira =D

`registerForActivityResult` is not part of this library. Is a Android library, you can see here: https://developer.android.com/training/basics/intents/result

You probably need to update your other main libraries, like `appcompat`,  `androidx.activity` and `androidx.fragment`

will close since is outside of the scope of this repo ^^, if any question ask me =)

[2021-08-20 07:52] #188 closed

[2021-08-20 08:08] oscarabilleira commented on #188
Yes that was exactly the problem.. thanks a lot.

[2021-08-20 17:26] oscarabilleira opened #189 "Returned full (original) picture in place of cropped one, after migrated from from ArthurHub/Android-Image-Cropper"
After the suggestions given in [ this issue ](https://github.com/CanHub/Android-Image-Cropper/issues/188), after migrating from ArthurHub/Android-Image-Cropper, the camera and gallery is open properly and I can crop the imagen, but when the process ends the "original image" is returned, in place of the cropped one (I guess the full image is saved into temp_file  file).

I'm using the same code tha

[2021-08-20 22:13] oscarabilleira commented on #189
Fixed!
It understood bad the instructions, and I was “asking for the original picture” 🤦‍♂️.

If anyone has the same problem, here is the code that finally works for me: (in bold the afected lines)

[code]

[2021-08-20 22:13] #189 closed

[2021-08-25 11:38] AleksaDjordjevic97 opened #191 "Can't import on Gradle version 7.0.1"
Library won't import while using Gradle version 7.0.1

[2021-08-25 12:36] Canato commented on #191
I'm ion holidays this week, but will be merged in #185

[2021-08-25 13:54] krishna2917 opened #192 "Hello please java code provide"
Hello please java code provide

[2021-08-25 14:19] Canato commented on #192
Hello @krishna2917 there is a Java sample in the `sample/` folder, please check it.

If you need more information feel free to open a PR with more Java code that we can add in the library

[2021-08-25 14:19] Canato commented on #192
Closing this, cause is not an issue, if someone think this should be open please comment here and I will reopen

(I'm on holidays until next week, may take more time to answer)

[2021-08-25 14:19] #192 closed

[2021-08-25 15:42] krishna2917 opened #193 "[BUG] - Non-static 'startPickImageActivity(android.app.Activity)' cannot be referenced from a static context"
Non-static 'startPickImageActivity(android.app.Activity)' cannot be referenced from a static context

[2021-08-29 05:22] krishna2917 commented on #193
CropImage.startPickImageActivity(QrScan.this);  error red line show

[2021-08-29 05:26] krishna2917 commented on #193
2. problem -    Uri imageuri = CropImage.getPickImageResultUri(this, data);  "error red line show"
3. problem -      assert resul != null;
                        Uri imgPath = resul.getUri();  "error red line show"

[2021-08-29 05:58] krishna2917 opened #194 "[Feat] -"
1. CropImage.startPickImageActivity(QrScan.this);   "error red line show"

2. problem - Uri imageuri = CropImage.getPickImageResultUri(this, data);   "error red line show"

3. problem - assert resul != null;
    Uri imgPath = resul.getUri();   "error red line show"

[2021-08-29 05:59] krishna2917 opened #195 "[BUG] - problem - Uri imageuri = CropImage.getPickImageResultUri(this, data); "error red line show""
1. problem  - CropImage.startPickImageActivity(QrScan.this);   "error red line show"

2. problem - Uri imageuri = CropImage.getPickImageResultUri(this, data);   "error red line show"

3. problem - assert resul != null;
    Uri imgPath = resul.getUri();   "error red line show"

[2021-08-31 04:40] ankiitdev opened #198 "[BUG] - Cropper doesn't open in android 11 MIUI 12.0.1"
As soon as I click on the image from Gallery or Camera, instead of showing the cropper the activity finishes up. In the sample code it shows a message "cropping image was cancelled by the user".
In the sample code it works in one case when I'm chosing "Outside Camera and Start(Uri)" option but then we only have the option of using phone's camera not gallery

[2021-08-31 08:54] Canato commented on #198
Hello @ankiitdev welcome to the library. To help you I will need to ask some questions. To make this easy please follow the template provide when you create a issue
`New issue > Bug`

Will close this now because is not following the repository template.

[2021-08-31 08:54] #198 closed

[2021-08-31 08:58] Canato commented on #195
Hello @krishna2917 welcome to the library.

To help you I will need to ask some questions.
To make this easy please follow the template provide when you create a issue
`New issue > Bug`

Will close this now because is not following the repository template.

[2021-08-31 08:58] #195 closed

[2021-08-31 08:59] Canato commented on #194
Helloo =D. Like I said in the other issue, please follow the repository template for issues

[2021-08-31 08:59] #194 closed

[2021-08-31 08:59] Canato commented on #193
Will close this now, please open the issue with the right template complete.

`New issue > bug`

[2021-08-31 08:59] #193 closed

[2021-08-31 14:33] ankiitdev opened #199 "[BUG] - Not working on Android 11"
🚨🚨 Not working in android 11

 - Lib Version 3.2.2

Not working on my device (Poco M2 Pro Android 11 MIUI 12.0.1). CropView doesn't open after chosing the image, neither from gallery nor from camera. The activity simply gets finished. In the sample code it works when "Outside Camera and Start(Uri)' is selected. In the rest of the cases (refer sample code) it throws following error:
--Library Camer

[2021-08-31 14:50] Canato commented on #199
Hey @ankiitdev can you confirm if the permissions are granted?  (should not be a problem for Android 11, but I cannot reproduce so far)

[2021-08-31 15:28] ankiitdev commented on #199
Yeah the permissions are granted. Infact I've also tried by manually granting them from app settings but still it doesn't work.This might be a device specific bug. I also tried replacing
`when (resultCode) {
            Activity.RESULT_CANCELED -> {
                context = null
                null
            }
            else -> {
                context?.let {
                    context = n

[2021-09-01 09:34] Canato commented on #199
Sorry for the delay @ankiitdev if you try in other devices or emulator it work?

Best you can do is run the the sample app in debug mode in your device and put a breakpoint in the crop code. You can search where we define the message you see on toast and go up.

Sadly I try my best, but without reproduce from my end I'm not too much useful =|

[2021-09-01 09:43] Canato commented on #191
just to update, working on this

[2021-09-01 10:03] christianciu opened #200 "Is it possible to limit the image source only to camera ?"
For regulation reason, we can't access gallery to get images

[2021-09-01 10:24] Canato commented on #200
Hey @christianciu welcome. Will make this issue a discussion and answer you ;)

[2021-09-01 10:24] #200 closed

[2021-09-01 19:16] #180 closed

[2021-09-01 19:16] #191 closed

[2021-09-02 19:07] James471 opened #203 "[BUG] - Doesn't set the right initial crop window rectangle on some images"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [e.g. 1.1.0]

**Describe the bug**
`setInitialCropWindowRectangle()` sets the rectangle at a different position than intended

**To Reproduce**
Steps to reproduce the behavior:
1. Set a debug break point at line 30 in SMainActivity.kt in the sample app
2. Open the sample app in PR
3. Click on 're

[2021-09-04 02:07] ankitpipada opened #206 "[BUG] - Not working in android 11"
Not working in android 11 got Unknown bits set in runtime_flags: 0x800000 error hello team pls update

[2021-09-04 17:11] Canato commented on #206
Hello @ankitpipada welcome to the library. To help you I will need to ask some questions. To make this easy please follow the template provide when you create a issue
`New issue > Bug`

Will close this now because is not following the repository template.

[2021-09-04 17:11] #206 closed

[2021-09-05 07:18] ankitpipada commented on #199
Unknown bits set in runtime_flags: 0x800000 Exception show in android 11 and App Exit when using Camera

[2021-09-06 10:29] mato666 opened #207 "[BUG] - usage of cropImageOptions.outputUri is ignored"
- Lib Version
com.github.CanHub:Android-Image-Cropper:3.3.4

**Describe the bug**
Migrating from version "3.2.2" library is ignoring setting of **cropImageOptions.outputUri** parameter.

- set parameter cropImageOptions.outputUri to e.g. "content://com.my.app.fileprovider/external_cache_documents/cropped"
- crop image
- result of crop image (CropResult.getUriContent()) should be "content://com.my.

[2021-09-06 12:00] Canato commented on #207
Indeed, my mistake when was fixing another bug.

Will fix this and add a small code to avoid this again! Thanks for spotting

[2021-09-06 12:45] #179 closed

[2021-09-06 17:25] #207 closed

[2021-09-06 23:03] #181 closed

[2021-09-07 08:26] ZZombiee opened #209 "[Feat] - CropView is final"
please open CropOverlayView and CropImageView

want to modify crop style

[2021-09-07 08:32] Canato commented on #209
Hey @ZZombiee please feel free to open a PR for it

[2021-09-07 08:33] arunkr83 opened #210 "Any one please share a java version....!"
Please share java version

[2021-09-07 08:40] Canato commented on #210
Welcome @arunkr83 this is the java sample code of how using this library

https://github.com/CanHub/Android-Image-Cropper/tree/main/sample/src/main/java/com/canhub/cropper/sample/crop_image_java

Let me know if this do not help =D

[2021-09-07 08:40] #210 closed

[2021-09-07 16:45] Canato commented on #203
@James471  please check the PR comment

[2021-09-07 18:20] James471 commented on #203
Thanks for looking into this. I am traveling, I will check it out as soon as I get a chance.

[2021-09-08 08:13] Canato commented on #199
@ankitpipada could you please provide a code that I can reproduce this?

[2021-09-08 11:12] #186 closed

[2021-09-09 02:35] alvin121623 commented on #199
I also get this error on redmi 9. Before when using library:

com.theartofdev.edmodo:android-image-cropper

but when I upgrade dependencies "startActivityForResult deprecated" and I decided to switch to this library. finally it doesn't work on my redmi 9 but on other devices it works

[2021-09-11 08:26] ankitpipada commented on #199
For Create Request

   CropImageContractOptions options = new CropImageContractOptions(null, new CropImageOptions())
                .setScaleType(CropImageView.ScaleType.CENTER)

                .setGuidelines(CropImageView.Guidelines.ON)
                .setAspectRatio(4, 16)
                .setMaxZoom(8)

                .setCropMenuCropButtonTitle("Crop");
        cropImage.launch(options);

[2021-09-11 14:03] ankitpipada commented on #199
App suddenly stop when capture the photo via camera

[2021-09-11 17:09] ankitpipada commented on #206
library working on <Android 10
App stop working when app run on android 11
Scenario
Click on button open Bottom sheet contain Camera ,Gallery ,Photo
Click Camera open camera app capture photo Show 2 option Cancel(X) and Right Click right or cancel app shop
I think app goes to background and show Unknown bits set in runtime_flags: 0x800000
error
I am working on last 15 days but unable to capture ph

[2021-09-11 21:05] ArcherEmiya05 commented on #199
Any update? This is a very breaking changes a test should be conduct from lowest to latest Android OS.

[2021-09-11 23:13] ArcherEmiya05 commented on #199
This issue usually happens when an you call `onBackPressed` during intent which will set the result code to "RESULT_CANCELED"

[2021-09-11 23:35] ArcherEmiya05 commented on #199
Any update? This issue usually happens when an you call `onBackPressed` during intent which will set the result code to "RESULT_CANCELED".

[2021-09-12 15:05] jso8910 opened #211 "[Feat] - Jetpack compose support"
With the recent release of Jetpack Compose, I am wondering if you are ever considering adding jetpack compose support to this module

[2021-09-13 00:28] surajsahani opened #212 "[BUG] -"
Could not resolve all dependencies for configuration ':app:debugRuntimeClasspath'.
Could not determine artifacts for com.github.CanHub:Android-Image-Cropper:3.2.1: Skipped due to earlier error
`buildscript {
    ext.kotlin_version = "1.5.21"
    repositories {
        maven { url 'https://jitpack.io' }
        google()
        mavenCentral()
    }
    dependencies {
        classpath 'com.android.

[2021-09-13 06:49] ankitpipada commented on #199
Issue is only Android 11 when open camera. App goes to background and no callback return to app and App stop

[2021-09-13 09:07] Canato commented on #199
Hey people, I wanna help but is really hard to understand the code here.

Could you please give the steps to reproduce it using the sample code? Is working on my Android 10, Android 11 and 12.
So I cannot fix without reproduce.

Or please open a [PR](https://github.com/CanHub/Android-Image-Cropper/pulls) Like the #204 where the user give a code that reproduce the error so I could debug =)

[2021-09-13 09:12] Canato commented on #199
Is really hard to understand this code and what is doing. But this line `mPhoto_Path = mFile; //new File(mFile);` will not work in any Android 11.

Android 11 do not allow you to use `file` schema anymore, that the reason the library update for `content` schema. You don't need to create your file, you can use the one in the library and should work.

[2021-09-13 09:18] Canato commented on #212
Hey @surajsahani welcome to the library and thanks for the Issue.

Can you please follow the template we have for bugs? There is many questions there I could use to help you.
Plus `[Bug]` as title do not give a understanding of what is happening with you. Let's please use more meaningful titles.

Don't forget you can use ``` notation in github to format your code, this make it more visible to read

[2021-09-13 09:18] #212 closed

[2021-09-13 09:20] Canato commented on #211
Hey @jso8910 I plan to move the whole library into Jetpack compose. But even without it, jetpack compose can call normal xml layouts and xml layouts can call jetpack compose, so should be working already.

There is something missing?

On the same level, feel free to drop a PR and move it to Jetpack compose.

Obs: This is more a discussion over an issue, will move it to discussions

[2021-09-13 09:20] #211 closed

[2021-09-13 09:33] Canato commented on #206
Hey, what I understood from your scenario:
1. Open sample app
1. Choose `CustomActivity`, you will see 3 options
1. Click Camera option
1. Capture a photo

## Here is a video of it working:
_(every time I crop, it reload the screen with the cropped image)_
- **Pixel 3, Android 11**
_(tested on android 10 and 12 too)_

https://user-images.githubusercontent.com/15942449/133060401-8c6aaf6e-5b91-40fe-

[2021-09-13 09:34] Canato commented on #199
Here is a video of it working for me on Android 11

https://user-images.githubusercontent.com/15942449/133060401-8c6aaf6e-5b91-40fe-b742-06c7fd0bc716.mp4

[2021-09-13 09:56] ArcherEmiya05 commented on #199
Have you tried files as well? Try to check the library code with `"cropping image was cancelled by the user"`. Since this is the thrown error message.

[2021-09-13 09:59] Canato commented on #199
Yes, just re-tested all 3 options

Yes.

Looking now I may have upload the video from Android 12, but I tested in my three devices, 10/11/12, I have the library updated in all my 4 test devices always (Android 9/10/11/12)

**Can you please provide a video with the error happening in the sample code?**

[2021-09-13 10:37] Canato commented on #199
@ArcherEmiya05 Android 11, Emulator, camera, gallery, settings

https://user-images.githubusercontent.com/15942449/133069497-791bc63f-1477-4298-9e4e-b9a3c3654d40.mp4

[2021-09-16 18:16] ArcherEmiya05 commented on #199
It's the same as what was mentioned here, please check the sample code here on your side.

[2021-09-17 07:35] Canato commented on #199
@ArcherEmiya05 Can you please provide a video with the error happening in the sample code?

[2021-09-17 07:39] ArcherEmiya05 commented on #199
I don't think a video will help you debugging this issue, but I will try to record one and send it here. Have you reviewed and tried  our sample codes?

[2021-09-17 08:18] Canato commented on #199
@ArcherEmiya05 only this piece of code I cannot reproduce.

If you can add this code to our sample library code and open a PR, for example this user done it [here](https://github.com/CanHub/Android-Image-Cropper/pull/204), I can run the falty code and understand how to help =D

[2021-09-17 12:20] vishalpatel1327 opened #216 "[BUG] - Manifest merger failed with multiple errors, see logs"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [e.g. 3.3.5]

**Describe the bug**
I cant integrate with the latest SDK. ( compileSdkVersion 31)

https://www.loom.com/share/15b02df517544349931c4c33cc46a0d7

[2021-09-17 12:42] Canato commented on #216
@vishalpatel1327 can you post a picture of your Android Manifest please?

Is the blue link appear in your logs in the end of the video. Probably some of your settings is missing export

[2021-09-17 12:45] Canato commented on #216
Please check this file https://github.com/CanHub/Android-Image-Cropper/blob/main/build.gradle

Starting on line 29. You may need to copy this commands in your build.gradle and run this commands to understand what is missing.

[2021-09-17 17:26] ArcherEmiya05 commented on #199
I just clone the project this time but all I got is same issue even with the sample project. I am not sure how is your device able to launch the activity cropper right after choosing a image, please try it on other Android 11 real device. If got a plenty of time I will try to check the code and the root cause of the issue but at the same time I think I will just move on on from this library and re

[2021-09-17 17:48] ArcherEmiya05 commented on #199
Just like what I thought, the status is `Activity.RESULT_CANCELED` in the intent within `PickImageContract` class.

[2021-09-17 17:53] ArcherEmiya05 commented on #199
Please remove `Intent.createChooser` in the line 205 of `CropImage.kt` and replace it with just `val chooserIntent = allIntents.removeAt(allIntents.size - 1)`

[2021-09-17 18:00] ArcherEmiya05 commented on #199
Removing `Intent.createChooser` in the line 205 of `CropImage.kt` and replace it with just `val chooserIntent = allIntents.removeAt(allIntents.size - 1)` will fix the problem for Android 11, but doing that will limit the user to pick only saved image in the file manager. Based by Ian comment [here](https://stackoverflow.com/q/69213690/12204620),  `Intent.createChooser` seems to be now restricted i

[2021-09-18 10:49] alvin121623 commented on #199
try adding this in AndroidManifest

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />

[2021-09-20 05:42] vishalpatel1327 commented on #216
after running  **doAddAndroidExportedForDependencies** its working .
Maybe one signal library having an issue.

u r rock brother

[2021-09-20 07:17] #216 closed

[2021-09-20 07:27] Canato commented on #199
@ArcherEmiya05 since you can reproduce, sadly I can't and I don't have more Android 11 devices available, could you open a PR with the fix?

[2021-09-21 14:24] sanketkagithub opened #219 "Crashing while having a phone Call in Android 11 (Oppo f19 Pro)"
after clicking on tick mark on image, activity gets recreated.....while on phone call..(I think app goes on low memory while having a phone call. (Android 11) Rest cases its fine working nicely only while having a phone call its an issue. Could someone please help?)[BUG] -

[2021-09-22 06:49] Canato commented on #219
Welcome @sanketkagithub to help the volunteer work in the project we have the issue templates. Please re-open the issue following the templates =D

[2021-09-22 06:49] #219 closed

[2021-09-22 06:59] Canato commented on #203
More on #204

[2021-09-22 06:59] #203 closed

[2021-09-26 16:36] PiotrBandurski opened #220 "[BUG] - ScaleType Problem"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version 3.3.5

**Describe the bug**
I think that scale type is not working (Or I'm doing something wrong). When I have CropImageView with ratio for example 3x5 and I want to crop square image and im setting ScaleType to CENTER_CROP I would expect that preview of image will be filled (like in android Imag

[2021-09-27 07:27] Canato commented on #220
Hey @PiotrBandurski Welcome!

And much thanks for using the template, helps a lot!

The issue here is because our `CropImageView` is a `FrameLayout` that contains a `ImageView`

So in the code if we do `imageView.scaleType = ImageView.ScaleType.CENTER_CROP` it works!
But for be able to do from the xml we need to create a BindAdapter!
Is something small that need some testing, I can do by the end o

[2021-09-27 08:42] PiotrBandurski commented on #220
No problem, my pleasure :)

When I set
`imageView.scaleType = ImageView.ScaleType.CENTER_CROP`,  it fills image view but I'm not able to exceed crop borders (darker image on screenshoot) I can create pull request with it but can you point me where to fix issue with crop borders?
<img src="https://user-images.githubusercontent.com/12571316/134873590-4be2edd1-cbf3-42a3-b91f-8ff506a0460b.png" width="

[2021-09-27 08:49] Canato commented on #220
Strange behaviour, will dig it a little @@

[2021-09-27 10:02] dkmalviya opened #221 "[BUG] - Image Too Large"
Application getting crashed if we capturing/uploading image above 5 MB.

Fatal Exception: java.lang.RuntimeException: Canvas: trying to draw too large(253247232bytes) bitmap.
       at android.graphics.RecordingCanvas.throwIfCannotDraw(RecordingCanvas.java:281)
       at android.graphics.BaseRecordingCanvas.drawBitmap(BaseRecordingCanvas.java:91)
       at android.graphics.drawable.BitmapDrawable.

[2021-09-28 10:12] #209 closed

[2021-09-28 14:10] PiotrBandurski commented on #220
I tried to fix `CropOverlayView` but it is too complex for me

[2021-09-29 08:14] Canato commented on #220
Will try to check over weekend, this is annoying @@

[2021-09-29 08:15] Canato commented on #221
Not sure the best approach here, will try to think about something 🤔

[2021-09-29 14:45] mehdiwaysi opened #224 "[Feat] - use in java"
can you help me how to use this library with java

[2021-09-29 15:40] Canato commented on #224
Please check https://github.com/CanHub/Android-Image-Cropper/tree/main/sample/src/main/java/com/canhub/cropper/sample/crop_image_java

Already answer this questions some time in discussion before, don't forget to search please =D

If you have any issue let me know please ^^

[2021-09-29 15:40] #224 closed

[2021-09-29 16:01] mehdiwaysi commented on #224
thank you very much    On Wednesday, September 29, 2021, 07:10:15 PM GMT+3:30, Canato ***@***.***> wrote:

Closed #224.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-09-30 09:05] Canato opened #225 "[hacktoberfest] - Improve documentation"
Any improve of documentation, typos, fix explanations, improve logic, etc

In this case, really small PRs will be ignored

[2021-09-30 09:08] Canato opened #226 "[hacktoberfest] - image pick option"
## Description
Today the user can use the library to pick images from camera, gallery or documents

But the user cannot select that is from camera only, for example. So we need to add a parameter to the contract that define which intents we will use for selection.

## Possible solution:
`PickImageContract` would receive a data class, like we have in `CropImageContract` and this data class will con

[2021-09-30 09:12] Canato commented on #220
@PiotrBandurski this is a bug that we have in other places that I will need top fix anyway =|

Can open the PR and I test it, will try to fix the bug on the weekend

[2021-09-30 09:15] Canato opened #227 "[hacktoberfest] - Add Java samples"
## Description
The library today only have one Java sample. more are welcome.

Even a second README in java would be amazing!

[2021-09-30 09:17] Canato opened #228 "[hacktoberfest] - Crop Options documentation"
The library has many many options, is necessary that we can have a clear text explaining what each method does with samples when need, etc

[2021-09-30 09:18] Canato opened #229 "[hacktoberfest] - UI tests"
We need emulator UI tests using our sample code

[2021-09-30 12:54] karandeeppotato commented on #229
Hi there, I am willing to work on this can you please assign me?

[2021-09-30 13:10] Canato commented on #229
Assigned @karandeeppotato but do not feel the pressure to do all the tests, if you do one already helps and other people can do more, or if you feel like it can do it all ^^ or many

[2021-09-30 13:33] karandeeppotato commented on #229
I guess I should do one or two tests and leave the rest for other first-timers as they should also get a chance in the HACTOBERFEST. 😉

[2021-09-30 13:49] Canato opened #230 "[hacktoberfest] - Unit and integration tests"
Test some important maths we have, like BitmapUtils methods

[2021-09-30 19:07] visheshjindal commented on #230
Hi @Canato

I would like to work on this. Please assign this to me.

Thanks

[2021-10-01 08:11] visheshjindal commented on #230
Thanks @Canato

[2021-10-01 08:12] Canato commented on #230
If you feel like just do some of the tests we need, we can open a second ticket more specific too =D. Let me know when you scope your work ^^

[2021-10-02 05:12] karandeeppotato commented on #229
@Canato
Hi there, I did two tests, the code is working perfectly.
didn't find any issue.
Should I conduct more tests?

[2021-10-02 08:10] Canato commented on #229
@karandeeppotato let's merge this :D

If you wanna open more Pars feel free for it :)

[2021-10-02 10:07] karandeeppotato commented on #229
no I'm trying to reproduce the issue.. but can't
that's what I meant earlier

[2021-10-03 20:58] jashasweejena commented on #226
Hey, I would like to work on this

[2021-10-04 07:12] Canato commented on #229
@karandeeppotato which issue?

[2021-10-04 07:12] Canato commented on #226
Thanks @jashasweejena feel free to start.

[2021-10-04 07:15] karandeeppotato commented on #229
@Canato
Sir, i am saying that i was testing out the main code in order to find an issue.
But couldn't find one..

[2021-10-04 07:15] karandeeppotato commented on #229
The main code is working well in my emulated system

[2021-10-04 07:31] Canato commented on #229
@kaanhangithub great! the code should be stable and working. This issue is not about finding any issue or bug, but about creating automate UI tests for the library, so future changes cannot be merged without tests

[2021-10-04 11:03] visheshjindal commented on #230
Hi @Canato

I am going to look into it today. Will you update about the scope.

Apart from that do you mind If I add any mocking framework to the lib e.g. Mockk

Thank You.

[2021-10-04 11:12] visheshjindal commented on #229
Hi @Canato

I can write automated UI test cases as well for the framework using Espresso. But wouldn't be able to cover 100% in one go.

can you please scope it out?

And assign it to me. Thanks

[2021-10-04 11:56] Canato commented on #230
No problem to add libraries, let's just prefer MockK over mockito, more kotlin friendly

[2021-10-04 11:58] Canato commented on #229
Hey @visheshjindal best way to scope is using the flow we have by buttons.

e.g. `Open the app > "sample calling cropimage" > "outside camera and start(urI)"`

So we do one test for each of this flows to start.

[2021-10-04 15:59] visheshjindal commented on #229
Cool, Lets just start with that @Canato

Please do assign it to me.

[2021-10-04 19:27] visheshjindal commented on #230
Hi @Canato

I have raised a small PR to initiate the Unit testing for the BitmapUtil class. #232

I request you to kindly review the same.

I analysed that even BitmapUtils class has a lot to cover. I would like to suggest breaking the task into many smaller ones e.g. like Class to be tested along with the major functions. That will definitely bring more contribution and easy to close issue.

Than

[2021-10-05 07:21] Canato commented on #230
For sure, small PRs and iterative work is always better and safer

[2021-10-05 13:52] jashasweejena commented on #226
Thank you @Canato :) !

[2021-10-05 14:57] Zikstar commented on #226
Hi @Canato, I don't know how large the scope of this work will be. But I'll like to help out with this, or writing UI tests

[2021-10-05 16:10] Canato commented on #226
Hey @Zikstar any help will be amazing! Try and let me know

[2021-10-05 18:05] Zikstar commented on #226
I've started working on it @Canato . Do you also want users to be able to specify where they want to pick from as part of CropImageContractOptions? That way in the CropImageActivity, its not a hardcoded value
Something like what I have in the screenshot below

<img width="507" alt="Screen Shot 2021-10-05 at 14 05 01" src="https://user-images.githubusercontent.com/16862777/136078343-37abee58-e510-4

[2021-10-05 18:08] Canato commented on #226
Yes @Zikstar nice approach, we probably need to update `options` to `cropImageOptions` and I expected that our `PIckImageOptions` will have some default value that always show camera and gallery, giving the user the option to update.

[2021-10-05 18:09] Zikstar commented on #226
Cool I'll update that @Canato

[2021-10-05 18:35] jashasweejena commented on #226
Hey @Canato @Zikstar, I was actually working on the same issue.

[2021-10-05 18:37] Canato commented on #226
@jashasweejena can keep working, already saw some PRs that are open and after people find bugs they do not fix, because some stuffs in this library are hard.

If one of you merge before the other, for sure we will have improvements from the second person to put on top of it!

I believe we can bring a good solution together and everyone will be able to help and get some hactoberfest points ^^

[2021-10-05 18:39] jashasweejena commented on #226
Cool @Canato ^_^

[2021-10-05 19:14] jashasweejena commented on #226
Hey @Canato, as it appears that @Zikstar has made some good progress on the issue I don't think it makes sense for me to work on this issue. Is there any issue you'd want me to look into?

[2021-10-05 19:17] Canato commented on #226
Sorry for the messup @jashasweejena feel free to check what Zikstar already did and think about improvements or think in any of the other [issues we have open](https://github.com/CanHub/Android-Image-Cropper/issues?q=is%3Aopen+is%3Aissue+label%3Ahacktoberfest)

Tests and documentation and never enough ^^

[2021-10-05 19:21] Zikstar commented on #226
Sorry to barge in @jashasweejena. This is actually my first open-source contribution, and it's a library I'm familiar with and use at work.

[2021-10-05 19:23] jashasweejena commented on #226
Sure @Canato. No problems @Zikstar, I'm glad that you completed your first contribution. I'm a rookie myself and I know it feels awesome ☺️

[2021-10-05 20:02] Zikstar commented on #226
@Canato How do I update wiki? Is that in the code or on github?

[2021-10-05 20:22] Zikstar commented on #226
Finally, is it fair to say that "Gallery" is a subset of "Documents" based on this?
<img width="671" alt="Screen Shot 2021-10-05 at 16 11 13" src="https://user-images.githubusercontent.com/16862777/136096632-2279b5ad-40ee-455d-bade-2eb727f33270.png">
Because in that case my logic will be,
-  if both includeGallery and includeDocuments are false - add nothing
- if includeDocuments is true, it doesn

[2021-10-06 07:19] Canato commented on #230
Step one done at #232

[2021-10-06 07:21] Canato commented on #226
I saw the PR before this comment, sorry.

We should not assume this if we can split 🤔 maybe using something more specific over `*/*` but not sure.
If is to hard, let's make as subset and let is clear on the code somehow (documentation and name of the variables)

[2021-10-06 07:23] visheshjindal commented on #230
@anadpc You can contribute here.

[2021-10-06 07:26] Canato commented on #230
@visheshjindal I think the tag didn't work, saying cause more help is always good help hahahah

[2021-10-06 14:41] Zikstar commented on #226
So, just looked into mime types, its not possible to use anything more specific, because the results would be irrelevant to images. The other specific mime types are video/*, text/*, audio/*. It has to be a subset. And I can reflect that in the variable names("includeAllDocuments and includeOnlyGallery"). And maybe the documentation can reflect that if you set includeAllDocuments to true, you don'

[2021-10-06 18:57] #226 closed

[2021-10-07 07:15] SandeepDevrari opened #237 "[BUG] - class file has wrong version 55.0, should be 52.0"
Facing this issue-->

private final androidx.activity.result.ActivityResultLauncher<com.canhub.cropper.CropImageContractOptions> cropImage = null;
                                                                                    ^
  bad class file: C:\Users\SandeepDevrari\.gradle\caches\transforms-2\files-2.1\57d675eccf322ad826ef42f0365516b3\jetified-Android-Image-Cropper-3.3.5-api.jar(com/canhu

[2021-10-07 08:33] #237 closed, assigned to nobody

[2021-10-07 17:53] Gauravyadav101 opened #238 "[BUG] - Image crop not work got the Full size image in Android 11"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [e.g. 1.1.0]
 - 3.3.5

**Describe the bug**
When I am open cmera and gallery from both place crop not work means i am getting original size image in Android 11

I am using java Code :

   Uri tempUri = Uri.fromFile(new File(path));
        CropImage.activity(tempUri)
                .setGuideline

[2021-10-08 18:40] Canato commented on #238
When you opened this issue you said was version `3.3.5` of this library, but you just update now.
### So this issue is not valid and I will close it, please open issues with the complete information so I can help better =)

-------
@Gauravyadav101 you have many unnecessary code in your sample

Please check the [Java Sample](https://github.com/CanHub/Android-Image-Cropper/blob/main/sample/src/main/

[2021-10-08 18:40] #238 closed

[2021-10-13 05:30] dkmalviya opened #239 "[BUG] - Resolved path jumped beyond configured root"
- Lib Version 3.3.5

Fatal Exception: java.lang.SecurityException: Resolved path jumped beyond configured root
       at androidx.core.content.FileProvider$SimplePathStrategy.getFileForUri(FileProvider.java:839)
       at androidx.core.content.FileProvider.openFile(FileProvider.java:620)
       at android.content.ContentProvider.openAssetFile(ContentProvider.java:2027)
       at android.content.Co

[2021-10-13 07:13] Canato commented on #239
@dkmalviya cannot reproduce, could you provide a video showing it on the Sample app? Thanks

[2021-10-14 16:27] Canato opened #240 "Stuff 1"

[2021-10-14 16:33] #240 closed, assigned to nobody

[2021-10-14 16:40] Canato opened #241 "Stuff 2"

[2021-10-14 16:41] Canato opened #242 "ovir"

[2021-10-14 16:41] #241 closed, assigned to nobody

[2021-10-14 16:41] #242 closed, assigned to nobody

[2021-10-14 23:47] BlackGold-1989 opened #243 "[Need assist] Can not upload image on several devices Android 11."
Thanks for this wonderful library.
I am using this library to upload image by cropping.
It works well on my device(Android 11, Samsung Galaxy As10), (Android 9, Samsung Note 8).
But did not work on several devices (Redmi, Xiaomi, Motorola API 30)..
It seems to access permission on android 11..
Could you provide sample code to access cropped image file for uploading?
Thanks.

[2021-10-15 01:28] #243 closed, assigned to nobody

[2021-10-18 04:23] JimmyMantilla opened #244 "[Feat] - how can i delete an cropped images from the device storage?"
im trying to able the user to delete some of the cropped images, i have tried file.delete() but the cropped image stills in the app storage, help me please

[2021-10-18 08:22] Canato opened #246 "stuff"

[2021-10-18 08:23] #246 closed, assigned to nobody

[2021-10-19 21:15] Giga233 opened #247 "bad class file"
I'm trying to migrate from ArthurHub Android-Image-Cropper, but I'm currently getting this error

bad class file: ...\jetified-Android-Image-Cropper-3.3.5-api.jar(com/canhub/cropper/CropImageContractOptions.class)
class file has wrong version 55.0, should be 52.0
Please remove or make sure it appears in the correct subdirectory of the classpath

%JAVA_HOME% is set to 'C:\Program Files\Java\jdk1.8.

[2021-10-20 14:44] Sbalanarayanan opened #248 "[BUG] - Front camera image not get updated"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

override fun onActivityResult(requestCode: Int, resultCode: Int, data: Intent?) {
        super.onActivityResult(requestCode, resultCode, data)
        if (requestCode == CropImage.CROP_IMAGE_ACTIVITY_REQUEST_CODE) {
            if (data != null) {
                val result = CropImage.getActivityResult(data)

[2021-10-20 15:23] #247 closed, assigned to nobody

[2021-10-20 15:25] #248 closed, assigned to nobody

[2021-10-21 07:47] alpesh76 opened #249 "its not working in android 11. [BUG] -"
This project is not properly working in android 11.
I compiled this project. It's successfully compiled. But it's not cropping images from a select gallery.

[2021-10-21 07:50] Canato commented on #249
Hey welcome 👋 to the library and thanks for the Issue.

- `The project is working in many projects and Android 11 devices, please provide a video of the sample in this repository not working on the android 11 so we can debug it`

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

I will **close** 🔴  this issue so you can

[2021-10-21 07:50] #249 closed

[2021-10-23 15:34] SergeKozhCxagroup opened #250 "[BUG] - No actions available to crop an image or continue."
Hi!. I can't crop an image after I picked it. After image is chosen I see a cropping screen, but there are no actions to do after the area is selected. Can you help with this please?

My code is:

[code]

![Screenshot_20211023-182851_1](https://user-images.githubusercontent.com/65533619/138562621-c07bef7b-a9d0-460b-b3d2-08834e126050.png)

**Smartphone :**
 - Device: Xiaomi MI A3
 - OS: Android ver

[2021-10-28 04:25] alpesh76 opened #253 "[BUG] - MIUI (Xiaomi) cant pick image from gallery"
Phone Model: Xiomi Redmi K20 Pro
Version: Android 11 (RQ1.200826.002)
CanHub Version: 3.3.5

I tried your sample project & run it. But it didn't work on my phone.
Also, I uploaded a video for the issue.

https://www.youtube.com/watch?v=MY-bo92LFeo

Please check & replay.

[2021-10-29 18:44] alpesh76 commented on #253
2021-10-30 00:11:57.824 1336-1336/com.example.croppersample I/Timeline: Timeline: Activity_launch_request time:435986874
2021-10-30 00:11:57.824 1336-1336/com.example.croppersample I/Timeline: Timeline: Activity_launch_request time:435986874
2021-10-30 00:11:57.824 1336-1336/com.example.croppersample I/Timeline: Timeline: Activity_launch_request time:435986874
2021-10-30 00:12:00.661 1336-1336/com

[2021-10-29 20:19] vd1516 opened #254 "[Feat] - Failed To Resolve"
🚨🚨 Important to remember that this library is maintained for free.
You can check the maintainers plans for the library in the Project tab.
If you really want to have some maintainer working in your feature please check the sponsorship options.
But feel free to suggest features and do yourself, this is a community driven open source library

**Is your feature request related to a problem? Please de

[2021-11-01 09:42] Canato commented on #254
No information

[2021-11-01 09:42] #254 closed

[2021-11-01 09:48] Canato commented on #253
Back this week =)

@alpesh76 if you debug your device and look into `Device File Explorer` can you see this image inside the app folder?

I will work on an solution this week, thanks for the help so far

[2021-11-03 08:13] SergeKozhCxagroup commented on #250
Hi @Canato, it was needed to replace the old library activity (com.theartofdev.edmodo.cropper.CropImageActivity) and it does show the crop action now, thanks!
But now I can't get the result of the cropping, can it be because I am using the 3.2.2 lib version?

[2021-11-03 08:32] Canato commented on #250
@SergeKozhCxagroup try to use the latest version of the library

and create a activity contract so you can get the result

[code]

[2021-11-03 17:29] #239 closed

[2021-11-04 14:01] Alireza-Farahani opened #257 "[Feat] - consumer proguard rules"
Since this a android library and you publish an aar artifact, you can include proguard rules in the final artifact and remove the burden from end user. See [here](https://developer.android.com/studio/projects/android-library#Considerations)
[code]
By the way, is it necessary to keep all of `-keep class androidx.appcompat.widget.** { *; }` classes or could it be more narrowed?

[2021-11-04 14:04] Canato commented on #257
@Alireza-Farahani this is some I heritage and never had the time to take a look, would you mind of opening a PR with this amazing changes? ^^

[2021-11-04 15:42] Alireza-Farahani commented on #257
I can create the PR and I like to, since it seems a great "first PR". It could take a while since I'm not very familiar with PR process.

[2021-11-04 15:53] Canato commented on #257
No issue, take your time to make it good, just keep this thread update!

If you need any help let me know and I will review the code with you before merge =)

[2021-11-04 19:15] Alireza-Farahani commented on #257
I saw in an issue of ArthurHub ImageCropper that the proguard rule is not necessary. I tested your sample via
[code]
and it just worked! Do you have previously faced Proguard issues?

[2021-11-05 16:35] Canato commented on #257
This is very sensible, even what we keep on the proguard is not related to this library. But AndroidX.

This may have issue in some usages of AndroidX with this lib, you are right about that is something we just copied to this library.
- If we decide to remove we need to keep and eye if someone who use this library will have it break and fix on the fly.
- If we add to the library, like you suggest

[2021-11-05 17:28] Canato commented on #253
@ArcherEmiya05 I was checking the link you provide, but they say:

We are not using `ACTION_OPEN_DOCUMENT`, any case I was trying to remove `createChooser` but didn't found any replacement for it. Any suggestion how we could show `Camera Or Gallery` option? 🤔

[2021-11-06 09:41] Alireza-Farahani commented on #257
I would go with the first,
 - The library as you confirmed and as I search it, doesn't reference any `appcompat.widget` classes. All of the library compile dependencies are also androidx libraries which have consumer proguard rules included. For example `appcompat` has:
[code]
So it seems our proguard rule should not be needed.
 - We are using this library in our app, that is near its first releas

[2021-11-06 15:34] alpesh76 commented on #253
Sorry for late replay.

I checked it, I Can't see `temp_image `  in `Device File Explorer` after picking from gallery.
But it available when you capture image from camera. (Camera work perfectly)

[2021-11-08 05:25] saish123 opened #260 "[FEAT] - Compile project for JAVA 8, besides JAVA 11"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version 3.3.5

**Describe the bug**
Application apk is not getting generated in Microsoft App center, and getting following error
 bad class file: /Users/runner/.gradle/caches/transforms-2/files-2.1/31ba530e7fa3634b9e0eaf87be795650/jetified-Android-Image-Cropper-3.3.5-api.jar(com/canhub/cropper/CropImage

[2021-11-08 11:35] kingspride opened #261 "[BUG] - setOnCropImageCompleteListener does not work"
- Lib Version 3.3.6

**Describe the bug**
 setOnCropImageCompleteListener does not work
Lambda function never gets called.

**To Reproduce**
use the CropImageView, then:
create a Lambda function:
[code]
notice that it never gets called when moving and scaling the crop region.

**Expected behavior**
Lambda should get called when releasing the cropping rectangle so that the selected region can be au

[2021-11-09 09:46] Canato commented on #253
@alpesh76 can you reproduce in any of the emulator? so I can try?

[2021-11-09 10:00] Canato commented on #260
Hey @saish123 Thanks for raising this!

We update to Java 11 so it could run on the latest gradle and Android Studio.
I expect the projects will need to update for the latest gradle and Android Studio anyway soon.

Not sure how to make the project run on both environment Java8 and Java11, since Java11 is the latest suggested and support by Google I do not wanna loose it, but I'm open to have both.

[2021-11-09 10:01] Canato commented on #260
Change from `bug` to `feature` cause is working as intent, the request is to make supportive for other versions.

[2021-11-09 10:02] Canato commented on #257
Perfect! Feel free to drop the PR @Alireza-Farahani

[2021-11-09 10:10] Canato commented on #261
Hey @kingspride thanks for the detailed issue, helps a lot to understand and be useful ^^

It should only get called after you call to drop. While selecting the area, moving, scaling we are not cropping yet.
So the way method expectation is to be called after we call crop and after is complete, then we have a result in `setOnCropImageCompleteListener`.

To use crop from the `cropImageView` you nee

[2021-11-09 10:10] Canato commented on #261
I'm closing, since the behaviour looks ok from the text, let's reopen if need, let me know ^^

[2021-11-09 10:12] Canato commented on #230
Until next year

[2021-11-09 10:12] #230 closed

[2021-11-09 10:12] Canato commented on #229
Until next year

[2021-11-09 10:12] #229 closed

[2021-11-09 10:13] Canato commented on #228
Until next year

[2021-11-09 10:13] #228 closed

[2021-11-09 10:13] Canato commented on #227
Until next year

[2021-11-09 10:13] #227 closed

[2021-11-09 10:13] Canato commented on #225
Until next year

[2021-11-09 10:13] #225 closed

[2021-11-09 10:32] kingspride commented on #261
thanks for the clarification; but then I think the lib lacks an important feature.

I need to get the cropped image as soon as the user releases the cropping rectangle.

there's also a setOnSetCropOverlayReleasedListener which in principle does what I want, but unfortunately using this breaks the cropper's automatic zoom.
find a demo video here:
https://cloud.xtlk.de/index.php/s/wCPXQMMJKTSSQPS

m

[2021-11-09 10:41] Canato commented on #261
This is what you mean by broke zoom?

<img width="224" alt="Screenshot 2021-11-09 at 10 40 22" src="https://user-images.githubusercontent.com/15942449/140909485-f64af395-d9a1-4fcc-9049-6739c24a2474.png">

This is what I mean here:

If this is the bug, is not exactly related to the listener, but something else we need to fix, so you can use the `setOnSetCropOverlayReleasedListener` and hopefully we

[2021-11-09 10:45] kingspride commented on #261
yes.
notice how the image doesnt zoom anymore when I reduce the cropping rectangle, while the rectangle does indeed resize itself. also the preview below shows the correctly zoomed portion.

If I dont use the Listener, its behaving normally.

[2021-11-09 10:48] Canato commented on #261
Exactly, I can reproduce this some times on normal usage, so I'm sure is not related to this listener =|

But is some pain to fix this, since is not consistent, but maybe is consistent with `setOnSetCropOverlayReleasedListener ` what will make easier to fix, I will try to check on Friday/Saturday @@

[2021-11-09 13:21] Canato commented on #253
Was doing some test to reproduce, @alpesh76 can you check if work on this device for the version `3.1.3` of the lib?

[2021-11-09 14:39] alpesh76 commented on #253
It doesn't work in `3.1.3`

[2021-11-10 16:27] ArcherEmiya05 commented on #253
It seems only Xiaomi Android 11 probably because of MIUI 12 is causing the issue. Tried to run it on emulator but it works just fine.

[2021-11-10 16:31] ArcherEmiya05 commented on #253
Yes I already tried before to remove the `createChooser` with the sample project and cropping works after selecting image file, unfortunately the camera option will no longer be available. Maybe let's not concatenate them and create an activity with our own chooser implementation.

[2021-11-10 16:39] Canato commented on #253
I'm trying this solution, would you know any option to make this?
We could maybe open a dialog for it, with Camera/Gallery options and open the right intent, what you think?

Wanna do this PR?

[2021-11-10 17:03] ArcherEmiya05 commented on #253
Yes a simple AlertDialog can do the job, we just need to open a dialog with list of options: Camera, Gallery, File Manager and separate each intent from this.

[code]

You might also need to make this `AlertDialog` style editable so users can manipulate the UI according to their requirements as well.

[2021-11-10 17:24] Canato commented on #253
Would make without custom style for the first version. Even because if someone wanna use a custom dialog, they can create they own and call image pick directly with gallery or camera only (what would avoid the dialog) and/or pass the uri directly

[2021-11-10 18:07] ArcherEmiya05 commented on #253
Can you give the sample on accessing the camera, gallery and file manager using this library? I am looking at the Java sample and README file but cannot replicate it. Thanks

[2021-11-11 08:09] hyuwah commented on #253
Can confirm this, i've recently stumbled upon the same issue in another app with devices running MIUI on Android 11. The fix was rather simple but it must be done on user / device side, which was by choosing a default app when opening the intent.

https://user-images.githubusercontent.com/5181388/141261419-0c6cdbdc-462f-40af-826f-9d1a25468a7c.mp4

[Here's related StackOverflow post](https://stacko

[2021-11-11 08:27] Canato commented on #253
Thanks for the update @hyuwah, since this is a problem of MIUI we should not change the behaviour for others platforms that are using Android correctly.

So the best solution would be add a check for MIUI when true it should display the alert dialog, otherwise should keep the behaviour we have today. Making it self contained.

[2021-11-11 08:34] Canato commented on #253
@ArcherEmiya05

We have gallery or camera options only now.
Inside `PickImageContractOptions` you can check the parameters for each.
In the class `SCropImageFragmentJava` you can see the code:
<img width="730" alt="Screenshot 2021-11-11 at 08 30 53" src="https://user-images.githubusercontent.com/15942449/141264601-90a77919-9920-47df-9bcf-5f6ac350fcdc.png">

Where you can play with the variables fo

[2021-11-11 11:42] Canato commented on #260
Was thinking about this, until someone do some change you probably can use the version `3.2.2`

[2021-11-11 12:00] alpesh76 commented on #253
@Canato, Please check this.
Direct open camera is working perfectly, But open chooser & select camera is not working in cropping image.

https://user-images.githubusercontent.com/29017178/141294357-ef391145-4634-42e0-b50e-db1112f6e220.mp4

[2021-11-11 12:06] Canato commented on #253
Hey @alpesh76 I think this is what we have discussion right? What hyuwah said in his comment ^^

Or there is some new information that I'm missing on the video? 🤔

[2021-11-11 12:24] kingspride commented on #261
... I just wanted to add that the zoom gets applied when dragging the cropping rectangle to an edge - maybe this helps finding the root cause ;)

[2021-11-11 16:29] ArcherEmiya05 commented on #253
Again can't access `PickImageContractOptions` I tried to manually import it
`import com.canhub.cropper.PickImageContractOptions;`
but it looks like it is not accessible or removed from the latest version. Can you check this one?

[2021-11-11 16:31] ArcherEmiya05 commented on #253
Nvm it seems it was recently added at 3.3.6.

[2021-11-11 16:35] ArcherEmiya05 commented on #253
I doubt Xiaomi and other problematic Chinese brand will fix this anytime soon, too bad we need to repeat the camera intent.

[2021-11-12 17:31] saish123 commented on #260
Yes @Canato  Sorry for the delay in posting, I have gone through the Library versions and Yes I have updated the library version from latest to 3.2.2 and in the next version you have added support for Android 12 and the library is compiled with Java 11.

Thank you for your prompt response. It was very helpful,It would be good if older projects use library version 3.2.2 which are compiled with Java

[2021-11-13 17:53] jerinamathews opened #263 "[BUG] - java.lang.IllegalArgumentException: column '_data' does not exist. Available columns: [] in Android 11"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

 - Lib Version [e.g. 3.3.6]

**Describe the bug**
I want to process the cropped image generated, and I have the following code to convert the uri to file,
     String img = ContentUriUtils.INSTANCE.getFilePath(context, uri);
     File f = new File(img);

2021-11-13 23:15:01.105 25443-27751/com. W/System.err:

[2021-11-14 14:50] Alireza-Farahani opened #265 "[Feat] - Gradle cleanup"
There are some small unnecessary or deprecated thing in project's gradle files like:
* Since Kotlin 1.4.0, there's no need to add standard library as a dependency
* Since AGP 4.1 `compileSdkVersion`, `targetSdkVersion` and `minSdkVersion` are deprecated in favor of shorter properties of `compileSdk`, `targetSdk` and `minSdk`
* Since AGP 4.2 java 1.8 support is enabled by default. We could mention

[2021-11-15 08:59] #260 closed

[2021-11-15 09:04] Canato commented on #263
@jerinamathews the library has methods to get the file.

On the README we show
[code]

In the sample code we show other ways of doing this, java included.

Please use our method for it and if does not work let me know so we can reopen the issue

[2021-11-15 09:04] #263 closed

[2021-11-15 09:07] Canato commented on #265
Hey @Alireza-Farahani thanks for raising this, please be free to create a PR so we can improve this ^^

We just need to be sure we keep backward compatibility.

[2021-11-15 09:10] #257 closed

[2021-11-16 09:05] #265 closed

[2021-11-17 09:43] Hawksbillcat opened #267 "[Feat] - launch to camera directly"
is that possible to intent to camera after click some UI button and return the image to crop activity?
(can the start picker chahge to optional function?)

[2021-11-17 10:59] Canato commented on #267
Hey @Hawksbillcat welcome to the library.

Good news, is possible ^^. We have many ways of doing this, the simple one is:

[code]

In the above case we let the library do everything.
But if you want to have only camera (without gallery) you can have this code:

[code]

All this code you can find at [crop image sample](https://github.com/CanHub/Android-Image-Cropper/blob/main/sample/src/main/java/c

[2021-11-17 10:59] Canato commented on #267
Will move this to discussion as a Q&A

[2021-11-17 10:59] #267 closed

[2021-11-17 20:34] arpanbag001 commented on #95
Any update on this?
Really need this feature.

[2021-11-18 06:02] hiteshsarsava opened #269 "[BUG] - Fatal Exception: android.content.res.Resources$NotFoundException: Resource ID #0x7f080126"
- Lib Version [3.3.5]

**Describe the bug**
App is got crash in only NEXUS 5X device. I am attaching here the log of crash which is received in crashlytics

**CrashLog**
[code]
I thought the issue is within my app core drawables used. But when I used [this](https://stackoverflow.com/questions/60677193/how-to-find-resource-id-s-now-that-android-studio-no-longer-creates-r-java)  to find out which dr

[2021-11-18 09:29] Canato commented on #95
Hey @arpanbag001 any update will be posted here ^^, sadly I'm not having the most time to dedicate into a new feature, but is open if someone else wanna add =D

[2021-11-18 16:50] Canato commented on #269
Hey @hiteshsarsava thanks for the detailed issue, helps a lot to get context

The icon is a vector, do we have any issues in this device related to vectors? is strange that it say `NotFoundException` because the xml vector is there 🤔

[2021-11-19 12:48] hasanZolfagharipour opened #270 "why need camera permission for using only gallery picker"
Hi
There are two issue with permissions. First of all, Why need camera permission to using this library only for picking image from gallery.
And second, is there any way to use benefits of ActivityResultContracts.TakePicture to take picture and edit it without any permissions ?

[2021-11-19 13:37] Canato commented on #270
Hey @hasanZolfagharipour =D welcome. You are not following the template for issues, but will convert this in a discussion, since this are more like questions, let me try to answer and if we spot something wrong we can open an issue ^^

We do not request camera permission directly, we just ask for `READ` and `WRITE`
[code]

But indeed you are right we need this permission on our code. Until a month

[2021-11-19 13:38] #270 closed

[2021-11-20 20:56] lovemobile1234 opened #273 "[BUG] - Android 11 CropImageView is not working."
I set the CropImageView in my activity.(Java)
When I get the bitmap from Camera Intent, it's not working, but android 10 is working well.

[2021-11-22 09:44] Canato commented on #273
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template,

_Is important to remember that my work here is volunteer and to save time and have better answer help me that people use the templates._

Than

[2021-11-22 09:44] #273 closed

[2021-11-23 13:50] hiteshsarsava commented on #269
@Canato I am also using other vector icons. But it is not creating any problem or crash.

[2021-11-23 14:32] ArmChilingarov opened #274 "[BUG] - FileUriExposedException when trying to lunch only camera intent."
- Lib Version 3.3.6

**Describe the bug**
App gets crashed when I want to open only camera intent .

java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.croppersample/com.canhub.cropper.CropImageActivity}: android.os.FileUriExposedException: file:///storage/emulated/0/Android/data/com.example.croppersample/cache/pickImageResult.jpeg exposed beyond app through ClipData.It

[2021-11-24 15:50] #250 closed

[2021-11-24 22:02] Canato commented on #274
Duplicated of #253

[2021-11-24 22:02] Canato commented on #269
Not sure what we can do here @hiteshsarsava open to suggestions

[2021-11-25 10:00] ArmChilingarov commented on #274
Hey @Canato .

You marked the issue as a duplicate of #253 , but this is absolutely different issue.
If you need more details, I can provide to you .

[2021-11-25 11:33] hiteshsarsava commented on #269
@Canato I think you can place this vector in anydpi folder to accept this configuration for any device to accept it.

[2021-11-25 15:05] aliaksandr-chaulytka opened #276 "[CRASH] - Xiaomi Mi A2 Lite"
Lib Version 3.3.6

**only one device: Xiaomi Mi A2 Lite, Android, 9 P (28)**

CRASH after launch

run code ->
code:
`cropImageCallback.launch(options {
            setCropMenuCropButtonIcon(R.drawable.ic_check_white_small)
            setAllowFlipping(allowFlipping = false)
            setAspectRatio(1, 1)
            setImagePickerContractOptions(
                PickImageContractOptions(

[2021-11-26 10:03] Canato commented on #274
Sorry @ArmChilingarov you are right, I'm reopening, but hopefully the PR I'm working will fix this too

[2021-11-26 10:04] Canato commented on #269
@hiteshsarsava please open a PR with the vector in the place it work for you and we can merge it ^^

[2021-11-26 10:06] Canato commented on #276
Could be related to #253 ???

Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template,

_Is important to remember that my work here is volunteer and to save time and have better answer help me that pe

[2021-11-26 10:06] #276 closed

[2021-11-26 10:17] aliaksandr-chaulytka commented on #276
I guess it isn't connected with #253
<https://github.com/CanHub/Android-Image-Cropper/issues/253>.
I will not reopen this because it is just a crash after running picking
camera flow.

пт, 26 нояб. 2021 г. в 13:06, Canato ***@***.***>:

[2021-11-26 10:20] aliaksandr-chaulytka commented on #276
Please see #274. The same bug

[2021-11-26 20:47] getmlcode opened #279 "Crop points for image with Exif rotation"
### Discussed in https://github.com/CanHub/Android-Image-Cropper/discussions/278

<div type='discussions-op-text'>

<sup>Originally posted by **getmlcode** November 27, 2021</sup>
I need crop points of various regions, in the image and then extract those regions from image on a different server. It works fine for landscape mode , but for other orientations it is not able to extract correct regions

[2021-11-28 12:05] Canato commented on #279
Hey @getmlcode we have the same topic in 2 places now, will close this one for now do we can keep the discussion in one place. We can open a issue later **following the templates** we have in the repository for new features/

[2021-11-28 12:05] #279 closed

[2021-11-28 15:02] Canato commented on #253
If possible please test

To test this changes
`implementation 'com.github.CanHub:Android-Image-Cropper:271-read-files-without-permission-38df1455d6-1'`

All feedbacks at #280

[2021-11-28 15:02] Canato commented on #274
If possible please test

To test this changes
`implementation 'com.github.CanHub:Android-Image-Cropper:271-read-files-without-permission-38df1455d6-1'`

All feedbacks at #280

[2021-11-29 19:21] nokite opened #281 "Cannot build with Java 8, which breaks some CI builds"
- Lib Version 3.3.6

**Describe the bug**
The build fails on machines that have Java 8

**To Reproduce**
1. Take an Android project that successfully builds on a particular machine with JDK 8.
2. The project targets Java 8 (1.8). It uses gradle plugin 4.2.2, gradle 6.9, jettifier (with desugar_jdk_libs)
2. Add the Android-Image-Cropper library to the project.
3. Start a build on the CI and see the

[2021-11-30 09:03] Canato commented on #281
Please check https://github.com/CanHub/Android-Image-Cropper/issues/260 and let me know what you think =D

[2021-11-30 10:23] nokite commented on #281
@Canato Thanks for the link!
(my initial search filter had "is:open", which mislead me and I thought this hadn't been reported)

The change to the updated stack is a good thing, but I think it may have been premature (Java Android 12 + Gradle 7.0.1 + Java 11). It's probably better to keep the library compatible for a while.
I have no idea if compatibility with Java 8 can be ensured with the new st

[2021-11-30 10:40] Canato commented on #281
Indeed is always two face situation, where some people wanna this update and some wanna keep the support.

We decide to update so everyone can have a version that can use.
Who are not using the latest gradle and java suggested by google can use the old library versions like `3.2.2` and can even branch from it to keep the support.

Who update can get the latest with the latest updates.

Of course I

[2021-11-30 16:18] #253 closed

[2021-11-30 16:18] #274 closed

[2021-12-01 13:36] Canato opened #282 "AutoPromo"

[2021-12-01 13:37] Canato opened #283 "PDP refactor"

[2021-12-01 13:41] #282 closed

[2021-12-01 13:41] #283 closed

[2021-12-01 16:27] Ekalips commented on #221
@dkmalviya Issue might be with your image itself. When you are looking at your "5mb" image, you are actually looking at "compressed" image (jpeg, png, etc). Where's android's bitmap is measured as a raw image. To check your raw image size you should do `width * height * quality` (quality is ARGB_8888 by default = 4). From the exception above your image weights like 253mb raw (width*height*4). If y

[2021-12-02 06:03] hiteshsarsava commented on #269
Ok. @Canato Will take time and update you with PR. Thanks.

[2021-12-03 13:31] ramesh998 opened #284 "not showing toolbar or any icon to perform action"
![Screenshot_1638538216](https://user-images.githubusercontent.com/42915529/144610677-826a8de8-3c5d-43ab-b102-70b8927d361b.png)
Not able to save the crop image
Same issue on emulator and real device

[2021-12-03 13:43] Canato commented on #284
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template,

_Is important to remember that my work here is volunteer and to save time and have better answer help me that people use the templates._

Than

[2021-12-03 13:43] #284 closed

[2021-12-10 09:56] hueimin426 commented on #146
I got this error as well. May I know how to solve this?

[2021-12-13 09:49] Morons opened #288 "https://dl.bintray.com distribution"
Please check https://dl.bintray.com there seem to be Orphaned copies of this

[2021-12-13 13:23] Canato commented on #288
Sorry @Morons no idea what you mean by it. Could you please elaborate? We may need to move this for discussion

[2021-12-15 10:17] Mr-Ramzan opened #289 "[BUG] - Transparency lost of any transparent image"
- Lib Version // Project  libVersion = "3.3.6"

**The bug**
When you try to crop an image on which you already ha some transparent pixels(transparent BG) Library fills its background and transparency is lost in result

**To Reproduce**

1. Go to 'Gallery and select any picture or logo with transparent BG'
2. Click on 'Click Save The result as in video will be shown on same screen'
3. Scroll down t

[2021-12-15 10:23] Canato commented on #289
Hey @Mr-Ramzan could you try it on the latest release?

[2021-12-15 10:24] Canato commented on #289
Another point, did you setup the file type?  `setOutputCompressFormat(Bitmap.CompressFormat.PNG)`

[2021-12-15 10:43] Mr-Ramzan commented on #289
Yes same issue
With latest code

[2021-12-15 10:44] Mr-Ramzan commented on #289
I just tested same issue

[2021-12-15 10:55] Canato commented on #289
@Mr-Ramzan could you provide the image you are using so I can test later with the same? Thanks!

[2021-12-15 11:07] Mr-Ramzan commented on #289
![ltixtlrfq5dod0r8q6ws](https://user-images.githubusercontent.com/36961360/146175818-3e8e1aa1-d684-4c9f-b1e3-edaa0ecb3376.PNG)

[2021-12-15 13:39] Canato commented on #289
Hey! not sure what you did to enable PNG format, but check my images... this is what a changed.
And check the video. working for me

<img width="743" alt="Screenshot 2021-12-15 at 13 33 13" src="https://user-images.githubusercontent.com/15942449/146195953-8b02b31d-eeef-4302-a71d-18ee6215565c.png">

<img width="538" alt="Screenshot 2021-12-15 at 13 33 19" src="https://user-images.githubusercontent.

[2021-12-17 06:49] Mr-Ramzan commented on #289
[code]

[2021-12-17 06:50] Mr-Ramzan commented on #289
I have also set compress formate to PNG but it shows a black background ...

[2021-12-17 06:57] Mr-Ramzan commented on #289
It works when I change the Output Compress format thank you very much

[2021-12-17 11:17] Canato commented on #289
I think you are changing the wrong place of the code. Could you change same places I changed and do the same flow?

+ you may want to have less options for the test, since you have `setOutputCompressFormat(Bitmap.CompressFormat.PNG)` twice XD

[2021-12-17 12:53] Mr-Ramzan commented on #289
I changed the output compress format in crop options and it worked as expected.

[2021-12-17 12:57] Mr-Ramzan commented on #289
Thank you for quick Support. Let me know if you want to close the issue or please close by yourself.

[2021-12-17 14:55] Canato commented on #289
Great that is working =D, welcome!

[2021-12-17 14:55] #289 closed

[2021-12-20 21:51] #288 closed

[2021-12-21 11:58] #281 closed

[2021-12-23 06:03] adnangulzar555 opened #290 "[Feat] - how to use in java"
D:\backbackup\31_12_2020\31_12_2020\app\src\main\java\com\wonderApps\TexOnPicture\MainActivity.java:1243: error: cannot find symbol
                    cropImage.crop();
                    ^
  symbol: variable cropImage

i got this error

[2021-12-23 20:11] rushidalvi opened #291 "[BUG]Camera Image Pick Up not working in Xiaomi note 10s, OS 11"

[2021-12-23 21:37] Canato commented on #290
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template,

_Is important to remember that my work here is volunteer and to save time and have better answer help me that people use the templates._

Than

[2021-12-23 21:37] #290 closed

[2021-12-23 21:37] Canato commented on #291
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template,

_Is important to remember that my work here is volunteer and to save time and have better answer help me that people use the templates._

Than

[2021-12-23 21:37] #291 closed

[2021-12-23 22:59] #269 closed

[2021-12-28 15:08] Jeyaseelan2528 opened #292 "Rotation issue after taking photo from camera"
The image is rotated to landscape or 90 automatically, what is the solution for it

[2021-12-28 18:32] techker opened #293 "[BUG] - 502-bad gateway"
🚨🚨 Before open the ticket please check if you can reproduce the bug in the sample code

tried re building an app i had that was working on 3.3.4 got bad gateway 502

tried latest same issue?

Could not HEAD 'https://urbanairship.bintray.com/android/com/github/CanHub/Android-Image-Cropper/4.0.0/Android-Image-Cropper-4.0.0.pom'. Received status code 502 from server: Bad Gateway

 - Lib Version [e.g.

[2021-12-28 18:33] Canato commented on #292
Hey welcome 👋 to the library and thanks for the Issue.

Can you please follow the `template` we have for issues? 🙏
There are many points on the template and will help me to help you.

I will **close** 🔴  this issue so you can reopen following the template,

_Is important to remember that my work here is volunteer and to save time and have better answer help me that people use the templates._

Than

[2021-12-28 18:33] #292 closed

[2021-12-28 18:35] Canato commented on #293
Hey @techker I cannot really read this issue, need better formatting. Could you please reopen filling the template we provide? Thanks!

[2021-12-28 18:35] #293 closed

[2021-12-29 12:16] techker opened #294 "[BUG] - Received 502 from server"
- Lib Version: 3.3.5-4.0.0

**Describe the bug**
[code]
Any version i try i get the same error.

**To Reproduce**
Steps to reproduce the behavior:
1. Build project

**Expected behavior**
1. Build correctly with lib

[2021-12-29 16:30] Canato commented on #294
Hello @techker

I could not reproduce, I build the project and it work for me.

Could you share how are you importing the project and/or a open repository I could check? Thanks

[2021-12-30 12:19] techker commented on #294
oddly even bitrise gave me that error. So i know its not my local internet.i had version 3.2.1. noticed it never complained that the version was outdated, i changed it to latest 4.0.0 and was the same issue.
to fix it i just downloaded and merge directly what i needed.
thx
From Bitrise:

Could not resolve com.github.CanHub:Android-Image-Cropper:3.2.1.
     Required by:
         project :app